<?php $testimonial=$this->getTestimonial(); ?>
<?php if ($testimonial->getSize()): ?>
	<?php $i==0; foreach ($testimonial as $obj):?>
		<?php if($obj->getStatus()==1): ?>
		<?php if ($i > 0) { ?>
			<div class="testimonial-delimiter"></div>
		<?php } ?>
		<div class="single_testimonial_holder<?php if($i==0):?> first<?php endif;?><?php if($i==(count($testimonial)-1)):?> last<?php endif;?>" name="<?php echo $obj->getName(); ?>" id="<?php echo $obj->getName(); ?>">
			<div class="single_testimonial">
				<div class="testimonial-content">
					<h3><?php echo $obj->getName(); ?></h3>
					<?php echo $obj->getTestimonial();?>
				</div>
			</div>
		</div>
		<?php endif ?>
		<?php $i++; ?>
	<?php endforeach;?>
<?php else: ?>
	<p class="note-msg"><?php echo $this->__('There is no testimonial submitted.'); ?></p>
<?php endif ?>