<?php
/**
 * Last Chance template
 *
 */
?>
<?php
   	$_productCollection = Mage::getResourceModel('catalog/product_collection')  
	->addAttributeToSelect(array('*'))  
	->addAttributeToFilter('status', array('eq' => 1))
	->addAttributeToFilter('last_chance', array('eq' => 1));
    $_helper = $this->helper('catalog/output');
?>
<div class="top_nav_service_pages last_chance">
	<h1>Checkout</h1>
</div>
<div class="last_chance_welcome">
	last chance for special savings!
</div>
<?php if(!$_productCollection->count()): ?>
<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
<?php else: ?>
<div class="last_chance_products_holder<?php if($_productCollection->count() < 5) { echo ' last_chance_products_holder_border'; }?>">
	<ul<?php if($_productCollection->count() > 5) { echo 'class="products"'; } ?>>
		<?php $i = 1; ?>
		<?php foreach ($_productCollection as $_product): ?>	
			<li class="products_items">
				<div class="visible_product">
					<div class="grey_box_last_chance">
						<?php 
							$price =  $_product->getPrice();
							$final_price = $_product->getFinalPrice();
						?>
						<span><?php echo round((($price - $final_price)/$price)*100); ?>%</span>off
					</div>
					<div class="image_holder_slider">
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(170,190); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
					</div>
					<p class="product_name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></p>
					<p class="product_desc">
						<?php echo $_product->getSubtitle(); ?>
					</p>
					<p class="product_price_last_chance">
						<span class="special_action"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(),true,false); ?></span><span class="normal_price"><?php echo Mage::helper('core')->currency($_product->getPrice(),true,false); ?></span>
					</p>
				</div>
			</li>
			<?php $i++; ?>
		<?php endforeach; ?>
		<li class="products_items"></li>
	</ul>
</div>

<?php endif; ?>
<div class="proced_to_checkout_last_chance">	
	<a href="<?php echo Mage::helper('checkout/url')->getCheckoutUrl() ?>">No Thanks, Proceed to Checkout ></a>
</div>