<?php
/**
 * Add/redeem Gift Voucher template
 */
?>
<?php /* <div class="page-title">
    <h1><?php echo $this->__('Gift card') ?></h1>
</div> */ ?>
<div class="voucher_holder">
<form id="addredeem-giftvoucher-code" method="post" action="<?php echo $this->getFormActionUrl() ?>">
	<h2>Voucher Redemption</h2>
	<?php /*<div class="voucher_img">
		<img src="<? echo $this->getSkinUrl('img/voucher_logo.png'); ?>"/>
	</div>*/ ?>
	<p>
		Thank you for purchasing your special deal! Let us help you finalize your order. To get started, please enter your voucher code below:
	</p>
	<?php /*<div class="blue_stripe_voucher">
		<img src="<?php echo $this->getSkinUrl('img/last_chance_stripe.png'); ?>"/>
	</div>*/ ?>
	<div class="voucher_code wholesale_right" style="float:none;width:auto;padding:0;text-align:left;margin-right:0px;">
        <?php /* <h2 class="legend"><?php echo $this->__('Add/Redeem a Gift Card') ?></h2> 
        <ul class="form-list">
            <li class="fields">
                <div class="giftvoucher-code">
                    <div class="field">
                        <label for="giftvouchercode" class="required"><em>*</em><?php echo $this->__('Enter Gift Card Code') ?></label>
                        <div class="input-box">
                            <input style="width: 200%;"id="gift-voucher-code" name="giftvouchercode" value="" title="<?php echo $this->__('Enter Gift Card Code') ?>" class="input-text required-entry" type="text">
                        </div>
                    </div>
                </div>
            </li>
        </ul> */ ?>
		<input id="gift-voucher-code" name="giftvouchercode" value="" placeholder="Voucher Code..." title="<?php echo $this->__('Enter Gift Card Code') ?>" class="input-text required-entry" type="text">
		<input type="submit" value="reedem" />
	</div>
	<span>Having trouble?<a href="#">Click here></a></span>
     <?php /*  <div class="buttons-set">
        <p class="required"><em> * </em><?php echo $this->__('Required Fields') ?></p>
        <p class="back-link"><a href="<?php echo $this->getUrl('giftvoucher/index/index') ?>"><small>« </small><?php echo $this->__('Back') ?></a></p>
        <?php if (Mage::helper('giftvoucher')->getGeneralConfig('enablecredit')) { ?>
            <button type="button" onclick="redeemgiftcard()" title="<?php echo $this->__('Redeem Gift Card') ?>" class="button"><span><span><?php echo $this->__('Redeem Gift Card') ?></span></span></button>
        <?php } ?>
        <button type="submit" title="<?php echo $this->__('Add To Your List') ?>" class="button"><span><span><?php echo $this->__('Add To Your List') ?></span></span></button>
    </div>  */ ?>
</form>
</div>	
<script type="text/javascript">
    //<![CDATA[
    var dataForm = new VarienForm('addredeem-giftvoucher-code', true);
    function redeemgiftcard(){
        var clForm = new VarienForm('addredeem-giftvoucher-code', true);
        if (clForm.validator.validate() == false) {
            return false;
        }
        setLocation('<?php echo $this->getUrl("giftvoucher/index/redeem") ?>'+'giftvouchercode/'+ $('gift-voucher-code').value);
    }
    //]]>
</script>