<?php
/**
 * Gift Voucher template
 */
?>
<?php if(Mage::getSingleton("customer/session")->getData("voucher_code")) { ?>
		<?php
			$coupon_code = trim(Mage::getSingleton("customer/session")->getData("voucher_code"));
			$_voucher = Mage::getModel('giftvoucher/giftvoucher')->loadByCode($coupon_code);
		?> 
	<div class="voucher_thank_you_holder">
		<h2>
			Congratulations, hot stuff - your voucher code has been activated!
		</h2>
		<div class="voucher_thank_you_img">
			<img src="<?php echo "/media/" . $_voucher->getVoucherImage(); ?>"/>
		</div> 
		<p class="voucher_blue_text">
			<?php echo $_voucher->getDescription(); ?>
		</p>
		
		<div class="blue_stripe_voucher">
			<img src="<? echo $this->getSkinUrl('img/last_chance_stripe.png'); ?>" />
		</div>
		<div class="voucher_thank_you_button">
			<a href="/">start shopping</a>
		</div>
	</div>
<?php Mage::getSingleton('customer/session')->unsetData("voucher_code"); ?>
<?php } else {?>
	<div class="voucher_thank_you_holder">
		<div class="voucher_thank_you_button">
			<a href="/">start shopping</a>
		</div>
	</div>
<?php } ?>