<?php $_categories=$this->getCurrentChildCategories(); ?>
<div class="products_holder_categories">
	<ul class="categories_all">
		<?php foreach ($_categories as $_category): ?>
			<?php if($_category->getIsActive()): ?>
				<li class="categories_items">
				<? $_category = Mage::getModel('catalog/category')->load($_category->getId()); ?>
					<div class="visible_product_categories">
						<div class="img_holder">
							<img src="<?php echo Mage::getBaseUrl('media').'catalog/category/'.$_category->getThumbnail()  ?>" />
						</div>
						<div class="text-elements">
							<h3 class="category_name"><?php echo $this->htmlEscape($_category->getName()) ?></h3>
							<p class="category_desc">
								Do you crave a beautifully <br/>tempered style?
							</p>
						</div>
					</div>
					<div class="category_hover">
						<a href="<?php echo $_category->getURL() ?>">
							<span class="categories_blue_box">
								<span><?php echo $this->htmlEscape($_category->getName()) ?></span>
								<span class="browse">Browse Category</span>
							</span>
						</a>
					</div>
				</li>
			<?php endif; ?>
		<?php endforeach; ?>
	</ul>
</div>