<div class="service_holder">
	<div class="service_nav_bar">
		<h2><?php echo $this->__('News/Press');?></h2>
	</div>
</div>
<div class="service_text_holder news">
<?php if (Mage::getStoreConfig('clnews/rss/enable')): ?>
    <?php if ($this->getCurrentCategory()): ?>
    <?php $categoryId = $this->getCurrentCategory()->getId() ?>
    <?php endif ?>
    <a href="<?php echo Mage::Helper('clnews')->getRssLink(isset($categoryId)?$categoryId:null) ?>">
        <img src="<?php echo $this->getSkinUrl('css/clnews/images/rss.gif') ?>">
    </a>
<?php endif ?>
</h2>
<?php $items = $this->getNewsItems() ?>
<?php foreach ($items as $item): ?>
<div class="single_news">
    <?php if ($item->getImageShortContentShow() == 1 && $item->getImageShortContent()): ?>
    <?php
        $width_max = Mage::getStoreConfig('clnews/news/shortdescr_image_max_width');
        $height_max = Mage::getStoreConfig('clnews/news/shortdescr_image_max_height');
        if (Mage::getStoreConfig('clnews/news/resize_to_max') == 1) {
            $width = $width_max;
            $height = $height_max;
        } else {
            $imageObj = new Varien_Image(Mage::getBaseDir('media') . DS . $item->getImageShortContent());
            $original_width = $imageObj->getOriginalWidth();
            $original_height = $imageObj->getOriginalHeight();
            if ($original_width > $width_max) {
                $width = $width_max;
            } else {
                $width = $original_width;
            }
            if ($original_height > $height_max) {
                $height = $height_max;
            } else {
                $height = $original_height;
            }
        }
        if ($item->getShortWidthResize()): $width = $item->getShortWidthResize(); else: $width; endif;
        if ($item->getShortHeightResize()): $height = $item->getShortHeightResize(); else: $height; endif;
    ?>
    <img src="<?php echo Mage::helper('clnews')->resizeImage(str_replace('clnews/', '', $item->getImageShortContent()), $width, $height, 'clnews'); ?>" />
    <?php endif; ?>
	<div class="text_single_news">
    <?php if (Mage::helper('clnews')->showDate()): ?>
        <span class="date"><?php echo Mage::helper('clnews')->formatDate($item->getNewsTime()) ?></span>
    <?php endif ?>
	 <h3><a href="<?php echo $item->getUrl($this->getCategory()) ?>" ><?php echo $item->getTitle();?></a></h3>
<?/*     <?php if ($item->getAuthor()): ?>
    <span class="date">&nbsp;<?php if (Mage::helper('clnews')->showAuthor()): ?>|&nbsp; <?php echo $item->getAuthor() ?><?php endif;?></span>
    <?php endif ?> */ ?>
 
        <?php echo $item->getShortContent(); ?>

        <?php if(Mage::helper('clnews')->enableLinkRoute()): ?>
        <?php if($link = Mage::helper('clnews')->getLinkRoute()): ?>
            <a href="<?php echo $item->getUrl($this->getCategory()) ?>" class="more"><?php echo $link . '&raquo;';?></a>
        <?php else: ?>
            <a href="<?php echo $item->getUrl($this->getCategory()) ?>" class="more"><?php echo $this->__('view more') . '&raquo;';?></a>
        <?php endif; ?>
    <?php endif; ?>
    </div>

    <div>
        <?php if($item->getCommentsEnabled()): ?>
            <a href="<?php echo $this->getItemUrl($item->getId()) ?>#commentBox" class="comment"><?php echo $item->getCommentsCount(); ?> <?php echo $this->__('Comment(s)') ?></a>
        <?php endif; ?>
    </div>
</div>
<?php endforeach; ?>



<?php if($this->getLastPageNum()>1): ?>

	<div class="pagination">
		<ul>
		<?php if (!$this->isFirstPage()): ?>
			<li><a href="<?php echo $this->getPreviousPageUrl() ?>"><?php echo $this->__('<') ?></a></li>
		<?php endif;?>
		<?php foreach ($this->getPages() as $_page): ?>
			<?php if ($this->isPageCurrent($_page)): ?>
				<li><span><?php echo $_page ?></span></li>
			<?php else: ?>
				<li><a href="<?php echo $this->getPageUrl($_page) ?>"><?php echo $_page ?></a></li>
			<?php endif ?>
		<?php endforeach; ?>
		<?php if (!$this->isLastPage()): ?>
			<li><a href="<?php echo $this->getNextPageUrl() ?>"><?php echo $this->__('>') ?></a></li>
		<?php endif ?>
		</ul>
	</div>

<?php endif;?>

</div>
