@charset "UTF-8";

   
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q,
small, strike, strong, sub, sup, tt,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
   background: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
}

body {
   background: #FFF;
   color: #050300;
   font-size: 16px;
   font-family: "AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
   text-align: left;
   -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/* The Begining of the End (default styles)
----------------------------------------------- */
fieldset, img, a img { border: 0 solid; }

blockquote:before, blockquote:after,
  q:before, q:after { content:""; }

acronym, abbr { border-bottom: 1px dotted; cursor: help; }

ol, ul { list-style: none; }

a { color: #000; text-decoration: none; }
   a:hover {  }
a:link *, a:visited * { cursor: pointer; }

table { border: 0; border-collapse: collapse; }

textarea { font-family: Arial, Tahoma, sans-serif; } 
legend {	display: none; }

.hidden { display: none !important; }

/* Clearfix method for clearing floats */
.clear { clear: both; }
.floatbox { overflow: hidden; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0; height: 0; visibility: hidden; }
   .clearfix { display:block; }


nav, header, footer, section {
   display: block;
}

/* Fonts
----------------------------------------------- */
@font-face {
   font-family:'AvenirLTStd-Medium';
   src: url('../fonts/AvenirLTStd-Medium_gdi.eot');
   src: url('../fonts/AvenirLTStd-Medium_gdi.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Medium_gdi.woff') format('woff'),
      url('../fonts/AvenirLTStd-Medium_gdi.ttf') format('truetype'),
      url('../fonts/AvenirLTStd-Medium_gdi.svg#AvenirLTStd-Medium') format('svg');
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-25CA;
}
@font-face {
   font-family:'AvenirLTStd-Book';
   src: url('../fonts/AvenirLTStd-Book_gdi.eot');
   src: url('../fonts/AvenirLTStd-Book_gdi.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Book_gdi.woff') format('woff'),
      url('../fonts/AvenirLTStd-Book_gdi.ttf') format('truetype'),
      url('../fonts/AvenirLTStd-Book_gdi.svg#AvenirLTStd-Book') format('svg');
   font-weight: 350;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-25CA;
}
@font-face {
   font-family:'AvenirLTStd-Black';
   src: url('../fonts/AvenirLTStd-Black_gdi.eot');
   src: url('../fonts/AvenirLTStd-Black_gdi.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Black_gdi.woff') format('woff'),
      url('../fonts/AvenirLTStd-Black_gdi.ttf') format('truetype'),
      url('../fonts/AvenirLTStd-Black_gdi.svg#AvenirLTStd-Black') format('svg');
   font-weight: 750;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-25CA;
}
@font-face {
   font-family:'AvenirLTStd-Heavy';
   src: url('../fonts/AvenirLTStd-Heavy_gdi.eot');
   src: url('../fonts/AvenirLTStd-Heavy_gdi.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLTStd-Heavy_gdi.woff') format('woff'),
      url('../fonts/AvenirLTStd-Heavy_gdi.ttf') format('truetype'),
      url('../fonts/AvenirLTStd-Heavy_gdi.svg#AvenirLTStd-Heavy') format('svg');
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
   unicode-range: U+0020-25CA;
}

/* Layouts
----------------------------------------------- */
#wrapper {
   width: 960px;
   margin: 0 auto;
   text-align: left;
   }
   /* =Header(logo,menu...)
   ----------------------------------------------- */
   .top-teaser {
      color: #FFF;
      font: 14px "AvenirLTStd-Black", Arial, Tahoma, sans-serif;
      height: 37px;
      line-height: 37px;
      vertical-align: middle;
      width: 960px;
      margin: 0 auto;
      }
   .top-teaser:before {
      background-color: #917333;
      background-image: -webkit-linear-gradient(left, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
      background-image: linear-gradient(to right, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
      width: 100%;
      height: 37px;
      width: 100%;
      height: 37px;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      z-index: -1;
      }
      .top-teaser__login {
         float: right;
		     white-space: nowrap;
         }
      .top-teaser__link {
         color: #000;
         }

   #header {
      padding: 20px 0 0;
      }
      

      .logo {
         display: block;
         width: 300px;
         height: 85px;
         margin: 0 auto;
         }
      .header__right-nav {
         float: right;
         margin-top: 20px;
         }
         .search {
            position: relative;
            width: 158px;
            float: left;
            }
            .search__input {
               border: none;
               border-top: 1px solid #000;
               border-bottom: 1px solid #000;
               color: #000;
               -webkit-box-sizing: border-box;
                 -moz-box-sizing: border-box;
                      box-sizing: border-box;

               background: #FFF;
               font: 14px/27px "AvenirLTStd-Book", Arial, Tahoma, sans-serif;
               width: 100%;
               height: 27px;
               padding: 0 22px 0 2px;
               }
            .search__input::-webkit-input-placeholder { color: #000; }
            .search__input::-moz-placeholder          { color: #000; }
            .search__input:-ms-input-placeholder      { color: #000; }

            .search__submit {
               background: url("../images/ics-search-basket.png") 0 0;
               border: none;
               width: 21px;
               height: 17px;
               position: absolute;
               right: 2px;
               top: 6px;
               text-indent: -9999px;
               cursor: pointer;
               }
            .cart {
               font: 14px "AvenirLTStd-Book", Arial, Tahoma, sans-serif;
               float: right;
               height: 33px;
               line-height: 33px;
               margin: -2px 0 0 20px;
               }
               .cart__action {
                  color: #000;
                  }
               .cart__count-bar {
                  background: #dabc75;
                  border-radius: 2px;
                  color: #000;
                  display: inline-block;
                  font: 14px "AvenirLTStd-Black", Arial, Tahoma, sans-serif;
                  line-height: 33px;
                  width: 34px;
                  height: 33px;
                  text-align: center;
                  }
               .cart__open-link {
                  background: url("../images/ics-search-basket.png") 100% -34px no-repeat;
                  line-height: 34px;
                  text-decoration: none;
                  vertical-align: top;
                  margin-left: 5px;
                  padding-right: 19px;
                  }


         .main-menu {
            text-transform: uppercase;
            display: table;
            position: relative;
            width: 100%;
            margin: 34px 0 23px;
            }
            .main-menu__item {
               font: 15px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
               display: table-cell;
               }
			   .main-menu__item.active .main-menu__link {
				   color: #a17f3b;
				   font-weight:bold;
					}
               .main-menu__item:hover .main-menu__link {
                  color: #a17f3b;
                  }
               .main-menu__link {
                  display: block;
                  padding-left: 23px;
                  }
            .main-submenu {
               display: none;
               background: #FFF;
               border: 3px solid #dabc75;
               border-radius: 6px;
               -webkit-box-sizing: border-box;
                 -moz-box-sizing: border-box;
                      box-sizing: border-box;
               width: 194px;
               position: absolute;
               z-index: 110;
               margin-left: -3px;
               padding: 8px 23px;
               text-align: left;
               text-transform: uppercase;
               }
            .main-submenu:before {
               background: url("../images/bg-edges.png") 0 -16px no-repeat;
               content: "";
               position: absolute;
               top: 0;
               left: 24px;
               width: 31px;
               height: 13px;
               }
            .main-menu__item:hover .main-submenu {
               display: block;
               }
            .main-submenu__item {
               font: 15px "AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
               }
               .main-submenu__link {
                  background: url("../images/bg-small-dots.png") 0 0 no-repeat;
                  display: block;
                  line-height: 20px;
                  padding: 12px 0 5px;
                  }
               .main-submenu__link:hover {
                  color: #a17f3b;
                  }
               .main-submenu__item:first-child .main-submenu__link {
                  background: none;
                  }
            .main-submenu_shop-grid {
               width: 100%;
               max-height: 300px;
               left: 0;
               margin-left: 0;
               padding-top: 28px;
               padding-bottom: 17px;
               }
               .main-submenu_shop-grid:before {
                  left: 108px;
                  }
               .main-submenu_shop-grid__wrapper {
                  width: 100%;
                  overflow-x: auto;
                  }
               .main-submenu_shop-grid__wrapper::-webkit-scrollbar {
                  background: #f3dba1;
                  height: 5px;
                  border-radius: 2px;
                  }
               .main-submenu_shop-grid__wrapper::-webkit-scrollbar-thumb {
                  background-color: #dabc75;
                  border-radius: 2px;
                  height: 5px;
                  }

                  .main-submenu_shop-grid .main-submenu__item {
                     display: table-cell;
                     text-align: center;
                     }
                     .main-submenu_shop-grid .main-submenu__link,
                     .main-submenu_shop-grid .main-submenu__item:first-child .main-submenu__link {
                        background: url("../images/bg-dots-vertical.png") 100% 50% no-repeat;
                        width: 272px;
                        height: 230px;
                        padding: 0 5px 0 0;
                        }
                     .main-submenu_shop-grid .main-submenu__item:last-child .main-submenu__link {
                        background: none;
                        }
                        .main-submenu__icon {
                           display: block;
                           margin: 20px auto 0;
                           }


      .slider {
         height: 546px;
         border-radius: 12px;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         /*Fix disappearing rounded corners in Webkit*/
         -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
         overflow: visible !important;
         position: relative;
         overflow: hidden;
         margin-bottom: 17px;
         }
         .slider__top-edge {
            background: url("../images/bg-edges.png") 0 0 no-repeat;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 45px;
            height: 16px;
            margin-left: -23px;
            z-index: 110;
            }

         .slider__pages {
            position: absolute;
            right: 33px;
            top: 513px;
            z-index: 110;
            }
            .slider__pages span {
               border: 1px solid #ba9d5f;
               border-radius: 3px;
               text-indent: -9999px;
               width: 14px;
               height: 14px;
               float: left;
               margin-left: 5px;
               cursor: pointer;
               zoom: 1;
               position: relative;
               }
            .slider__pages span:hover,
            .cycle-pager-active {
               background-color: #e5d09e;
               background-color: rgba(218, 188, 117, .7);
               }

      .sub-cats {
         margin-bottom: 36px;
         }
         .sub-cats__item {
            float: left;
            margin-left: 16px;
            }
         .sub-cats .sub-cats__item:first-child {
            margin-left: 0;
            }
         .sub-cats__link {
            background: url("../images/bg-sub-cats.jpg") 0 0 no-repeat;
            display: block;
            -webkit-box-sizing: border-box;
                 -moz-box-sizing: border-box;
                      box-sizing: border-box;
            font: 17px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
            color: #a17f3b;
            line-height: 22px;
            width: 228px;
            height: 190px;
            position: relative;
            padding: 10px 0 0 15px;
			border-radius:20px;
			text-transform:uppercase;
            }
         .sub-cats__link:hover {
            background-position: -244px 0;
            color: #FFF;
            }
            .sub-cats__title {
               left: 97px;
               top: 20px;
               right: 10px;
               position: absolute;
               z-index: 1;
               }

      .description-healthcare {
         margin-bottom: 50px;
         }
         .description-healthcare__header {
            background: url("../images/bg-long-dots.png") 50% 0 no-repeat;
            font: italic 38px "Times New Roman", serif;
            color: #dabc75;
            position: relative;
            text-align: center;
            margin-bottom: 20px;
            padding-top: 8px;
            }
            .description-healthcare__header:before,
            .description-healthcare__header:after {
               font: bold italic 50px "Times New Roman", serif;
               }
            .description-healthcare__header:before {
               content: "\201C";
               margin-left: -20px;
               }
            .description-healthcare__header:after {
               content: "\201D";
               position: absolute;
               bottom: -26px;
               }
         .description-healthcare__text {
            line-height: 28px;
            -webkit-columns: 2 460px;
              -moz-columns: 2 460px;
                   columns: 2 460px;
             -webkit-column-gap: 25px;
              -moz-column-gap: 25px;
                   column-gap: 25px;
            text-align: justify;
            }
      .description-benefits {
         background-color: #ae893f;
         background-image: -webkit-linear-gradient(left, #ae893f 0%, #ddba76 27%, #e8c77f 48%, #cca556 83%, #a4813c 100%);
         background-image: linear-gradient(to right, #ae893f 0%, #ddba76 27%, #e8c77f 48%, #cca556 83%, #a4813c 100%);
         border-radius: 14px;
         border-top-left-radius: 0;
         border-top-right-radius: 0;
         position: relative;
         margin: 0 0 45px;
         padding: 32px 35px 20px 45px;
         }
         .description-benefits:before {
            background: url("../images/bg-edges.png") 0 0 no-repeat;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 45px;
            height: 16px;
            margin-left: -23px;
            }
         .description-benefits__header {
            font: 200 30px "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
            color: #FFF;
            text-align: center;
            margin-bottom: 8px;
            }
         .description-benefits__text {
            font: italic 16px "Times New Roman", serif;
            color: #FFF;
            line-height: 27px;
            -webkit-columns: 2 422px;
              -moz-columns: 2 422px;
                   columns: 2 422px;
             -webkit-column-gap: 33px;
              -moz-column-gap: 33px;
                   column-gap: 33px;
            text-align: justify;
            letter-spacing: -0.0199em;
            }
            .description-benefits__text:before,
            .description-benefits__text:after {
               font: bold italic 36px "Times New Roman", serif;
               }
            .description-benefits__text:before {
               content: "\201C";
               position: absolute;
               margin: -8px 0 0 -25px;
               }
            .description-benefits__text:after {
               content: "\201D";
               vertical-align: -17px;
               }

      .social {
         background: url("../images/bg-long-dots.png") 50% 0 no-repeat;
         font: 18px "AvenirLTStd-Book", Arial, Tahoma, sans-serif;
         width: 176px;
         margin: 0 auto;
         padding: 12px 0 14px;
         }
         .social:after {
            background: url("../images/bg-long-dots.png") 50% 100% no-repeat;
            content: "";
            width: 176px;
            height: 5px;
            position: absolute;
            margin-top: 10px;
            }
         .social-accounts {
            margin-top: 7px;
            }
            .social-accounts__item {
               background: url("../images/ics-social.png") 0 0 no-repeat;
               width: 25px;
               height: 25px;
               margin-right: 4px;
               float: left;
               text-indent: -9999px;
               }
            .social-accounts__item_tw {
               background-position: -29px 0;
               }
            .social-accounts__item_pinterest {
               background-position: -60px 0;
               }
            .social-accounts__item_gplus {
               background-position: -90px 0;
               }
            .social-accounts__item_youtube {
               background-position: -120px 0;
               }
            .social-accounts__item_instagram {
               background-position: -150px 0;
               }
      .credit-cards {
         background: url("../images/img-credit-cards.png") 0 -24px no-repeat;
         width: 199px;
         height: 23px;
         float: right;
         margin-top: -9px;
         }
      .credit-cards:hover {
         background-position: 0 0;
         }

   /* =Main
   ----------------------------------------------- */

   
/* =Footer
----------------------------------------------- */	
#footer {
   margin: 35px 0 30px;
   }
   #footer:after {
      background-color: #ae893f;
      background-image: -webkit-linear-gradient(left, #ae893f 0%, #ddba76 27%, #e8c77f 48%, #cca556 83%, #a4813c 100%);
      background-image: linear-gradient(to right, #ae893f 0%, #ddba76 27%, #e8c77f 48%, #cca556 83%, #a4813c 100%);
      display: block;
      content: "";
      width: 100%;
      height: 33px;
      margin-top: 30px;
      }
   .footer-menu {
      background: #FFF;
      border: 2px solid #dabc75;
      border-radius: 12px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
      position: relative;
      margin-bottom: 30px;
      padding: 30px 40px;
      }
      .footer-menu:before {
         background: url("../images/bg-edges.png") 0 -29px no-repeat;
         content: "";
         position: absolute;
         top: -2px;
         left: 50%;
         width: 47px;
         height: 21px;
         margin-left: -23px;
         }
      .footer-menu__col {
         float: left;
         margin-right: 45px;
         }
         .footer-menu__col-header {
            color: #dabc75;
            font: 16px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
            text-transform: uppercase;
            margin-bottom: 4px;
            }
         .footer-menu__item {
            color: #1a171b;
            font: 12px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
            margin-bottom: 8px;
            }
         .footer-menu__link {
            color: #1a171b;
            }
      .footer-menu__col_subscribe .footer-menu__col-header {
         margin-bottom: 22px;
         }
      .subscribe {
         margin-top: 7px;
         }
         .subscribe__input {
            border: 1px solid #000;
            width: 275px;
            height: 28px;
            line-height: 28px;
            padding: 0 0 0 10px;
            }
         .subscribe__input::-webkit-input-placeholder { color: #1a171b; font-style: italic; }
         .subscribe__input::-moz-placeholder          { color: #1a171b; font-style: italic; }
         .subscribe__input:-ms-input-placeholder      { color: #1a171b; font-style: italic; }
   
   .footer__additional {
      clear: both;
      }
   .additional-nav {

      }
      .additional-nav__header {
         color: #dabc75;
         font: 13px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
         text-transform: uppercase;
         display: inline-block;
         margin-right: 5px;
         }
      .additional-nav__item {
         font-size: 12px;
         display: inline-block;
         margin-right: 17px;
         }
         .additional-nav__item:after {
            position: absolute;
            content: "/";
            margin: 0 0 0 8px;
            }
         .additional-nav .additional-nav__item:last-child:after {
            display: none;
            }
         .additional-nav__link {
            color: #000;
            font-size: 12px;
            }


/*
* https://raw.githubusercontent.com/gilbitron/Ideal-Image-Slider/
*/
.iis-slide {
   display: block;
   bottom: 0;
   text-decoration: none;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   text-indent: -9999px;
}
.iis-effect-slide.iis-direction-next .iis-previous-slide,
.iis-effect-slide.iis-direction-previous .iis-next-slide { opacity: 1; }

/* Touch styles */
.iis-touch-enabled .iis-slide { z-index: 1; }
.iis-touch-enabled .iis-current-slide { z-index: 2; }
.iis-touch-enabled.iis-is-touching .iis-previous-slide,
.iis-touch-enabled.iis-is-touching .iis-next-slide { opacity: 1; }

/* Fade effect */
.iis-effect-fade .iis-slide {
   -webkit-transition-property: opacity;
      -moz-transition-property: opacity;
       -o-transition-property: opacity;
         transition-property: opacity;
   -webkit-transition-timing-function: ease-in;
      -moz-transition-timing-function: ease-in;
       -o-transition-timing-function: ease-in;
         transition-timing-function: ease-in;
   opacity: 0;
}
.iis-effect-fade .iis-current-slide {
   opacity: 1;
   z-index: 1;
}

/*******/
.page-title {
	background:#aa8b58;
	position:relative;
	padding:30px 50px 10px 50px;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}
.cms .page-title {
	background:#a17f3b;
}
	.page-title h2 {
		text-transform:uppercase;
		color:#fff;
		text-align:center;
		font:36px "AvenirLTStd-Book", Arial, Tahoma, sans-serif;
	}
	.page-title ul li {
		display:inline-block;
		text-align:center;
		width:20%;
		font:17px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
		padding-top:20px;
		position:relative;
		text-transform: uppercase;
		color:#fffffe;
		margin-top:-3px;
	}
	.page-title.four ul li.col-1 {
		width:22%;
	}
	.page-title.four ul li.col-2 {
		width:25%;
	}
	.page-title.four ul li.col-3 {
		width:17%;
	}
	.page-title.four ul li.col-4 {
		width:34%;
	}
	.page-title ul li a {
		color:#fffffe;
	}
	.page-title ul li:last-child {
		width:17%;
	}
	.page-title ul li:hover a, .page-title ul li.active a {
		color:#f3dba1;
	}
	.page-title ul li.active {
		background:url('../images/page-title-active.png') no-repeat center top;
	}
	.page-title__top-edge {
		background: url("../images/bg-edges.png") 0 0 no-repeat;
		content: "";
		position: absolute;
		top: 0;
		left: 50%;
		width: 45px;
		height: 16px;
		margin-left: -23px;
		z-index: 110;
		}
	.title-line {
		margin-top:10px;
		border-top:2px solid #f3dba1;
		}
		
.cms-title {
	margin:30px 0;
}
	.cms-title .social-absolute .fb_iframe_widget {
		top:-9px;
	}
	.cms-title h1 {
		font: 24px "AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
		color:#dabc75;
		text-transform:uppercase;
	}
	.social-absolute {
		float:right;
		margin-top:-30px;
	}
		.social-absolute .ttl {
			font: 15px "Times New Roman", serif;
			font-style:italic;
		}
		.right_social_service li {
			display:inline-block;
		}
		.right_social_service li:first-child {
			vertical-align: top;
		}
		.social-absolute .fb_iframe_widget {
			top:-5px;
		}
		
.cms {
	font: 14px/200% "AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
}
	.cms a.contact-support {
		float:right;
		margin: 10px 0 20px 30px;
	}
	.cms .social {
		margin-top:20px;
	}
	.news-item {
		margin-bottom:50px;
	}
		.news-image {
			float:left;
			width:150px;
			height:149px;
			background:url('../images/news-border.png') no-repeat;
			margin-top: 6px;
			margin-right: 40px;
		}
		.news-image img {
			margin:2px;
			width:146px;
			height:145px;
			border-radius:6px;
		}
		.news-date {
			color:#cecece;
		}
		.news-title {
			text-transform:uppercase;
			color:#dabc75;
			font-size:18px;
		}
		
	.single_testimonial_holder {
		border:3px solid #f9edd1;
		border-bottom-right-radius:15px;
		border-bottom-left-radius:15px;
		padding:30px 40px 20px 40px;
		background:url('../images/testimonial-arrow.png') no-repeat 55px 0;
		font-style:italic;
	}
		.single_testimonial_holder h3 {
			color:#dabc75;
			font-size:18px;
			text-transform:uppercase;
			font-style:normal;
			margin-bottom:10px;
		}
		.testimonial-delimiter {
			background:url('../images/testimonial-delimiter.png') no-repeat center center;
			height:70px;
		}
	
	.wholesale_left {
		float:left;
		width:440px;
		border-right:2px solid #dabc75;
		text-align:center;
		font-size:13px;
		padding:30px 40px 80px 0;
		
	}
		.wholesale_left .line1 {
			line-height:150%;
			margin-bottom:40px;
		}
		.wholesale_left .logo_holder {
			margin-bottom:30px;
		}
			.wholesale_left .logo_holder img {
				width:250px;
			}
		.wholesale_left .line2 {
			line-height:150%;
			font-size:14px;
			text-transform:uppercase;
			margin-bottom:30px;
		}
		.thank_you_wholesales {
			line-height:150%;
		}
			.thank_you_wholesales p:first-child {
				font-style:italic;
				margin:0;
			}
	.wholesale_right {
		float:right;
		width:300px;
		padding:20px 0px 40px 60px;
		text-align:center;
		margin-right:110px;
	}
		.wholesale_right input {
			display:block;
			border:1px solid #000;
			padding:4px 5px;
			width:300px;
			margin-top:10px;
			font-size:14px;
			color:#000;
		}
		.wholesale_right select {
			display:block;
			border:1px solid #000;
			padding:4px 5px;
			width:311px;
			margin-top:10px;
			font-size:14px;
			color:#000;
			background:#fff;
		}
		.wholesale_right textarea {
			display:block;
			border:1px solid #000;
			padding:4px 5px;
			width:300px;
			margin-top:10px;
			font-size:14px;
			color:#000;
			height:100px;
		}
		.wholesale_right input:placeholder, 
		.wholesale_right textarea:placeholder {
			color:#000;
		}
		.wholesale_right input[type=submit] {
			margin-left:0;
			margin-bottom:50px;
			border:0;
			background:url('../images/small-btn.png') no-repeat;
			width:190px;
			line-height:49px;
			text-align:center;
			color:#fff;
			font-size:30px;
			text-transform:uppercase;
			margin-top:20px;
		}
		
	.warranty h3 {
		color:#dabc75;
		text-transform:uppercase;
		margin-top:20px;
	}
	.warranty ul li:before {
		content: "•";
		padding-right: 5px;
		color:#a17f3b;
		font-size:1.2em;
	}
		.register_returns {
			background-color: #ae893f;
			background-image: -webkit-linear-gradient(left, #ae893f 0%, #ddba76 27%, #e8c77f 48%, #cca556 83%, #a4813c 100%);
			background-image: linear-gradient(to right, #ae893f 0%, #ddba76 27%, #e8c77f 48%, #cca556 83%, #a4813c 100%);
			border-radius: 14px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			position: relative;
			margin: 0 0 45px;
			padding: 32px 35px 20px 45px;
			margin-top:40px;
		}
         .register_returns_top:before {
            background: url("../images/bg-edges.png") 0 0 no-repeat;
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 45px;
            height: 16px;
            margin-left: -23px;
            }
			.register_returns h4 {
				text-transform:uppercase;
				color:#fff;
				font-size:30px;
				text-align:center;
			}
			.register_returns a {
				display:inline-block;
				background:url('../images/warranty-button.png') no-repeat;
				text-transform:uppercase;
				line-height:54px;
				font-size:19px;
				width:284px;
				margin-bottom:20px;
			}
			.register_returns_left {
				float:left;
				text-align:center;
				width:434px;
				max-width:434px;
				margin-top:-20px;
			}
				.register_returns_left span {
					display:block;
					text-align:center;
					margin-top:40px;
					font-size:25px;
					font-style:italic;
					margin-bottom:30px;
				}
				
			.register_returns_middle {
				float:left;
				text-align:center;
				width:1px;
				height:250px;
				border-left:1px solid #fff;
			}
			.register_returns_right {
				float:left;
				text-align:center;
				width:444px;
				max-width:444px;
				margin-top:-20px;
			}
				.register_returns_right span {
					display:block;
					text-align:center;
					margin-top:40px;
					font-size:14px;
					font-style:italic;
					margin-bottom:30px;
					line-height:120%;
				}
				
.customer-service .service_text_holder h2 {
	color:#a17f3b;
	font: 20px "AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
	margin-top:30px;
	margin-bottom:20px;
}
.customer-service .service_text_holder h3 {
	color:#a17f3b;
	font-size: 16px;
	margin:10px 0;
	font-weight:normal;
}
.customer-service .service_text_holder .accordion_holder h3 {
	color:#000;
	cursor:pointer;
}
.customer-service .service_text_holder .accordion_text {
	background:url('../images/faq.png') no-repeat 30px 0 #fcf6e7;
	font-style:italic;
	padding:30px 30px;
}
.contact .page-title, .ingridients .page-title {
    background:linear-gradient(to right, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
}
.contact .page-title .pull-left, .ingridients .page-title .pull-left {
	float:left;
	width:50%;
}
.contact .page-title h2, .ingridients .page-title  h2 {
	text-align:left;
}
.page-title ul.breadcrumbs li {
	width:auto;
	font-size:12px;
	font-style:italic;
	text-transform:none;
}
.page-title .social-absolute {
	float:left;
	margin-left:50px;
}
.page-title .social-absolute .ttl {
	display:block;
	color:#000;
	font-style:italic;
	text-transform:none;
	margin-bottom:-10px;
	position: static;
    width: auto;
    text-align: left;
    margin-top: 20px;
}
.blog .page-title .social-absolute .ttl, .contact .page-title .social-absolute .ttl {
    display:inline-block;
	margin-bottom:0px;
    margin-top: 0px;
}
.blog .page-title .social-absolute .ttl, .contact .page-title .social-absolute {
    margin-top:10px;
    float:right;
}
.page-title .title-note {
	background:url('../images/fs-line.png') no-repeat;
	padding-left:30px;
	float:left;
	margin-left:-40px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-size: 18px;
	line-height:110%;
	font-weight:bold;
}
.page-title .title-note span {
	color:#000;
	font-style:italic;
	font-size: 14px;
	line-height:110%;
	text-transform:none;
	font-weight:normal;
}
.ingridients .item {
    float:left;
    width:50%;
    margin-bottom:40px;
}
.ingridients .item p {
    padding-right:50px;
}
.ingridients .item-image {
    float:left;
    margin-right:20px;
    border:0px solid #DABC75;
    border-radius:10px;
}
.ingridients .item-image img {
    width:114px;
    height:114px;
    border-radius:10px;
}
.ingridients .item-image:hover img:first-child {
    display:none;
}
.ingridients .item-image img:first-child {
    display:block;
}
.ingridients .item-image img:last-child {
    display:none;
}
.ingridients .item-image:hover img:last-child {
    display:block;
}
.ingridients .item h2 {
    color:#a17f3b;
    font-weight:normal;
}
.left_blog_container {
    float:left;
    width:75%;
}
.left_blog_container > div {
    margin-right:50px;
}
.right_blog_container {
    float:left;
    width:25%;
}
.blog_post_blue_box {
    text-align:center;
    width:80px;
    height:80px;
    float:left;
    background:url('../images/date-bg.png') no-repeat;
    margin-right:20px;
	padding-top: 29px;
	line-height: 120%;
}
.blog_post_blue_box span {
    font-size:33px;
}
.blog_post_blue_box p {
    font-style:italic;
    font-size:14px;
}
.blog_post, .blog_post_article {
    margin-top:40px;
}
.blog_post_social {
    margin:40px 0;
}
.blog_post_social li {
    display:inline-block;
}
.blog_post_social .social_icons {
    text-transform:uppercase;
    float:left;
}
.blog_post_social .comments {
    float:right;
    font-style:italic;
}
.blog_post_social .comments a {
    color:#000;
}
.blog_post_social .fb_iframe_widget {
    top:-10px;
}
.blog_post_social .first_child {
    vertical-align:top;
}
.post-entry {
    text-align:justify;
}
.post-entry h3 {
    color:#a17f3b;
}
.post-entry img {
    padding:10px;
    border:2px solid #aa8b58;
    border-color:linear-gradient(to right, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
    border-radius:5px;
}
.wp-sidebar {
    margin-top:40px;
}
.right_blog_container .categories {
    border-radius:10px;
    margin-bottom:20px;
    background:linear-gradient(to right, #e4c894 0%, #aa8b58 100%);
    padding:20px;
    color:#fff;
    font-size:16px;
}
.right_blog_container .categories.third_box {
    background:none;
    border:2px solid #aa8b58;
    color:#000;
}
.right_blog_container .categories .second_box {
    font-size:14px;
}
.right_blog_container .categories .categories-title, .right_blog_container .categories .archive-title, .right_blog_container .categories .recent-posts-title, .right_blog_container .categories.newsletter_blog h3 {
    text-transform:uppercase;
    font-size:20px;
    color:#fff;
    font-style:normal;
}
.right_blog_container .categories .recent-posts-title {
    color:#a17f3b;
    margin-bottom:20px;
}
.right_blog_container .categories a {
    color:#fff;
}
.right_blog_container .categories.third_box ul {
    color:#a17f3b;
    list-style:disc;
    margin-left:15px;
    font-size:14px;
}
.right_blog_container .categories.third_box a {
    color:#000;
}
.right_blog_container .categories.third_box ul li {
    color:#000;
}
.right_blog_container .categories.newsletter_blog {
    color:#000;
    font-style:italic;
    font-size:14px;
}
.right_blog_container .categories.newsletter_blog p {
    line-height:160%;
}
.right_blog_container .categories.newsletter_blog input {
    border:0;
    padding:10px 10px;
    margin-top:10px;
}
.right_blog_container .categories.newsletter_blog input[type=submit] {
    display:none;
}
.left_blog_container .page-title {
    display:none;
}
.blog_comments_form input[type=text] {
    border:0;
    padding:10px;
    width:253px;
    margin-right:20px;
    font-size:14px;
}
.blog_comments_form input[type=text]:last-child {
    margin-right:0;
}
.blog_comments_form textarea {
    padding:10px;
    border:0;
    width:550px;
    font-size:14px;
    margin-top:20px;
}
.blog_comments_form button {
    background:#fff;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    padding:10px;
    color:#a17f3b;
    text-transform:uppercase;
    border:0;
    font-size:18px;
    display:inline-block;
    margin-top:20px;
    cursor:pointer;
}
.shop h2 {
    color:#000;
    text-transform:uppercase;
    margin-top:40px;
    font-weight:normal;
}
.shop .page-title h2 {
    color:#fff;
    text-transform:none;
    font-size:31px;
    margin-top:16px;
}
.shop p {
    font-size:12px;
    font-style:italic;
}
.shop .sub-cats {
    margin-top:40px;
}
.category_chooser {
    background:linear-gradient(to right, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
    padding:10px;
    margin-top:20px;
}
.category_chooser select {
    background: #fff;
    border: 0;
    padding: 5px 10px;
    margin-left: 10px;
    color:#a17f3b;
}
.number_of_products {
    float:right;
}
.number_of_products li {
    display:inline-block;
}
.sortby {
    color:#fff;
    text-transform:uppercase;
}
.category_all li {
    display:block;
    float:left;
}
.category_product_items {
    float:left;
    width:48%;
    border-bottom:1px solid #a17f3b;
    padding-bottom:30px;
}
li.sep {
    width:4%;
}
li.sep > div {
    height:90%;
    border-left:1px solid #a17f3b;
    margin:20px 18px;
}
.category_all .product_name {
    text-align:center;
}
.category_all .product_price {
    text-align:center;
    font-size:20px;
}
.product_category_hover {
    display:none;
}
.category_all .img_holder {
    text-align:center;
}
.products_holder_category .bottom-pager {
    display:none;
}
.short_nav {
    border-top:1px solid #DABC75;
    padding-top:10px;
}
.product .breadcrumbs li {
    color:#DABC75;
    display:inline-block;
}
.product .breadcrumbs li strong {
    font-weight:normal;
}
.product .breadcrumbs .category22 {
    display:none;
}
.quick_social {
    margin-top:-25px;
    float:right;
}
.quick_social li {
    display:inline-block;
}
.quick_social .fb_iframe_widget {
    top:-10px;
}
.showcase-thumbnail {
    display:none;
}
.showcase-slide {
    display:none;
}
.showcase-slide:first-child {
    display:block;
}
.showcase-slide .large {
    display:none;
}
.product_details_left {
    float:left;
    width:49%;
    border-right:1px solid #DABC75;
    margin-top:40px;
}
.product_details_right {
    float:left;
    width:50%;
    margin-top:40px;
}
.product_details_right > div {
    margin-left:30px;
}
.product_details_right h2 {
    color:#DABC75;
}
.product_details_right .regular-price {
    display:block;
    margin:20px 0;
    font-size:24px;
}
.product_details_right .product-description {
    line-height:150%;
}
.product_details_right select#qty {
    border:1px solid #DABC75;
    padding:5px;
    min-width:100px;
    background:#fff;
    color:#DABC75;
}
.product_details_right .qty {
    margin-top:40px;
}
.product_details_right .qty span {
    display:inline-block;
    width:100px;
    color:#DABC75;
    text-transform:uppercase;
}
.add_to_cart_holder {
    display:inline-block;
    margin-top:30px;
}
.add_to_cart_holder button {
    background:#DABC75;
    color:#fff;
    font-size:30px;
    text-transform:uppercase;
    padding:15px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border:0;
	cursor:pointer;
}
.link-wishlist {
    color:#000;
    display:inline-block;
    margin-top:-3px;
    margin-left:20px;
}
.welcome_product_details {
    padding:30px 40px;
    background:linear-gradient(to right, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
    max-height:340px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    margin-top:50px;
    
}
.left_welcome_product_details {
    float:left;
    width:25%;
    border-right:1px solid #DABC75;
}
.tabs li {
    padding:20px 0;
    text-transform:uppercase;
    font-size:20px;
    font-weight:bold;
}
.tabs li a:hover {
    color:#fff;
}
.tabs li.active a {
    color:#fff;
}
.right_welcome_product_details {
    max-height:340px;
    overflow:auto;
    padding-left:30px;
}
.right_welcome_product_details > div {
    display:none;
}
.right_welcome_product_details > div.active {
    display:block;
}
.right_welcome_product_details .tab-title {
    color:#fff;
    font-size:1.2em;
}
.cart-holder .title-with-bottom {
	font-size:24px;
	margin:20px 0;
}
.cart-holder .cart-table {
	width:100%;
}
.cart-holder .cart-table th {
	color:#dabc75;
	font-size:18px;
	text-transform:uppercase;
	font-weight:normal;
	text-align:center;
}
.cart-holder .cart-table th:first-child {
	text-align:left;
}
.cart-holder .cart-table td:first-child {
	text-align:left;
}
.cart-holder .cart-table tr, .cart-holder .cart-table td {
	vertical-align:middle;
	line-height:100%;
}
.cart-holder .cart-table .product-name {
	color:#dabc75;
	font-size:16px;
	text-transform:uppercase;
	font-weight:normal;
	line-height:150%;
}
.cart-holder .cart-table span {
	font-size:13px;
	font-family:"AvenirLTStd-Book", Arial, Tahoma, sans-serif;
}
.cart-holder .cart-table td {
	padding:20px;
}
.cart-holder .cart-table .description-column {
	width:300px;
}
.cart-holder .cart-table .a-center {
	text-align:center;
}
.cart-holder .cart-table input {
	text-align:center;
	font-size:18px;
	border:1px solid #dabc75;
}
.cart-holder .cart-table span.price {
	font-size:24px;
	font-family:"AvenirLTStd-Heavy", Arial, Tahoma, sans-serif;
}
.page-title.bottom {
	margin-top:40px;
}
.page-title.bottom .pull-left, .page-title.bottom .pull-right {
	width:auto;
}
.page-title.bottom .pull-right {
	float:right;
}
#discount-coupon-form span {
	color:#fff;
	font-size:24px;
	font-family:"AvenirLTStd-Book", Arial, Tahoma, sans-serif;
	display:block;
}
.inputcupon {
	border:0;
	padding:10px;
	font-size:12px;
	font-family:"AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
	font-style:italic;
	color:#000;
}
.inputcupon:placeholer {
	color:#000;
}
#discount-coupon-form button {
	cursor:pointer;
	border:0px solid red;
	background:url('../images/submit-arrow.png') center center no-repeat;
	display:inline-block;
	width: 27px;
	height: 35px;
	left: -30px;
	position: relative;
	top: -4px;
}
.btn-checkout {
	width:173px;
	height:54px;
	line-height:54px;
	background:url('../images/checkout-btn.png') no-repeat;
	color:#dabc75;
	font-size:22px;
	text-transform:uppercase;
	border:0;
	margin-bottom:10px;
	cursor:pointer;
}
.groupon_link span {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:italic;
	color:#000;
	text-transform:none;
	white-space:nowrap;
}
.groupon_link span a {
	color:#000 !important;
}
.text-right {
	text-align:right;
}
.payment-methods {
	text-align: center;
	margin-right: 50px;
	margin-top:-20px;
}
#shopping-cart-totals-table {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:italic;
	color:#000;
	text-transform:none;
}
#shopping-cart-totals-table tr td {
	white-space:nowrap;
	text-align:right;
}
#shopping-cart-totals-table tr td:last-child {
	min-width:150px;
}
#shopping-cart-totals-table tfoot tr td {
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	font-family:"AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
	font-style:normal;
}
#shopping-cart-totals-table tfoot tr td strong {
	font-weight:normal;
}
.login_holder {
	background:none;
	color:#000;
	padding:10px 0;
	margin-bottom:20px;
}
    .login_holder .error-msg {
        color:red;
        margin-top:20px;
    }
    .login_holder .validation-advice {
        color:red;
        padding-left:10px;
        margin-bottom:10px;
        margin-top:-8px;
    }
	.login_holder h2 {
		color:#000;
		font-size:30px;
		margin-bottom:20px;
		font-style:normal;
	}
	.login_holder .login_left {
		float:left;
		width:419px;
		border-right:1px solid #dabc75;
		padding:30px 30px;
		margin-right:30px;
		color:#dabc75;
		font-style:italic;
		font-size:14px;
	}
		.login_holder .login_left input[type="text"],
		.login_holder .login_left input[type="password"] {
			display:block;
			padding:0 10px;
			font-size:13px;
			line-height:30px;
			margin-bottom:10px;
			font-style:italic;
			width:402px;
			height:30px;
		}
		.login_holder .login_left .input-box {
			position:relative;
		}
		.login_holder .login_left .input-box:before {
			content:"*";
			margin-top:8px;
			color:#000;
			position:absolute;
			right:0px;
		}
		.login_holder .login_left .form-list {
			margin-top:20px;
		}
		.login_holder .login_left .checkbox_holder {
			margin:20px 0;
		}
	.login_holder .login_right {
		padding:30px 30px;
		text-align:center;
		color:#000;
		font-size:14px;
		font-style:italic;
	}
		.login_holder .login_right .logo_holder {
			margin-bottom:30px;
		}
		.login_holder .login_right h2 {
			text-align:center;
		}
	.login_holder button {
		border:0;
		background:url('../images/small-btn.png') no-repeat;
		width:190px;
		line-height:49px;
		text-align:center;
		color:#fff;
		font-size:30px;
		text-transform:uppercase;
		margin-top:20px;
	}
	
.register_login {
	background:none;
	color:#000;
	padding:10px 0;
	margin-bottom:20px;
}
    .register_login .error-msg {
        color:red;
        margin-top:20px;
        max-width:390px;
    }
    .register_login .validation-advice {
        color:red;
        padding-left:10px;
        margin-bottom:10px;
        margin-top:-8px;
        max-width:390px;
    }
	.register_login h2 {
		color:#000;
		font-size:30px;
		margin-bottom:20px;
		font-style:normal;
		text-align:center;
	}
	.register_login .register_login_left {
		float:left;
		width:419px;
		border-right:1px solid #dabc75;
		padding:90px 30px 109px 30px;
		margin-right:30px;
		color:#dabc75;
		font-style:italic;
		font-size:14px;
	}
		.register_login input[type="text"],
		.register_login input[type="password"] {
			display:block;
			padding:0 10px;
			font-size:13px;
			line-height:30px;
			margin-bottom:10px;
			font-style:italic;
			width:402px;
			height:30px;
		}
		.register_login .input-box {
			position:relative;
		}
		.register_login .input-box:before {
			content:"*";
			margin-top:8px;
			color:#000;
			position:absolute;
			right:10px;
		}
		.register_login .form-list {
			margin-top:20px;
		}
		.register_login .checkbox_holder {
			margin:20px 0;
		}
	.register_login .register_login_right {
		padding:30px 0px;
		text-align:left;
		color:#000;
		font-size:14px;
		font-style:italic;
		float:left;
	}
		.register_login .logo_holder {
			margin-bottom:30px;
		}
	.register_login .register_login_right label {
	    padding-left:3px;
	}
	.register_login button {
		border:0;
		background:url('../images/small-btn.png') no-repeat;
		width:190px;
		line-height:49px;
		text-align:center;
		color:#fff;
		font-size:30px;
		text-transform:uppercase;
		margin-top:20px;
	}
	.register_login_left {
	    text-align:center;
	}
	.register_login_left ul {
	    margin-top:20px;
	}
	.register_login .control .input-box {
	    float:left;
	}
	.register_login .control .input-box:before {
		display:none;
	}
	.register_login .control label {
	    display:inline-block;
	    padding-top:5px;
	}
	
.my-account .service_holder, .top_nav_service_pages {
    background:url('../images/bg_box.png') no-repeat;
	
    text-align:center;
    padding:30px 0 50px 0;
}
    .my-account .service_holder h2, .top_nav_service_pages h1 {
        margin:0 30px;
        padding-bottom:10px;
        border-bottom:1px solid #fff;
        color:#fff;
        font-size:40px;
    }
	.my-account .top_nav_service_pages ul {
		text-align:center;
		margin-top:20px;
	}
		.my-account .top_nav_service_pages ul li {
			display:inline-block;
			margin-right:30px;
		}
			.my-account .top_nav_service_pages ul li.active {
				font-weight:bold;
			}
.my-account .service_text_holder {
    border:1px solid #ccc;
    padding:30px;
}
    .my-account .service_text_holder p {
        margin:0px 0 20px 0;
        font-style:italic;
        font-size:12px;
    }
    .my-account .service_text_holder .buttons-set .required {
        font-size:12px;
        font-style:italic;
    }
    .my-account .service_text_holder button {
        border:0;
        background:url('../images/small-btn.png') no-repeat;
        width:190px;
        line-height:49px;
        text-align:center;
        color:#fff;
        font-size:30px;
        text-transform:uppercase;
        margin-top:20px;
    }
    .my-account .service_text_holder input[type="text"],
	.my-account .service_text_holder input[type="password"] {
		display:block;
		padding:0 10px;
		font-size:13px;
		line-height:30px;
		margin-bottom:10px;
		font-style:italic;
		width:402px;
		height:30px;
	}
	.my-account .service_text_holder .input-box {
		position:relative;
		left:-2px;
		width:422px;
	}
	.my-account .service_text_holder .input-box:before {
		content:"*";
		margin-top:8px;
		color:#000;
		position:absolute;
		right:10px;
	}
	.my-account .service_text_holder .error-msg {
        color:red;
        margin-top:20px;
        margin-bottom:20px;
        max-width:390px;
    }
    .my-account .service_text_holder .validation-advice {
        color:red;
        padding-left:10px;
        margin-bottom:10px;
        margin-top:-8px;
        max-width:390px;
    }

.col2-set {
	
}
	.col2-set:after {
		content: " ";
		clear:both;
		display:block;
	}
	.col2-set .col-1 {
		width:50%;
		float:left;
	}
	.col2-set .col-2 {
		clear:right;
		width:50%;
		float:left;
	}

.box {
	padding:10px;
}
	.box .box-title {
		padding:10px;
		border-bottom:1px solid #ccc;
	}
	.box .box-title a {
		float:right;
		margin-top:-17px;
	}
	.box .box-content {
		padding:10px;
	}
.service_text_holder {
	margin-bottom:20px;
}
.my-account select {
	width: 100%;
	height: 35px;
	font-size: 13px;
	font-style: italic;
}
.input-box.no-before:before {
	content:"";
}
.my-account .fields {
	margin-bottom:10px;
}
.service_holder button {
	background:transparent;
	border:none;
	color:#dabc75;
	cursor:pointer;
	margin-top:10px;
}
.col-1 > h2, .col-2 > h2 {
	border-bottom:1px solid #ccc;
	margin-bottom:10px;
}
.success-msg {
	padding:20px;
	background:rgb(227, 240, 227) none repeat scroll 0% 0%;
	margin-bottom:20px;
}
#wishlist-table td, #wishlist-table th {
	padding:10px;
	vertical-align:top;
}
#wishlist-table tr {
	vertical-align:top;
}
#my-orders-table {
	width:100%;
}
#my-orders-table td, #my-orders-table th {
	padding:10px;
	vertical-align:top;
}
#my-orders-table tr {
	vertical-align:top;
}
#my-orders-table tfoot .a-right {
	text-align:right;
}
.order-items {
	border: 1px solid rgb(204, 204, 204);
	margin-top: -21px;
	margin-bottom:20px;
}
.last_chance_welcome {
	margin-top:20px;
	margin-bottom:40px;
	font-size:20px;
	text-align:center;
	border-bottom:1px solid #000;
	text-transform:uppercase;
}
.products_items {
	width:25%;
	display:inline-block;
	text-align:center;
	vertical-align:top;
}
.visible_product {
	margin:10px;
}
.grey_box_last_chance {
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
	background:#eee;
}
.product_price_last_chance:after {
	content:" ";
	clear:both;
	display:block;
}
.product_price_last_chance .normal_price {
	text-decoration:line-through;
	color:#aaa;
	float:right;
}
.product_price_last_chance .special_action {
	float:left;
}
.proced_to_checkout_last_chance {
	margin:50px;
	text-align:center;
	font-weight:bold;
}
.last_chance_products_holder.last_chance_products_holder_border .product_name {
	text-align:center;
	margin-bottom:10px;
	height:50px;
}
.opc .section .step-title {
	padding:10px;
	color:#050300;
	background:url('../images/checkout-item.png') 0 0;
	margin:10px 0;
	max-height:21px;
	height:21px;
}
.opc .section .step-title:hover {
	background:linear-gradient(to right, #917333 0%, #b39869 17%, #f9dfa8 39%, #e4c894 63%, #aa8b58 100%);
	border-radius: 0 0 7px 7px;
}
.opc .section.active .step-title {
	color:#000;
	background:none;
}
.opc .section .step-title .number {
	float:left;
	font-weight:bold;
	margin-right:20px;
	color:#dabc75;
}
.opc .section .step-title h2 {
	float:left;
	font-size:1em;
}
.opc .section .step-title a {
	float:right;
}
.opc .section .step-title:after {
	content:" ";
	display:block;
	clear:both;
}
.opc .step {
	border:1px solid #ccc;
	padding:20px;
}
.opc .step h3 {
	text-transform:uppercase;
	font-weight:normal;
	padding-bottom:20px;
	margin-right:10px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc;
	color:#dabc75;
}
.opc button {
	border:0;
	background:url('../images/small-btn.png') no-repeat;
	width:190px;
	line-height:49px;
	text-align:center;
	color:#fff;
	font-size:30px;
	text-transform:uppercase;
	margin-top:20px;
}
.opc input[type="text"],
.opc input[type="password"] {
	display:block;
	padding:0 10px;
	font-size:13px;
	line-height:30px;
	margin-bottom:10px;
	font-style:italic;
	width:402px;
	height:30px;
}
.opc .input-box {
	position:relative;
	left:-2px;
	width:422px;
}
.opc .input-box:before {
	content:"*";
	margin-top:8px;
	color:#000;
	position:absolute;
	right:10px;
	z-index:0;
}
.opc .input-box select {
	position:relative;
	z-index:1;
}
.opc .error-msg {
	color:red;
	margin-top:20px;
	margin-bottom:20px;
	max-width:390px;
}
.opc .validation-advice {
	color:red;
	padding-left:10px;
	margin-bottom:10px;
	margin-top:-8px;
	max-width:390px;
}
.opc select {
	width: 100%;
	height: 35px;
	font-size: 13px;
	font-style: italic;
	margin-bottom:10px;
	display:block;
}
.opc {
	margin-bottom:30px;
}
#checkout-review-table {
	font-family:"Times New Roman", serif;
	font-size:14px;
	font-style:italic;
	color:#000;
	text-transform:none;
	width:100%;
}
#checkout-review-table tr td {
	white-space:nowrap;
	text-align:right;
	padding:5px;
}
#checkout-review-table tr th {
	padding:5px;
}
#checkout-review-table tr td:last-child {
	min-width:150px;
}
#checkout-review-table tfoot tr td {
	color:#000;
	font-size:1em;
	font-family:"AvenirLTStd-Medium", Arial, Tahoma, sans-serif;
	font-style:italic;
}
#checkout-review-table tfoot tr.last td {
	font-size:1.5em;
	text-transform:uppercase;
}
#checkout-review-table tfoot tr td strong {
	font-weight:normal;
}
#checkout-review-table h3 {
	border:none;
	text-align:left;
}
#checkout-review-table .a-right {
	text-align:right;
}
#checkout-review-table .a-center {
	text-align:center;
}
.sub-cats__link.shop-page {
	position:relative;
	display:block;
	width:228px;
	height:353px;
}
.sub-cats__link.shop-page .img-hover {
	display:none;
}
.sub-cats__link.shop-page:hover .img-hover {
	display:block;
}
.sub-cats__link.shop-page:hover .img-default {
	display:none;
}
.sub-cats__link.shop-page .sub-cats__title {
	left:10px;
	text-align:center;
}
.sub-cats__link.shop-page img {
	position:absolute;
	top:0;
	left:0;
}
.blog-pager ol li {
	display:inline-block;
	margin-right:20px;
}

#category-carousel-navigation {
	position:relative;
	width:100%;
}
#category-carousel-navigation2 {
	position:relative;
	width:100%;
}
#category-carousel-navigation #category-carousel-left {
	display:block;
	position:absolute;
	left:-30px;
	height:190px;
	border:0px solid red;
	line-height:190px;
}
#category-carousel-navigation #category-carousel-right {
	display:block;
	position:absolute;
	right:-30px;
	height:190px;
	border:0px solid red;
	text-align:right;
	line-height:190px;
}
#category-carousel-navigation2 #category-carousel-left {
	display:block;
	position:absolute;
	left:-30px;
	height:400px;
	border:0px solid red;
	line-height:400px;
}
#category-carousel-navigation2 #category-carousel-right {
	display:block;
	position:absolute;
	right:-30px;
	height:400px;
	border:0px solid red;
	text-align:right;
	line-height:400px;
}
#category-carousel-left img,
#category-carousel-right img {
	vertical-align: middle;
}
#category-carousel {
	position:relative;
	width:100%;
	overflow:visible;
	max-height:190px;
	overflow:hidden;
	margin-bottom:10px;
}
#category-carousel2 {
	position:relative;
	width:100%;
	overflow:visible;
	max-height:400px;
	overflow:hidden;
	margin-bottom:10px;
}
.thank_you_note input[type=submit] {
	margin-left:0;
	margin-bottom:50px;
	border:0;
	background:url('../images/small-btn.png') no-repeat;
	width:190px;
	line-height:49px;
	text-align:center;
	color:#fff;
	font-size:20px;
	text-transform:uppercase;
	margin-top:20px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
     #discount-coupon-form button { top:11px; }
}