#wrapper{
	width: 100%;
	max-width: 960px;
}
#wrapper .wrapper{
	min-width: inherit;
}
.main{
	width: initial !important;
}
.icon-menu{
	float: right;
	width: 50px;
    height: 40px;
	background: #a17f3b;
	overflow: hidden;
	display: none;
}
.icon-menu button {
	margin:0px;
	background: none;
	float: none;
}
.icon-menu button span{
	display: block;
}
.icon-menu .lines-button {
	padding: 18px 7px;
	/*transition: .3s;*/
	cursor: pointer;
	/*@include opacity(1);*/
    border: none;
   /* &.close{
    	.lines:before,.lines:after{
    		left: 0px;
    	}
    }*/
}
.icon-menu .lines, .icon-menu .lines:after, .icon-menu .lines:before {
    width: 35px;
    height: 3px;
}
.icon-menu .lines{
	width: 35px;
	height: 3px;
	/*&:before,&:after{
		@include sizeEx(43px,3px);
	}*/
}
.text_holder_product_details .form-list input.input-text{
	max-width: 236px;
	width: 100%;
	height: 25px;
	padding: 0 10px;
}
.text_holder_product_details .form-list textarea{
	max-width: 236px;
	height: 126px;
	width: 100%;
	padding: 0 10px;
}
.page-title{
	width: initial !important;
}
.logo{
	height: auto;
}
.logo img{
	max-width: 100%;
}
.top-teaser{
	width: initial;
	max-width: 960px;
}
#category-slider{
	margin-bottom: 60px;
}
#category-slider .item{
	margin:0 6px;
}
#category-slider .slick-arrow:before{
	display: none;
}
#category-slider .slick-arrow{
	width: 17px;
	height: 32px;
}
#category-slider .slick-prev{
	background: url(../images/chevron_left.png) center top no-repeat;
}
#category-slider .slick-next{
	background: url(../images/chevron_right.png) center top no-repeat;
}
#category-slider .sub-cats__link{
	margin:0 auto;
}
#category-slider .slick-dots li {
	width: 10px;
	height: 10px;
}
#category-slider .slick-dots li button{
	background: #000;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
#category-slider .slick-dots li.slick-active button,#category-slider .slick-dots li button:hover{
	background: #dabc75;
}
#category-slider .slick-dots li button:before{
	display: none;
}
.catalog-category-view .social{
	margin-top:20px;
}
#home-slider.slider{
	height: auto;
}
#home-slider .cycle-slide img{
	display: block;
	max-width: 100%;
}
#home-slider.slider .slider__pages{
	top: initial;
    bottom: 15px;
}
/*.service_text_holder{
	text-align:center;
	padding-top: 20px;
	max-width: 410px;
	width: 100%;
	margin:0 auto;
}*/
.service_text_holder .form-list{
	margin-top:20px;
 	text-align: left;
}
.service_text_holder .input-box{
	margin-top:10px;
	background: none;
	padding: 0 10px 0 10px;
	border: 1px solid #000;
	height: 30px;
}
.service_text_holder .input-box input{
	background: none;
	width: 100%;
	padding: 0px;
	border: none;
	height: auto;
	margin:0px;
	box-shadow: none;
	outline: none;
	height: 100%;
}
.service_text_holder .buttons-set{
	margin-top:10px;
}
.service_text_holder .buttons-set button{
	margin-top:10px;
	border: 0;
    background: url('../images/small-btn.png') no-repeat;
    width: 190px;
    line-height: 49px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.my-account .service_holder, .top_nav_service_pages{
	background-position: center top;
}
#category-slider2{
	margin-bottom: 60px;
}
#category-slider2 .item{
	margin:0 6px;
}
#category-slider2 .slick-arrow:before{
	display: none;
}
#category-slider2 .slick-arrow{
	width: 17px;
	height: 32px;
}
#category-slider2 .slick-prev{
	background: url(../images/chevron_left.png) center top no-repeat;
}
#category-slider2 .slick-next{
	background: url(../images/chevron_right.png) center top no-repeat;
}
#category-slider2 .sub-cats__link{
	margin:0 auto;
}
#category-slider2 .slick-dots li {
	width: 10px;
	height: 10px;
}
#category-slider2 .slick-dots li button{
	background: #000;
	border-radius: 50%;
	width: 10px;
	height: 10px;
}
#category-slider2 .slick-dots li.slick-active button,#category-slider2 .slick-dots li button:hover{
	background: #dabc75;
}
#category-slider2 .slick-dots li button:before{
	display: none;
}
/* page Login */
.login_holder .login_left{
	max-width: 419px;
	width: 100%;
}
.login_holder .input-box{
	text-align: left;
}
.login_holder .login_left input[type="text"], .login_holder .login_left input[type="password"]{
	width: 90%;
	padding-right: 20px;
}
.login_holder .login_left .input-box:before{
	right: 15px;
}

/* page Register */
.register_login .register_login_right{
	max-width:410px;
	width: 100%;
}
.register_login .input-box{
	text-align: left;
}
.register_login input[type="text"], .register_login input[type="password"]{
	width: 90%;
	padding-right: 20px;
}
.register_login .control .input-box{
	background: none;
    border: none;
    padding: 0px;
    height: auto;
    margin: 5px 0 0 0;
}
.register_login .input-box:before{
	right: 15px;
}
.footer-menu__col_subscribe{
	margin-right: 0px;
}
#showcase .small img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
.lines-button:hover {
  opacity: 1;
}
.lines-button:active {
  transition: 0;
}

.lines {
  display: inline-block;
  width: 4rem;
  height: 0.57143rem;
  background: #fff;
  border-radius: 0.28571rem;
  transition: 0.3s;
  position: relative;
}
.lines:before, .lines:after {
  display: inline-block;
  width: 4rem;
  height: 0.57143rem;
  background: #fff;
  border-radius: 0.28571rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}
.lines:before {
  top: 8px;
}
.lines:after {
  top: -8px;
}

/*.lines-button:hover .lines:before {
  top: 1.14286rem;
}
.lines-button:hover .lines:after {
  top: -1.14286rem;
}*/

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8);
}

.lines-button.arrow.close .lines:before, .lines-button.arrow.close .lines:after {
  top: 0;
  width: 2.22222rem;
}
.lines-button.arrow.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 40deg);
  transform: rotate3d(0, 0, 1, 40deg);
}
.lines-button.arrow.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -40deg);
  transform: rotate3d(0, 0, 1, -40deg);
}

.lines-button.arrow-up.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
}

.lines-button.minus.close .lines:before, .lines-button.minus.close .lines:after {
  -webkit-transform: none;
  transform: none;
  top: 0;
  width: 4rem;
}

.lines-button.x.close .lines {
  background: transparent;
}
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 4.5rem;
  left: -2px;
}
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
@media only screen and (max-width: 980px){
	#header{
		padding: 20px 15px 0 15px;
	}
	#header nav{
		margin-bottom:10px;
		position: relative;
		z-index: 120;
	}
	#header .icon-menu{
		display: block;
	}
	.main-menu{
		display: none;
		position: absolute;
		top: 40px;
		right: 0px;
		width: 280px;
		background: #a17f3b;
		margin:0px;
	}
	.main-menu li{
		display: block;
		padding: 8px 0;
	}
	.main-submenu_shop-grid img{
		display: none;
	}
	.main-submenu{
		background: none;
		position: relative;
		border:none;
		padding: 0px 0 0 40px;
		text-align:left;
		display: block;
		max-height: none;
		width: 100%;
	}
	.main-menu__item a{
		color:#fff !important;
	}
	.main-submenu:before{
		display: none;
	}
	.main-submenu_shop-grid__wrapper{
		overflow: initial;
	}
	.main-submenu_shop-grid .main-submenu__item{
		display: block;
	}
	.main-submenu_shop-grid .main-submenu__link, .main-submenu_shop-grid .main-submenu__item:first-child .main-submenu__link{
		height: inherit;
		width: inherit;
		background: none;
		text-align: left;
	}
	.main-submenu__link{
		padding: 0px;
		background: none;
	}
	.top-teaser{
		padding: 0 15px;
	}
	.main{
		padding:0 15px;
	}
	.page-title{
		padding: 30px 10px 10px 10px;
	}
	.short_nav .quick_social{
		float: none;
		margin:10px 0 0 0;
	}
	.blog .page-title .social-absolute .ttl, .contact .page-title .social-absolute,.page-title .social-absolute{
		margin-left: 0px;
	}
	/* page Contact */
	.wholesale_left{
		width: 380px;
	}
	.wholesale_right{
		padding-left: 0px;
		margin-right:80px;
	}
	/* page Register */
	.register_login .register_login_left{
		width: 38%;
	}
	.left_blog_container{
		padding-right: 15px;
		width: 72%;
	}
	.left_blog_container > div{
		margin-right:0px;
	}
	.post-entry img{
		max-width: 92%;
	}
	.right_blog_container .block-content img{
		display: block;
		margin:0 auto 20px;
		max-width: 100%;
		height: auto;
	}
	.cart-holder .page-title .pull-left{
		float: none;
	}
	.cart-holder #discount-coupon-form{
		text-align:center;
	}
	#shopping-cart-totals-table{
		margin:0 auto;
	}
	.page-title.bottom .pull-right{
		float: none;
	}
	.payment-methods{
		margin-top: 0px;
	}
	/* Footer */
	#footer{
		padding: 0 15px;
	}
	
}
@media only screen and (max-width: 860px){
	.wholesale_left {
	    width: 310px;
	}
	.wholesale_right{
		margin-right: 30px;
	}
	.register_login .register_login_right{
		max-width: 320px;
	}
	.login_holder .login_left{
		max-width: 390px;
	}
}
@media only screen and (max-width: 768px){
	.header__right-nav{
		padding-right: 15px;
	}
	.header__right-nav:after{
		content: '';
		display: block;
		clear:both;
	}
	.social-absolute{
		float: none;
		margin:10px 0 0 0;
	}
	.contact .page-title .pull-left, .ingridients .page-title .pull-left{
		float: none;
		width: 100%;
	}
	.page-title ul.breadcrumbs{
		text-align: left;
	}
	.page-title .right_social_service li{
		padding:0px;
	}
	.blog .page-title .social-absolute .ttl, .contact .page-title .social-absolute{
		float: none;
	}
	.page-title .right_social_service{
		text-align: left;
	}
	.page-title .title-note{
		margin-left: 20px;
	}
	.cart-holder #form-shopping-cart{
		overflow-x: scroll;
	}
	.cart-holder .cart-table{
		width: 768px;
	}
}
@media only screen and (max-width: 767px){
	.my-account .service_holder h2, .top_nav_service_pages h1{
		font-size: 24px;
		margin:0 15px;
	}
	.login_holder .login_left{
		float: none;
		margin:0 auto;
		border-right: none;
		padding: 0px;
		text-align: center;
	}
	.login_holder .login_right{
		border-top:1px solid #dabc75;
		padding: 0 15px;
		margin-top: 20px;
	}
	.login_holder .buttons_holder{
		text-align:center;
	}
	.register_login .register_login_right{
		max-width: 390px;
		margin:0 auto;
		float: none;
	}
	.register_login .register_login_left{
		width: 100%;
		float: none;
		padding: 0px 0 20px 0;
		border-right:none;
		border-bottom:1px solid #dabc75;
	}
	.logo{
		width: 220px;
		margin-top: 10px;
	}
	.page-title h2{
		font-size: 28px;
	}
	.page-title ul{
		text-align:center;
		margin-top: 10px;
	}
	.page-title ul li{
		width: inherit !important;
		padding:5px 10px 0;
	}
	.page-title ul li.active{
		background: none;
	}
	.page-title .title-note{
		display: none;
	}
	.description-benefits{
		padding: 32px 25px 20px 25px;
	}
	/* Page ingridients */
	.ingridients .item{
		width: 100%;
	}
	.ingridients .item p{
		padding-right: 0px;
	}
	/* page Contact */
	.contact .cms-title{
		padding: 0 15px;
	}
	.wholesale_left{
		width: 100%;
		float: none;
		padding: 0px 0 10px 0;
		border-right:none;
		border-bottom:2px solid #dabc75;
	}
	.wholesale_right{
		float: none;
		padding-left: 0px;
		margin:0px auto;
	}
	.wholesale_right input[type=submit]{
		margin:20px auto 0;
	}

	/* Footer */
	.footer-menu{
		padding: 30px 15px;
	}
	.footer-menu__col{
		margin:0px;
		width: 50%;
	}
	.footer-menu__col_subscribe{
		width: 100%;
		margin-top:20px;
	}
	.credit-cards{
		float: none;
		margin:0px 0 10px;
	}

	/* Cart */
	.product_details_left{
		margin-top: 10px;
		float: none;
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #DABC75;
	}
	.product_details_right{
		float: none;
		width: 100%;
	}
	.product_details_right > div{
		margin:0px;
	}
	.left_welcome_product_details{
		float: none;
		width: 100%;
		border:none;
	}
	.welcome_product_details{
		padding: 10px;
		max-height: none;
	}
	.left_welcome_product_details .tabs{
		text-align:center;
	}
	.left_welcome_product_details .tabs li{
		display: inline-block;
		padding: 0 10px;
	}
	.right_welcome_product_details{
		max-height: none;
	}
	.left_blog_container{
		width: 60%;
	}
	.right_blog_container{
		width: 37%;
	}
}
@media only screen and (max-width: 640px){
	.category_all .product_name{
		font-size: 18px;
	}
	.category_all .price{
		font-size: 14px;
	}
}
@media only screen and (max-width: 568px){
	.left_blog_container{
		width: 100%;
		float: none;
	}
	.right_blog_container {
	    width: 100%; 
	    float: none; 
	    max-width: 400px; 
	}
}
@media only screen and (max-width: 480px){
	.category_product_items{
		width: 100%;
	}
	li.sep{
		display: none;
	}
	.visible_category_product{
		padding: 0 15px;
	}
}
@media only screen and (max-width: 414px){
	.cms a.contact-support{
		float: none;
		display: block;
		width: 170px;
		margin:0 auto;
	}
	.single_testimonial_holder{
		padding: 30px 10px 20px 10px;
	}
	.news-image{
		float: none;
		margin:0 auto;
	}
	.news-item{
		margin-bottom: 30px;
	}
	/* Footer */
	.footer-menu__col_subscribe{
		margin-top:0px;
	}
	.footer-menu__col{
		width: 100%;
		margin-bottom: 20px;
		float: none;
	}
	.subscribe__input{
		width: 93%;
	}
}
@media only screen and (max-width: 360px){
	.top-teaser{
		line-height: 28px;
	}
	.top-teaser::before{
		height: 52px;
	}
	.top-teaser__login{
		float: none;
		text-align: center;
	}
	.top-teaser__login .top-teaser__link{
		width: initial;
	}
	.top-teaser__link {
	    display: inline-block;
	    margin: 0 auto;
	    text-align: center;
	    width: 100%;
	}
	.ingridients .item-image{
		float: none;
		margin:0 auto 20px;
		width: 128px;
	}
	/* Contact */
	.wholesale_right{
		width: 100%;
		max-width: 271px;
	}
	.wholesale_right input,.wholesale_right textarea{
		width: 260px;
	}
	.wholesale_right select{
		width: 271px;
	}
}
@media only screen and (max-width: 320px){
	.register_login button, .service_text_holder .buttons-set button{
		margin:20px auto 0;
		display: block;
	}
	.register_login .required_field{
		display: inline-block;
	    margin-top: 10px;
	    text-align: center;
	    width: 100%;
	}
	.service_text_holder .required{
		padding-top: 10px;
		display: inline-block;
	}
}