<?php
/**
 * Voucher template
 *
 */
?>
<div class="voucher_holder">
	<h2>Voucher Redemption</h2>
	<?php /*<div class="voucher_img">
		<img src="<? echo $this->getSkinUrl('img/voucher_logo.png'); ?>"/>
	</div>*/ ?>
	<p>
		Thank you for purchasing your special deal! Let us help you finalize your order. To get started, please enter your voucher code below:
	</p>
	<?php /*<div class="blue_stripe_voucher">
		<img src="<? echo $this->getSkinUrl('img/last_chance_stripe.png'); ?>"/>
	</div>*/ ?>
	<div class="voucher_code wholesale_right" style="float:none;width:auto;padding:0;text-align:left;margin-right:0px;">
		<form action="/voucher/index/activate" method="post" >
			<input class="input-text" type="text" name="coupon_code" placeholder="Voucher Code..."></input>
			<input type="submit" value="Reedem" />
		</form>
	</div>
	<br/><br/>
	<span>Having trouble?<a href="#">Click here></a></span>
</div>	