<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<div class="wholesale_left">
			<p class="line1">
				If you are a salon owner, stylist or cosmetologist and would like to
				sell our products please submit your message on contact form
				to the right side.
			</p>
			<div class="logo_holder">
			<img src="<? echo $this->getSkinUrl('images/logo.png'); ?>" alt="ALLEGRESSE 24 KARAT SKINCARE" />
			</div>
			<p class="line2">We will reply to your email or queries<br/>within 24hours.</p>
			<div class="thank_you_wholesales">
			<p>Thank you</p>
			<p>ALLEGRESSE team</p>
			</div>
	</div>
	<div class="wholesale_right">
		<form id="emailWholsale" action="<?php echo $this->getUrl('form/index/index') ?>" method="post">
			<input name="name" class="required-entry" id="name" type="text" value="" placeholder="Full Name...*" />
			<input name="companyname" id="companyname"  value="" class="input-text" type="text" placeholder="Company Name..." />			
			<input name="email" class="required-entry  validate-email" id="email" type="text" value="" placeholder="Email Address...*" />	
			<input name="phone" id="phone" type="text" value="" placeholder="Phone Number..." />
			<input name="subject" id="subject" type="text" value="" placeholder="Subject...*" />		
			<textarea name="message" class="required-entry" id="message"  placeholder="Message..."></textarea>		
			<input type="submit" value="submit" />
			<div style="clear:both;"></div>
			<span>*-Required Field</span>
		</form>
	</div>	
<div style="clear:both;"></div>
<script type="text/javascript">
	//<![CDATA[
	var contactForm = new VarienForm('emailWholsale', true);
	//]]>
</script>
