<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<form id="respond" method="post" action="<?php echo $this->getCommentFormAction() ?>">
	<div class="display-none">
		<input type="hidden" name="comment_post_ID" value="<?php echo $this->getPostId() ?>"/>
		<input type="hidden" name="comment_parent" value="0"/>
	</div>
	<div class="blog_comments_form">
		<h2>Leave a Reply</h2>
		<?php if ($this->customerMustLogin()): ?>	
			<p><?php echo $this->__('Sorry, you must be logged in to post a comment.') ?></p>
			<p><button class="button btn-login" type="button" onclick="setLocation('<?php echo $this->getLoginLink() ?>');"><span><span><?php echo $this->__('Login') ?></span></span></button></p>
		<?php else: ?>
				<?php if (!$this->isCustomerLoggedIn()): ?>
					<input type="text" placeholder="Full Name...*"  id="author" name="author" class="input-text required-entry" value=""/>
					<input type="text" placeholder="Email Address..*" id="email" name="email" class="input-text required-entry validate-email" value=""/>
				<?php endif; ?>
				<textarea id="comment" placeholder="Your Comment..."  name="comment" rows="8" cols="45" class="required-entry"></textarea>
		<?php endif; ?>
	
	<?php if (!$this->customerMustLogin()): ?>	
	
		<button type="submit" name="submit"  class="button" value="Post your comment" id="post-the-comment">
			<?php echo $this->__('Leave a comment') ?>
		</button>
	</div>
	<script type="text/javascript">
	//<![CDATA[
		if (typeof wpCommentForm !== 'undefined') {
			var commentForm = new wpCommentForm('respond');
		}
	//]]>
	</script>
	<?php endif; ?>
</form>