<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<div class="blog_post">
<div class="blog_post_tittle">
	<div class="blog_post_blue_box">
		<span><?php echo $this->__($post->getPostDate("d"))?></span>
		<p><?php echo $this->__($post->getPostDate("F"))?></p>
	</div>
	<h2><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h2>
</div>
<div class="blog_post_social">
	<ul class="social_icons">
		<li class="first_child">Share:</li>
		<li><div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true"></div></li>
		<li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
		<li class="gplus">
			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-size="medium"></div>
			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
			  (function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
		</li>
		<li class="pinit">
			<? $page_url = $_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; ?>
			<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2F<? echo $page_url; ?>&media=http%3A%2F%2Fwww.bibasque.com.vhost.zerolag.com%2Fskin%2Ffrontend%2Fdefault%2Fbibasque%2Fimg%2Flogo.png&description=BIBASQUE%20is%20putting%20the%20B%20back%20in%20Beauty" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
		</li>
	</ul>
	<ul class="comments">
		<li>Comments:<span><?php echo $post->getCommentCount() ?></span>/</li>
		
		<li>
			<?php $categories = $post->getParentCategories() ?>
			<?php if (count($categories) > 0): ?>
				<span><?php echo $this->__('In') ?></span>
				<?php $it = count($categories) ?>
				<?php foreach($categories as $category): ?><a class="category-link" href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a><?php if (--$it > 0): ?>, <?php endif; ?><?php endforeach; ?>
			<?php endif; ?>
		</li>
	</ul>
</div>
	<div class="post-entry blog_post_content entry<?php if ($post->getFeaturedImage): ?> post-entry-with-image<?php endif; ?>">
		<?php if ($post->isViewableForVisitor()): ?>
			<?php if ($featuredImage = $post->getFeaturedImage()): ?>
				<div class="featured-image left">
					<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><img src="<?php echo $featuredImage->getAvailableImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/></a>
				</div>
			<?php endif; ?>
			<?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
				<?php echo $post->getPostExcerpt() ?>
			<?php else: ?>
				<?php echo $post->getPostContent() ?>
			<?php endif; ?>
		<?php else: ?>
			<?php echo $this->getPasswordProtectHtml($post) ?>
		<?php endif; ?>
	</div>
</div>