<?php 
	$_collection = $this->getSlideshow();
?>
<div id="slider">
	<ul class="bxslider">
	
		<?php foreach($_collection as $_item) : ?>
			<!--<li>

				<img src="<?php echo "/media/" .$_item->getSlideImage(); ?>" alt="<?php echo $_item->getTitle(); ?>" />
				<div class="image-desc"><?php echo $_item->getTitle(); ?>
				<p><span>-</span>Bibasque</p>
				</div>
				
			</li>-->
			<li>
				<a href="<?php echo $_item->getTitle(); ?>">
					<img src="<?php echo "/media/" .$_item->getSlideImage(); ?>"/>
				</a>
			</li>
		<?php endforeach; ?>
		<!-- <li>
			
		</li>-->
	</ul>
	

	<!--<ul class="bxslider">
		<li>
			<a href="/shop.html">
				<img src="<?php  echo "/media/" ?>/slideshow/13757063251295486247.jpg"/>
			</a>
		</li>
		<li>
			<a href="/shop/curling-irons.html">
				<img src="<?php  echo "/media/" ?>/slideshow/1375706462941118957.jpg"/>
			</a>
		</li>
		<li>
			<a href="/shop/flat-iron/belle-femme.html">
				<img src="<?php  echo "/media/" ?>/slideshow/13917053365772.jpg"/>
			</a>
		</li>
		<li>
			<a href="/shop.html">
				<img src="<?php  echo "/media/" ?>/slideshow/13757064891929452146.jpg"/>
			</a>
		</li>
		<li>
			<a href="http://www.facebook.com/pages/BIBASQUE/147274875456018" target="_blank">
				<img src="<?php  echo "/media/" ?>/slideshow/1403789706788966504.jpg"/>
			</a>
		</li>
		
	</ul>-->
</div>