<?php
$mainCategory = Mage::getModel('catalog/category')->load(22); // 24 Skin Care category
$_categories = $mainCategory->getChildrenCategories();
$_helper = $this->helper('catalog/output');
$counter = 0;
?>
<div id="category-carousel-navigation" style="display:none;">
	<a href="javascript:void(0);" id="category-carousel-left"><img src="<?php print $this->getSkinUrl('images/chevron_left.png'); ?>" alt="left" /></a>
	<a href="javascript:void(0);" id="category-carousel-right"><img src="<?php print $this->getSkinUrl('images/chevron_right.png'); ?>" alt="right" /></a>
	<div id="category-carousel">
		<ul class="sub-cats clearfix" style="width:<?php print count($_categories) * 244 - 16; ?>px;">
			<?php foreach($_categories as $_category) { $counter++;?>
				<?php
					$_category = Mage::getModel('catalog/category')->load($_category->getId()); 
					$_imgUrl = $this->getSkinUrl('images/categories/' . $_category->getId() . '.jpg');
				?>
				<li class="sub-cats__item">
					<a style="background-image:url(<?php print $_imgUrl; ?>);" class="sub-cats__link" href="<?php echo $this->escapeHtml($_category->getURL()); ?>">
					   <span class="sub-cats__title"><?php print $this->escapeHtml($_category->getName()); ?></span>
					   <?php /*<img src="<?php print $this->escapeHtml($_imgUrl); ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>">*/ ?>
					</a>
				 </li>
				<?php /*if ($counter % 4 == 0) { ?>
				</ul>
				<ul class="sub-cats clearfix">
				<?php }*/ ?>
			<?php } ?>
		  </ul>
	</div>
</div>
<div id="category-slider">
	<?php foreach($_categories as $_category) { $counter++;?>
		<?php
			$_category = Mage::getModel('catalog/category')->load($_category->getId()); 
			$_imgUrl = $this->getSkinUrl('images/categories/' . $_category->getId() . '.jpg');
		?>
		<div class="item">
			<a style="background-image:url(<?php print $_imgUrl; ?>);" class="sub-cats__link" href="<?php echo $this->escapeHtml($_category->getURL()); ?>">
			   <span class="sub-cats__title"><?php print $this->escapeHtml($_category->getName()); ?></span>
			   <?php /*<img src="<?php print $this->escapeHtml($_imgUrl); ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>">*/ ?>
			</a>
		 </div>
		<?php /*if ($counter % 4 == 0) { ?>
		</ul>
		<ul class="sub-cats clearfix">
		<?php }*/ ?>
	<?php } ?>
</div>
<script>
jQuery(function ($) {
	var margin = 0;
	$('#category-carousel-left').click(function () {
		margin = Math.max(0, margin - 244);
		$('#category-carousel ul').animate({'margin-left': '-' + margin + 'px'});
		return false;
	});
	$('#category-carousel-right').click(function () {
		margin = Math.min($('#category-carousel ul').width() - (4 * 244 - 16), margin + 244);
		$('#category-carousel ul').animate({'margin-left': '-' + margin + 'px'});
		return false;
	});
	
});
</script>