<?php
$mainCategory = Mage::getModel('catalog/category')->load(22); // 24 Skin Care category
$_categories = $mainCategory->getChildrenCategories();
$_helper = $this->helper('catalog/output');
$counter = 0;
?>
<div id="category-carousel-navigation2"  style="display:none;">
	<a href="javascript:void(0);" id="category-carousel-left"><img src="<?php print $this->getSkinUrl('images/chevron_left.png'); ?>" alt="left" /></a>
	<a href="javascript:void(0);" id="category-carousel-right"><img src="<?php print $this->getSkinUrl('images/chevron_right.png'); ?>" alt="right" /></a>
	<div id="category-carousel2">
		<ul class="sub-cats clearfix" style="width:<?php print count($_categories) * 244 - 16; ?>px;">
			<?php foreach($_categories as $_category) { $counter++;?>
				<?php
					$_category = Mage::getModel('catalog/category')->load($_category->getId()); 
					$_imgUrl1 = $this->getSkinUrl('images/categories/' . $_category->getId() . '-default.jpg');
					$_imgUrl2 = $this->getSkinUrl('images/categories/' . $_category->getId() . '-hover.png');
				?>
				<li class="sub-cats__item">
					<a style="background-image:url(<?php print $_imgUrl1; ?>);overflow:hidden;" class="sub-cats__link shop-page" href="<?php echo $this->escapeHtml($_category->getURL()); ?>">
					   <span class="sub-cats__title"><?php print $this->escapeHtml($_category->getName()); ?></span>
					   <img class="img-default" src="<?php print $this->escapeHtml($_imgUrl1); ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>">
					   <?php /*<img class="img-hover" src="<?php print $this->escapeHtml($_imgUrl2); ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>">*/ ?>
					</a>
				 </li>
			<?php } ?>
		</ul>
	</div>
</div>
<div id="category-slider2">
	<?php foreach($_categories as $_category) { $counter++;?>
		<?php
			$_category = Mage::getModel('catalog/category')->load($_category->getId()); 
			$_imgUrl1 = $this->getSkinUrl('images/categories/' . $_category->getId() . '-default.jpg');
			$_imgUrl2 = $this->getSkinUrl('images/categories/' . $_category->getId() . '-hover.png');
		?>
		<div class="item">
			<a style="background-image:url(<?php print $_imgUrl1; ?>);overflow:hidden;" class="sub-cats__link shop-page" href="<?php echo $this->escapeHtml($_category->getURL()); ?>">
			   <span class="sub-cats__title"><?php print $this->escapeHtml($_category->getName()); ?></span>
			   <img class="img-default" src="<?php print $this->escapeHtml($_imgUrl1); ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>">
			   <?php /*<img class="img-hover" src="<?php print $this->escapeHtml($_imgUrl2); ?>" alt="<?php print $this->escapeHtml($_category->getName()); ?>">*/ ?>
			</a>
		 </div>
	<?php } ?>
</div>
<script>
jQuery(function ($) {
	var margin = 0;
	$('#category-carousel-left').click(function () {
		margin = Math.max(0, margin - 244);
		$('#category-carousel2 ul').animate({'margin-left': '-' + margin + 'px'});
		return false;
	});
	$('#category-carousel-right').click(function () {
		margin = Math.min($('#category-carousel2 ul').width() - (4 * 244 - 16), margin + 244);
		$('#category-carousel2 ul').animate({'margin-left': '-' + margin + 'px'});
		return false;
	});
});
</script>