<?php
$collection = Mage::getModel('clnews/news')->getCollection();
$items = array();
foreach ($collection as $item) {
	$items[] = $item;
}
usort($items, function ($a, $b) { return strcmp($b->getNewsTime(), $a->getNewsTime()); });
foreach ($items as $item) {
	$img = $item->getData('image_short_content');
	//if (!$item->getData('image_short_content_show')) {
	//	$img = $item->getData('image_full_content');
	//}
?>
<div class="news-item">
<div class="news-image"><img src="<?php print Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA);?>/<?php print $this->escapeHtml($img); ?>" alt="" /></div>
<p class="news-date"><?php print $this->escapeHtml($item->getNewsTime()); ?></p>
<h3 class="news-title"><?php print $this->escapeHtml($item->getTitle()); ?></h3>
<?php print $item->getFullContent(); ?>
</div>
<?php } ?>