@CHARSET "UTF-8";
.nav_bottom ul{
	float: left;
	padding-right: 40px;
	
}
.links_bottom ul li{
	line-height: 17px;
	font-size: 13px;
	font-style: italic;
	color: #231f20;
	float: left;
}
.links_bottom{
	height: 25px;
	width: 960px;
	margin-top: 15px;
	padding-top: 8px;
}
.links_bottom ul{
	
	width: 700px;
	float: left;
	
}
.fotter_bottom{
	height: 25px;
	width: 940px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #1e2f37;
	float: left;
	padding-top: 8px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 13px;
	line-height: 17px;
	font-family: Times;
	font-style: italic;
	bottom: 20px;
}
.fotter_bottom span{
	
	width: 700px;
	float: left;
	
}
.right_span{

	float: right;
	padding-right: 20px;
	height: 25px;
}

.fotter_bottom a{

	float: right;
}
#banners_bottom{

	margin-top: 40px;
}
#slider .bx-pager{
	display: inline-block;
	position:absolute;
	bottom: 30px;
	z-index: 9999;
	width: 205px;
	height: 22px;
	margin-left: 377px;
}
.bx-pager-item{
	position:relative;
	z-index: 9999;
	width: 41px;
	height: 24;
}
.bx-pager-item a{
	position: relative;
	z-index: 9999;
	float: left;
}
nav{

	height: 43px;
}
.categories_items{
	float: left;
}
.blue_box_categories{
	margin-top: -63px;
}
.top_nav_service_pages ul{
	display: inline;
}
.footer_inner{
	
	margin-top: 0px;
	
}
.comments_blog{
	display: block;
	
	width:610px;
}
.blog_comments_form{
	width: 610px;
}
.blog_comments_form form{
	width: 610px;
}
.blog_comments_form input[type="text"]{
	float: left;
	width: 282px;
	height: 35px;
	display: inline;
	outline: none;
	border:0;
	margin-right: 5px;
	padding-left: 12px;
	font: italic 13px/13px Times;
	color: #000;
	margin-top: 5px;
	position: relative;
}
.blog_comments_form textarea{
	float: left;
}
.paggination_category  li{
	float: left;
}
.number_of_products li{
	float: left;
}
.blue_box_categories span{
	display: block;
}
.searchholder input[type="text"]{
	height: 27px;
	line-height: 26px;
}