/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/
* 
* Copyright (c) 2009 Scott Darby
* 
* Requires: jQuery 1.3 or newer
* 
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/

.SSContainerDivWrapper {
	left:-9999px;
}

/*
* Red example
---------------------------------------------------------*/
.SSContainerDivWrapper {
	margin:0;
	padding:0;
	width: 173px;
	position:absolute;
	top:25px;
	left:0;
	z-index:2;
	height: 196px!important;
}

ul.newList {
	margin: 0 -4px;
	padding:0;
	list-style:none;
	color:#000;
	background:#fff;
	border:1px solid #ccc;
	width: 175px;
	overflow: hidden;
	padding-bottom: 4px;
}

ul.newList * {
	margin:0;
	padding:0;
}


ul.newList li a {
	color: #000;
	text-decoration:none;
	display:block;
	padding:2px 10px;
	font: italic 13px/24px Times;
	text-transform: none;
	font-weight: 100;
}

 .newListSelected {
	width:175px;
	color:#000;
	float:left;
	
}


 ul.newList li a:focus {
	-moz-outline-style: none;
}
.selectedTxt {
	width:165px;
	overflow:hidden;
	height:25px;
	border: 1px solid #e1e1e1;
	background:url('../img/select_box_bg.png') right center no-repeat;
	font: italic 13px/24px Times;
	color: #000;
	padding-left: 10px;
	
}

.hiLite {
	background:#fff!important;
	color:#000!important;
	font: italic 13px/24px Times;
	text-transform: none;
}

.newListHover {
	background:#58eff5!important;
	color:#000!important;
	cursor:default;
}


/*
* Red example
---------------------------------------------------------*/
.select_holder_wholesale{
	margin-top: 10px;
}
.select_holder_wholesale .SSContainerDivWrapper {
	margin:0;
	padding:0;
	width: 173px;
	position:absolute;
	top:25px;
	left:0;
	z-index:2;
	height: 196px;
}

.select_holder_wholesale ul.newList {
	margin: 4px 0px;
	padding: 0;
	list-style: none;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	width: 330px;
	overflow: hidden;
	padding-bottom: 4px;
}

.select_holder_wholesale  ul.newList * {
	margin:0;
	padding:0;
}


.select_holder_wholesale ul.newList a {
	color: #000;
	text-decoration:none;
	display:block;
	padding:2px 10px;
	font: italic 13px/24px Times;
	text-transform: none;
}

.select_holder_wholesale .newListSelected {
	width:319px;
	color:#000;
	height:25px;
	float:left;
	
}


.select_holder_wholesale  ul.newList li a:focus {
	-moz-outline-style: none;
}

.select_holder_wholesale .selectedTxt {
	width:100%;
	overflow:hidden;
	height:28px;
	border: 1px solid #5f5f5f;
	background:url('../img/select_box_bg.png') no-repeat right;
	font: italic 15px/30px Times;
	color: #000;
	padding-left: 10px;
	
}

.select_holder_wholesale .hiLite {
	background:#fff!important;
	color:#000!important;
	font: italic 13px/24px Times;
	text-transform: none;
}

.select_holder_wholesale .newListHover {
	background:#58eff5!important;
	color:#000!important;
	cursor:default;
}
/*product_details*/

.select_holder_product_details .SSContainerDivWrapper {
	left:-9999px;
}

/*
* Red example
---------------------------------------------------------*/
.select_holder_product_details .SSContainerDivWrapper {
	margin:0;
	padding:0;
	width: 173px;
	position:absolute;
	top:25px;
	left:0;
	z-index:2;
	height: 196px;
}

.select_holder_product_details ul.newList {
	margin: 0;
	padding:0;
	list-style:none;
	color:#000;
	background:#fff;
	border:1px solid #ccc;
	width: 90px;
	overflow: hidden;
	padding-bottom: 4px;
	height:100px;
	overflow: auto;
}

.select_holder_product_details ul.newList * {
	margin:0;
	padding:0;
}


.select_holder_product_details ul.newList a {
	color: #000;
	text-decoration:none;
	display:block;
	padding:2px 10px;
	font: italic 13px/24px Times;
	text-transform: none;
}

.select_holder_product_details .newListSelected {
	width:90px;
	color:#000;
	height:25px;
	float:left;
	
	
}


.select_holder_product_details ul.newList li a:focus {
	-moz-outline-style: none;
}

.select_holder_product_details .selectedTxt {
	width:80px;
	overflow:hidden;
	height:25px;
	border: 1px solid #e1e1e1;
	background:url('../img/select_box_bg.png') no-repeat right;
	font: italic 13px/24px Times;
	color: #000;
	padding-left: 10px;
	
}

.select_holder_product_details .hiLite {
	background:#fff!important;
	color:#000!important;
	font: italic 13px/24px Times;
	text-transform: none;
}

.select_holder_product_details .newListHover {
	background:#58eff5!important;
	color:#000!important;
	cursor:default;
}

/*warranty form*/



.warranty_form_select  .SSContainerDivWrapper {
	margin:0;
	padding:0;
	width: 173px;
	position:absolute;
	top:25px;
	left:0;
	z-index:2;
	height: 196px !important;
}

.warranty_form_select  ul.newList {
	margin: 4px 0px;
	padding: 0;
	list-style: none;
	color: #000;
	background: #fff;
	border: 1px solid #ccc;
	width: 332px;
	overflow: hidden;
	padding-bottom: 4px;
}

.warranty_form_select   ul.newList * {
	margin:0;
	padding:0;
}


.warranty_form_select  ul.newList a {
	color: #000;
	text-decoration:none;
	display:block;
	padding:2px 10px;
	font: italic 13px/24px Times;
	text-transform: none;
}

.warranty_form_select  .newListSelected {
	width:100%;
	color:#000;
	height:25px;
	float:left;
	margin-bottom: 15px;
	
}


.warranty_form_select   ul.newList li a:focus {
	-moz-outline-style: none;
}

.warranty_form_select  .selectedTxt {
	width:322px;
	overflow:hidden;
	height:28px;
	border: 1px solid #5f5f5f;
	background:url('../img/select_box_bg.png') no-repeat right;
	font: italic 15px/30px Times;
	color: #000;
	padding-left: 10px;
	
}

.warranty_form_select  .hiLite {
	background:#fff!important;
	color:#000!important;
	font: italic 13px/24px Times;
	text-transform: none;
}

.warranty_form_select  .newListHover {
	background:#58eff5!important;
	color:#000!important;
	cursor:default;
}