@CHARSET "UTF-8";

@font-face{
	font-family: 'BodoniFLF-Bold';
	src: url('bodoniflfbold.eot');
	src: url('bodoniflfbold.eot?#iefix') format('embedded-opentype'),
			 url('bodoniflfbold.woff') format('woff'),
			 url('bodoniflfbold.ttf') format('truetype'),
			 url('bodoniflfbold.svg#BodoniFLF-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LuzSans-Heavy';
	 src: url('luzhphro.eot');
	 src: url('luzhphro.eot?#iefix') format('embedded-opentype'),
		url('luzhphro.woff') format('woff'),
		url('luzhphro.ttf') format('truetype'),
		url('luzhphro.svg#luzhphro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Didot_1';
	src: url('fonts/Didot_1.eot');
	src: local('☺'), url('fonts/Didot_1.woff') format('woff'), url('fonts/Didot_1.ttf') format('truetype'), url('fonts/Didot_1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}



article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,
	ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline:none;
}
input{
	outline:none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

ol,ul, li {
	list-style: none;
}

blockquote {
	quotes: none;
}

blockquote:before,blockquote:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}


.clear{

	clear: both;
}
body{
	font:normal 13px/16px Times;
	padding: 0;
	color: #231f20;
	text-align: left;

}
.wrapper{
	background: #fff;
	width: 960px;
	padding: 0;
	margin: 0px auto;

}

header{
	padding: 0px 0px;
	margin: 0 0 0 0;
	z-index: 99999;
	width: 100%;
	
}

footer{
	padding: 0px 0px;
	margin: 0 0 10px 0;
	z-index: 99999;
	width: 100%;
	display: inline-block;
}
.right{
	float: right !important;

}
.footer_inner{
	width: 960px;
	margin: auto;
	margin-top: 35px;
	
}

.header-top-wrapper{
	width: 100%;
	height: 37px;
	background:url('../img/top.png') #1e2f37;
	background-position: top;
	color:#49bbc1;
	
}
.header-bottom-wrapper{
	width: 100%;
	color:#49bbc1;
	
}
.heder-inner{
	width: 960px;
	margin:0 auto;
}
#toptext{
	width: 960px;
	height: 37px;
	color:#49bbc1;
	display: inline-block;
	margin: auto;
	line-height: 34px;

}
#toptext p{
	width: 316px;
	display: inline-block;
	margin-top: 2px;
	padding: 0;
	float: left;
}
.topcontentleft{
	font-family: 'LuzSans-Heavy';
	text-align: left;
	color: #D8CB9E;
	
}

.topcontentleft a:link, .topcontentleft a:visited{
	font-family: 'LuzSans-Heavy';
	text-align: center; 
	color: #fee3ab;
	text-decoration:none;
	
}
.topcontentright{
	font-family:BodoniFLF-Bold; 
	text-align: right; 
	color: #D8CB9E;
	display: inline-block;
	margin: 2px 0 0 0;
	float: right;
	
}

.topcontentright  li{
	float: left;
	margin: 0px 2px;
}

.topcontentright a{
	color: #fee3ab;
    font-family: BodoniFLF-Bold;
	text-decoration: none;
	text-transform: uppercase;
}

.topcontentright a:hover, .topcontentcenter a:hover{
	color: #fff;
}
.topcontentright span{
	color:#616161;
	margin: 0px 3px;
	
}

#topheder{
	width: 960px;
	height: 100px;
	background: url('../img/topcontent.png') no-repeat bottom;
	width: 960px;
	margin-top: 20px;

}
.topheadercontent{
	font-family:Times;
	font-size: 14px;
    font-style: italic;
    line-height: 24px;
	float: left;
	width: 320px;
	color: #403d3e;
	padding-top: 10px;
	

}
.topheadercontent p{
	font-family:'BodoniFLF-Bold';
	font-size: 37px;
	font-style: normal;
	color: #231f20;
	line-height: 34px;

}
.topheadercontent.right{
	width: auto;

}

.searchholder{

	display: inline-block;
	width: 150px;
	border: 1px solid #ccc;
	border-left: 0px;
	border-right: 0px;
	float: left;
	margin-top: 9px;
	margin-left: 0;
	padding-left: 7px;
	height: 27px;

}

.searchholder input[type="text"]{
	border: none;
	height: 27px;
	float: left;
	width: 126px;
	background: #fff;
	color: #231f20;
	padding: 0;
	margin: 0;
	line-height: 22px;
	font-style: italic;
	font-family: Times;
	font-size: 14px;
	
}


.searchholder input[type="submit"], .searchholder button{
	background: url("../img/search.png") no-repeat scroll 7px 8px transparent;
	float: left;
	border: none;
	padding: 0;
	width: 24px;
	height: 27px;
	margin: 0;
	cursor: pointer;
}

.header_cart_number{

	width: 33px;
	height: 33px;
	background: #1e2f37;
	color: #fee3ab;
	font-size: 30px;
	font-family:BodoniFLFBold;
	font-style: normal;
	text-align: center;
	float: left; 
	margin-top: 6px;
	margin-right: 10px;
	line-height: 33px;
}
#cartitems {
	float: right; 
	margin-left: 17px;
}
.header-cart{
	width: 47px;
	height: 24px;
	float: left;
	padding: 10px 0;

}

.header-cart a{
	text-decoration: none;
	color: #231f20;
	float: right;
	background: url("../img/cart_arrow.png") right center no-repeat;
	padding: 0 20px 0 0;
}

.header-cart a:hover{
	color: #D8CB9E;
	background: url("../img/cart_arrow_hover.png") right center no-repeat;
}

.header-cart img{
	margin-left: 8px;
}
.logo{
	float: left;
	width: 320px;
	height: 100px;
	margin-top: -5px;
}

#menu {   
	position: relative;
    width: 960px;
    display:inline-block;
    z-index: 9999;
}

nav {
	list-style:none;
	margin-bottom: 0;
	margin-left: 0;
	padding: 0;
	font-size: 14px;
	line-height: 14px;
}
nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
	position: relative;
	display:inline-block;

}

nav li {
	line-height:20px;
	float: left;
	padding:0 28px;
	z-index: 100;
	
}
nav li div.menu_iner {
	visibility:hidden;
	position: absolute;
	width: 960px;
	height: 295px;
	background: #272f30;
	left: 0;
	z-index: 51;
}

nav li div.menu_iner .combo{
	float: left;
	color: #FFFFFF;
    margin: 18px 7px 0px 7px;
}
nav li:hover  div.menu_iner{
	visibility:visible;
}
nav li ul li {
	margin-top: 18px;
	margin-left: 0px;
	color: #fff;
	padding: 0 7px;

}
div.menu_iner ul{
	padding:0 0 0 20px;
	float: left;
}

.clearfix{
	display: inline-block;
}

nav li:hover div.menu_iner, nav li.over ul {
	display:block;

}
nav li:hover ul ul, nav li.over ul ul {
	display:none;

}

nav a {
	display: inline-block;
	color:#000000;
	text-decoration:none;
	font-family:'LuzSans-Heavy';
	font-size: 14px;
	text-transform: uppercase;
	padding:10px 0px;
}

nav a:hover {
	color:#D8CB9E;

}

nav ul li .menu_iner a {	
	color: #fff;
	display: block;
	padding:0;
}

.top_menu_arrow{
	background: url('../img/arrow_nav_top.png') no-repeat bottom;
	display: block;
}

/*scrollpane*/

.scroll_pane{
	width: 904px;
	height: 200px;
	overflow: auto;
}

.horizontal_only{
	height: auto;
	max-height: 230px;
}

.container_slider{
	height: 186px;
	padding-left: 8px;
	padding-top: 14px;
	border-bottom:1px solid #fff;
	min-width:896px;
}
.categories_header_holder{
	border-top:1px solid #fff;
	margin:25px 0 0 28px;
	display: inline-block;
}
.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;

}
.jspContainer {
	overflow: hidden;
	position: relative;
	height: 205px!important;
}
.jspPane{
	position: absolute;


}
.for_jscroll_pane .jspPane{
	position: absolute;
	width: 782px!important;
	margin-left: 0px!important;
	border-right:1px solid #fff!important;
	

}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}
.jspHorizontalBar .jspTrack{
	
}
.jspHorizontalBar .jspCap {
	float: left;
}
.jspDrag {
	background: #D8CB9E;
	position: relative;
	top: -2px;
	left: 0;
	cursor: pointer;

}
.top_nav_slider_item{

	width:215px;
	float: left;
	padding:0 4px 0 4px;
	
}
.top_nav_slider_item img{

}
.top_nav_slider_item .item_name{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 15px;
	font-family: 'LuzSans-Heavy';
	text-align: center;
	margin-top: 15px;
}
.for_jscroll_pane .jspDrag{
	width: 6px!important;

	
}
.jspVerticalBar{
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
}
.for_jscroll_pane .jspContainer{
	height: 255px!important;
}

/*end of TOP nav*/

#slider{
	width: 960px;
	position: relative;
}
.image-desc{

	position: absolute;
	z-index: 999;
	left: 390px;
	top: 110px;
	font-size: 37px;
	line-height: 37px;
	width: 250px;
	text-align: right;
	display: none;
	font:italic 37px/37px Century;/*font missing*/
	font-weight: bold;
}
.image-desc p{
	font: normal 22px/22px Times;
	float: left;
	padding-left: 30px;
	color: #fff;
	text-transform: uppercase;
	padding-top: 15px;
}
.image-desc p span{
	color: #000;
	padding-right: 4px;
}

#slider .bx-pager{
	display: inline-block;
	position:absolute;
	bottom: 30px;
	z-index: 999;
	height: 22px;
	text-align: center;
	left:50%;
}
#slider .bx-pager-item{
	float: left;
	position: relative;


}
#slider .bx-pager-item a{

	text-indent: -9999px;
	background: url('../img/slider_control.png');
	width: 39px;
	height: 22px;
	margin: 0;
	display: inline-block;
	border: 1px solid #fff;

}
#slider .bx-pager-item a:hover{

	
	background: url('../img/slider_control_hover.png');

}
#baners{

	width: 100%;
	display: inline-block;
	margin-top: 35px;

}

.one_banner_left:hover img, .one_banner_right:hover img, .one_banner_central:hover img{
	opacity:0.6;
	filter:alpha(opacity=60);
} 


.one_banner_left{
	width: 314px; 
	height: 125px; 	
	float: left;
	position:relative;
}

.one_banner_right{
	width: 314px; 
	height: 125px; 	
	float: left;
	position: relative;
}

.one_banner_right a p{
	font-size: 25px;
	color: #000;
	text-decoration: none;
	z-index: 999;
}

.one_banner_central{
	width: 314px; 
	height: 125px; 
	float: left;
	margin-right: 9px;
	margin-left: 9px;
	position: relative;
}
.one_banner_central a{
	font-family:Times;
	font-style: italic;
	font-size: 14px;
	color: #b4b7b8;
	text-decoration: none; 
	position: absolute;
	z-index: 999;
	top: 0px;
	left:0px;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
}

.one_banner_central a p{

	font-family:BodoniFLF-Bold;
	font-size: 50px;
	color: #56e8ee;
	text-decoration: none;
	font-style: normal;
	width: 314px;
	line-height: 50px;
	
	

}
.products_holder{
	width: 100%;
	height: 330px;
	padding: 10px 0 0 0;
	position: relative;
	margin-top: 50px;
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.products_holder_border{
	border-right: 1px solid #efefef;
}
.bx-wrapper{
	max-width: 960px!important;
	text-align: center;
	
}
.products{
	/*implement if you need*/
}

.products_items {
	border-right: 1px solid #efefef;
	height: 330px;
	position: relative;
	width: 191px!important;
	float:left;
}
.products_items .product_name {
	font-family: 'LuzSans-Heavy';
	font-size: 11px;
    line-height: 15px;
	text-transform: uppercase;
	text-align: center;
	
}
.products_items .product_desc{
	font-family: Times;
	font-size: 13px;
	line-height: 17px;
	font-style: italic;
	text-align: center;
	margin-top: 10px;
	
	
}
.products_items .product_price{
	font-family: Century;/*font missing!*/
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin-top: 5px;
	font-style: normal;
	font-weight: bold;
	
}
.products_items .product_price_last_chance{
	font-family: Century;/*font missing!*/
	font-size: 22px;
	line-height: 20px;
	text-align: center;
	margin-top: 15px;
	font-weight: bold;
}

.image_holder_slider{
	width: 170px;
	height: 190px;
	text-align: center;
}

.visible_product{
	position: relative;
	padding: 0 10px;
	text-align: center;
}

.hover_product{
	width: 190px;
	height: 330px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	z-index: 9999;
}

.products_items:hover .hover_product{
	display: block;
}
.hover_product img{
	width: 131px;
	height: 94px;
	position: absolute;
	top:117px;
	left: 34px;
}

.hover_product a{
	width: 190px;
	height: 330px;
	display: block;
}

.hover_product span{
	position: absolute;
	top:176px;
	text-transform: uppercase;
	left: 45px;
	font-size: 17px;
	font-family:Century;/*font missing!*/
	text-decoration: none;
	color: #000000; 
}

.hover_product span:hover{
	color: #fff;
}

.bx-prev{
	left: 0px;
	width: 15px;
	height: 38px;
	text-indent: -9999em;
	outline: none;
	z-index: 9999;
	position: absolute;
	background: #000;
	display: block;
	background: url('../img/arrow_products_left.png') no-repeat;
	margin-top: -190px;
	margin-left: -8px;

}
.bx-prev.disabled{
	display:none;
}
.bx-prev:hover{

	background: url('../img/arrow_products_left_hover.png') no-repeat;

}
.bx-next{
	right: 0px;
	width: 15px;
	height: 38px;
	text-indent: -9999em;
	outline: none;
	z-index: 9999;
	position: absolute;
	background: #000;
	display: block;
	background: url('../img/arrow_products_right.png') no-repeat;
	margin-top: -190px;
	margin-right: -8px;
}
.bx-next:hover{
	background: url('../img/arrow_products_right_hover.png') no-repeat;

}
#welcome_message{
	background: url('../img/welcome.jpg') no-repeat;
	width: 100%;
	height: 175px;
	margin-top: 36px;
	display: inline-block;
	
}

#welcome_message .text{
	display: inline-block;
	width: 750px;
	float: left;
	color: #061010;
	padding-left: 45px;

}
#welcome_message .text p{
	font-family: Times;
	font-style: italic;
	font-size: 13px;
	line-height: 16px;
	color: #fff;
	padding-top: 16px;
	margin: 0px;
	

}
#welcome_box{
	 background: url("../img/welcome_blue_box.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    font-family: Century;
    font-size: 16px;
    height: 74px;
    margin-left: 16px;
    margin-top: 26px;
    padding-left: 22px;
    padding-top: 50px;
    width: 103px;
}

#welcome_box a{
	font-family: Times;
	font-style: italic;
	font-size: 13px;
	line-height: 16px;
	color: #061010;
	text-decoration: none;
	margin-left: 12px;
}

#welcome_box:hover a{
	color: #fff;
}

#banners_bottom{
	display: inline-block;
	width: 100%;
}	

.one_banner{
	float: left;
	display: inline-block;
	background: url('../img/banner_bottom_1.jpg') no-repeat;
	width: 305px;
	height: 75px;
	text-align: center;
	overflow: hidden;
	

}
.central{
	padding: 0 21px;
	background: url('../img/banner_bottom_2.jpg') no-repeat center;

}	
.central_banner {
	font-family: Times;
	font-size: 14px;
	line-height: 22px;
    padding-top: 12px;
	color: #231f20;
	font-style: italic;
}
.central_banner_social{
	display: inline-block;
	margin: auto;
	height: 28px;
	padding-top: 2px;
}	

.central_banner_social img:hover{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.central_banner img{
	float: left;
}
.one_banner p{
	font-family: 'BodoniFLF-Bold';
	font-size: 23px;
	line-height: 22px;
	color: #231f20;
	padding-top: 17px;
}

.one_banner a{
	font:normal 14px/14px Times;
	padding: 0;
	color: #231f20;
	text-decoration: none;
	font-style: italic;
	display: inline-block;
}

.one_banner a:hover{
	color: #D8CB9E;
}
.nav_bottom{
	display: inline-block;
	width: 918px;
	height: 170px;
	padding-top: 30px;
	border: 1px solid #efefef;
	margin-top: 35px;
	padding-left: 40px;
	
}	
.nav_bottom ul{
	float: left;
	padding-right: 20px;
	
}
.nav_bottom ul li{
	
	line-height: 20px;
	font-size: 13px;
	font-style: italic;
	color: #231f20;
	
}
.nav_bottom ul li a{
	
	text-decoration: none!important;
	color: #231f20;

	
}
.nav_bottom ul li a:hover{
	
	text-decoration: underline!important;
	color: #231f20;

	
}
.nav_bottom_input{
	
	line-height: 17px;
	font-size: 13px;
	border: 0px;
    height: 28px;
    outline: medium none;
    width: 280px;
    font-style: italic;
    color: #ececec;
}
.first_nav_bottom{

	font-size: 13px;
	line-height: 25px;
	font-family: 'LuzSans-Heavy';
	text-transform: uppercase;
	font-style: normal!important;

}
.newsletter_holder{
	display: inline-block;
	width: 280px;
	border: 0px;
	float: left;
	
}
.newsletter{
	display: inline-block;
	width: 275px;
	height: 28px;
	border: 0px;
	float: left;
	border: 1px solid #5f5f5f;
}
.newsletter input[type="text"] {
	border: none;
	height: 27px;
	float:left;
	background: #fff;
	padding: 0 9px;
    width: 240px;
	margin:0;
	line-height: 27px;
	font-style: italic;
	color: #231F20;
}

.newsletter input[type="submit"]{
	background: url("../img/newsletter.png") no-repeat scroll 0 5px transparent;
    border: medium none;
    float: left;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 15px;
	cursor: pointer;
}
.newsletter_holder span{
	font-family: 'LuzSans-Heavy';
    font-size: 13px;
    font-style: normal !important;
    line-height: 13px;
    text-transform: uppercase;
    margin: 0 0 10px;
    
}
.newsletter_holder p{

	line-height: 34px;
    padding-top: 10px;
	font-size: 13px;
	font-style: italic;
	color: #231f20;

}
.logos_fotter{
	height: 31px;
	width: 216px;
	display: inline-block;
	margin-top: 16px;
}
.links_bottom{
	height: 25px;
	width: 100%;
	margin-top: 15px;
}
.links_bottom ul{
	
	width: 700px;
	display: inline-block;
	
}
.links_bottom ul li{
	display: inline-block;
	list-style: none;

}
.links_bottom ul li a{
	text-decoration: none;
	color: #000000;
	font-style: italic;
	font-size: 13px;
	line-height: 17px;
}

.links_bottom ul li a:hover, .links_bottom ul li a:hover span{
	text-decoration: underline;
}

.links_bottom ul li span{
	display: inline-block;
	padding-left:4px;

}
.logos_bottom{

	height: 25px;
	width: 214px;
	display: inline-block;
	float: right;	
}
.fotter_bottom{
	height: 25px;
	width: 940px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: #1e2f37;
	display: inline-block;
	padding-top: 8px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 13px;
	line-height: 17px;
	font-family: Times;
	font-style: italic;
}

.fotter_bottom .right_span{
	display: inline-block;
	float: right;
	padding-right: 10px;
	color: #ffffff;
	font-size: 13px;
	line-height: 17px;
	font-family: Times;
	font-style: italic;
	text-decoration: none;
}

.fotter_bottom .right_span a{
	display: inline-block;
	padding-right: 10px;
	color: #ffffff;
	font-size: 13px;
	line-height: 17px;
	font-family: Times;
	font-style: italic;
	text-decoration: none;
}

.fotter_bottom .right_span a:hover{
	text-decoration: underline;
}

.fotter_bottom span a{
	text-decoration: none;
	color: #fff;
}

.welcome_with_blue_box{
	width: 960px;
	height: 130px;
	background: url('../img/bg_box.png') top repeat-y;
	display: inline-block;
}

.left_welcome_blue_box{
	width: 435px;
    height: 130px;
    display: inline-block;
    float: left;
}
.right_welcome_blue_box{
	width: 420px;
    height: 130px;
    display: inline-block;
    float: right;
    padding-right: 26px;
    padding-left: 37px;
}
.social_bar{
	width: 285px;
	height: 50px;
	padding-top: 40px;
	display: inline-block;
}
.social_bar span{
	color: #fee3ab;
	display: inline-block;
	line-height: 24px;
	font-size: 18px;
	font-style: italic;
}

.social_bar ul li{
	display: inline-block;
	float: left;
}

.blue_box_categories{
	width: 124px;
	height: 124px;
	float: right;
	background: url('../img/welcome_blue_box.png') no-repeat;
	margin-top: 27px;
}
.blue_box_categories p{
	text-align: center;
	font: normal 16px/19px Century;/*font missing*/
	padding: 0 15px;
	padding-top: 30px;
	font-weight: bold;
	
}
.blue_box_categories span{
	text-align: center;
	font: italic 13px/17px Times;
	padding: 0 15px;
	display: inline-block;
	
}
.welcome_with_blue_box h2{
	font-size: 35px;
	line-height: 35px;
	color: #fff;
	display: inline-block;
	padding-top: 38px;
	font-family: century; /*font missing*/
}
.welcome_with_blue_box .blue_stripe{
	height: 110px;
	width: 10px;
	display: inline-block;
	float: left;
	margin: 10px 15px;
	display: inline-block;
}

.blue_stripe{
	background: url('../img/welcome_categories.png') no-repeat;
}

.welcome_with_blue_box ul{
	padding: 5px 0;
	
} 
.welcome_with_blue_box ul li{
	display: inline-block;
	float: left;
	list-style: none;
	color: #fee3ab;
	font-style: italic;
}
.welcome_with_blue_box ul li a{
	color: #fee3ab;
	text-decoration: none;
}
.welcome_with_blue_box ul li span{
	color: #fee3ab;
	padding: 0px 5px;
}
.categoties_text{
	width: 960px;
	padding: 10px 0px 10px 0px;
}
.categoties_text h2{
	font-size: 25px;
	color:#231F20;
	line-height: 34px;	
	font: normal 25px/34px 'BodoniFLF-Bold';
}
.categoties_text{
	font:italic 13px/16px Times ;
}

.categoties_text p{
	margin: 12px 0;
}

.products_holder_categories{
	margin-top: 30px;
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	width: 960px;
}
.categories_items{
	width: 239px;
	height: 465px;
	border-right: 1px solid #efefef;
	position: relative;
	float: left;
	overflow: hidden;
	display: inline-block;

}
.categories_all{
	display: inline-block;
}
.products_holder_categories ul li{
	display: inline-block;	
}
.visible_product_categories{
	position: relative;
	padding-top: 35px;
}
.visible_product_categories .img_holder{
	text-align: center;
}
.category_name{
	font: normal 30px/28px Century;
	font-weight: bold;
	text-align: center;
	color: #000;
	padding-top: 25px;
}
.category_desc{
	font: italic 13px/17px Times;
	text-align: center;
	color: #000;
	padding-top: 5px;
	
}
.category_hover{
	width: 239px;
	height: 470px;
	position: absolute;
	background: url('../img/overlay.png')  0 0 repeat;
	top: 0;
	left:0;
	display: none;
}

.category_hover a{
	display: block;
	width: 239px;
	height: 470px;
	cursor:pinter;
}
.categories_items:hover .category_hover{
	display: block;
}
.categories_blue_box{
	background: url('../img/categories_blue_box.png');
	width: 162px;
	height: 94px;
	position: absolute;
	top: 185px;
	left: 40px;
	display: block;
}

.categories_blue_box span{
	display: inline-block;
	padding: 0 8px;
	color: #000;
	font: normal 21px/45px Century;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
	width: 146px;
}
.categories_blue_box span.browse{
	display: inline-block;
	font: italic 13px/32px Times;
	text-align: center;
	text-decoration: none;
	color: #000;
	padding: 5px 15px;
	width: 132px;
	margin: 0px;
}

.categories_blue_box span.browse:hover{
	color: #fff;
}

.products_holder_category{
	margin-top: 30px;
	
}
.category_all{
	border-left: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin-top: 15px;
	display: inline-block;
}
.products_holder_category ul li{
	display: inline-block;	
}
.category_product_items {
	border-right: 1px solid #efefef;
	border-top: 1px solid #efefef;
	width: 238px;
	overflow: hidden;
	height: 330px;
	display: inline-block;
	position: relative;
	float: left;
}
.visible_category_product{
	position: relative;
	padding: 10px 20px;
}

.product_category_hover{
	width: 238px;
	height: 330px;
	position: absolute;
	top: 0;
	left:0;
	display: none;
}

.product_category_hover a{
	width: 238px;
	height: 330px;
	display:block;
}

.category_product_items:hover .product_category_hover{
	display: block;
}

.welcome_category{
	width: 960px;
	background: url('../img/bg_box.png') top repeat-y;
	display: inline-block;
	position:relative;
}
.left_category_welcome{
	display: inline-block;
    float: left;
}
.right_category_welcome{
    display: inline-block;
    float: right;
    padding: 0;
 }
.left_category_welcome .top{
	height: 110px;
	padding-top: 34px;
	padding-left: 40px;
}
.left_category_welcome .top h2{
	font: normal 65px/68px Century;
	color: #fff;
}
.left_category_welcome .top ul{
	display: inline-block;
}
.left_category_welcome .top ul li{
	list-style: none;
	float: left;
	display: inline-block;
	color: #D8CB9E;
	font: italic 13px/16px Times;
	padding-top:3px; 
}
.left_category_welcome .top ul li a{
	color: #D8CB9E;
	text-decoration: none;
	font: italic 13px/16px Times;
}
.left_category_welcome .top ul li span{
	color: #D8CB9E;
	padding: 0 4px;
}
.left_category_welcome .bottom{
	padding-left: 17px;
	display: inline-block;
}
.left_category_welcome .bottom .blue_stripe{
	height: 110px;
	width: 10px;
	display: inline-block;
	float: left;
	margin: 10px 13px;
}
.left_category_welcome .bottom .text_category{
	height: 130px;
	display: inline-block;
	float: left;
	padding: 10px 0;
}
.text_category h5{
	color: #D8CB9E;
	font: italic 18px/16px Times;
}
.text_category p{
	width: 280px;
	font: italic 18px/18px Times;
	color: #fff;
	padding-top: 8px;

}
.category_blue_box{
	background: url('../img/category_blue_box.png');
	width: 132px;
	height: 94px;
	position: absolute;
	top: 120px;
	left: 54px;

}
.category_blue_box span{
	display: inline-block;
	padding: 0 11px;
	color: #000;
	font: italic 15px/17px Times;
	text-align: center;
	margin-top: 20px;
	width: 110px;
	text-transform: uppercase;
}
.category_blue_box button, .category_blue_box span.more-link{
	display: inline-block;
	font: normal 17px/32px Century;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #000;
	border: none;
	background: none;
	outline: none;
	margin: 15px 0px;
	width: 130px;
	padding: 0px;
	cursor: pointer;
}
.category_blue_box span.more-link:hover{
	color: #fff;
}

.category_blue_box .out-of-stock{
	text-align: center;
	color: #000;
	font: normal 12px/32px Century;/*font missing*/

}

.category_blue_box button:hover{
	color: #fff;
}
 
.visible_category_product .img_holder{
	padding: 12px 0px;
	text-align: center;
}
.category_chooser{
	width: 960px;
	height: 25px;
	padding: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: inline-block;
	padding: 10px 0;
}
.category_chooser select{
	width: 175px;
	height: 25px;
}
.category_chooser span{
	font: normal 17px/25px Century;/*font missing*/
	text-transform: uppercase;
	padding-right: 10px;
	float: left;
	display: inline-block;
}
.category_chooser ul{
	display: inline-block;
	float: right;
	padding: 5px 0;
	margin-right: -5px;
	overflow: hidden;
}
.category_chooser ul li{

}

.category_chooser ul li a{
	text-decoration: none;
	font: normal 17px/17px Century;/*font missing*/
	text-transform: uppercase;
	padding: 0 5px;
	width: 165px;

}
.category_chooser ul li a:hover{
	background: #D8CB9E;
	color: #fff;

}
.select_holder{
	display: inline-block;
	float: left;
	padding-left: 5px;
}
.all_select_holder{
	display: inline-block;
	float: left;
}
.paggination_category{
	width: 150px;
	padding-top: 30px;
	height: 25px;
	margin:auto;
}
.paggination_category  li{
	text-decoration: none;
	color: #000;
	font: normal 17px/17px Times;
	padding: 4px 8px;
}
.paggination_category  li:hover{
	background: #D8CB9E;
}
.paggination_category  li a{
	text-decoration: none;
	color: #000;
	font: normal 17px/17px Century;/*font missing*/
	
}
.number_of_products li a{
	text-decoration: none;
	color: #000;
	font: normal 17px/17px Times;
}
.product_name, .product_name a{
	font: normal 13px/20px 'LuzSans-Heavy';
	text-align: center;
	text-decoration: none;
	color: #000;
	text-transform: uppercase;
}
.product_desc{
	font: italic 13px/17px Times;
	text-align: center;
	color: #000;
	padding-top: 9px;
	
}
.product_price{
	font: normal 30px/40px Century;/*font missing*/
	font-weight: bold;
	text-align: center;
	color: #000;
}
.text_holder{
	padding-bottom: 0px;
}
.short_nav{

	width: 100%;
	height: 20px;
	display: inline-block;
	padding: 20px 0;
	border-top: 1px solid #000;

}
.quick_nav, .breadcrumbs{
	display: inline-block;
	float: left;
}
.left_welcome_blue_box .breadcrumbs{
	display: block;
    float: none;
}
.breadcrumbs ul{
	display: inline-block;
}
.quick_nav li, .breadcrumbs li{
	display: inline-block;
	float: left;
	font: italic 13px/20px Times;
	color: #000;
}
.quick_nav li a, .breadcrumbs li a{
	font: italic 13px/20px Times;
	color: #000;
	text-decoration: none;
}

.breadcrumbs li a:hover{
	text-decoration: underline;
}

.quick_nav li span,  .breadcrumbs li span{
	padding: 0 3px;	
}

.breadcrumbs li strong {
    font-weight: normal;
}

.quick_social{
	display: inline-block;
	float: right;
}
.quick_social li{
	display: inline-block;
	float: left;
	font: italic 15px/20px Times;
}
.quick_social li.email-friend{
	background: url('../img/emailtofriend.jpg') 0 0 no-repeat;
	font-size:0;
	line-height:0;
	height:26px;
	width:26px;
	text-indent:-9999px;
	margin:-3px 0 0;
}
.quick_social li.email-friend a{
	display:block;
	height:26px;
	width:26px;
	padding: 0;
}
.quick_social li a{
	padding: 0 3px;
}
.product_details{
	border: 1px solid #efefef;
	display: inline-block;
}
.product_details_right{
	width: 418px;
	border-left:2px solid #000;
	margin-top: 10px;
	margin-bottom: 15px;
	display: inline-block;
	float: left;
	padding: 15px 30px;
}
.product_details_right h2{
	color: #231f20;
	font: normal 35px/39px Century;/*font missing*/
	font-weight: bold;
}
.product_details_right span{
	
	font: normal 30px/43px Century;/*font missing*/
}
.product_details_right input[type="submit"],
.product_details_right button{
	width: 235px;
	height: 65px;
	background: url('../img/add_to_cart_button.png');
	border: 0px;
	outline: none;
	font: normal 25px/35px century;/*font missing*/
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	float: left;
}

.product_details_right button:hover{
	color: #fff;
}
.special_action{
	color: #231f20;	
}
.normal_price{
	color: #dadada;
	padding-left: 8px;
	text-decoration: line-through;

}
.product_details_right .product-description{
	color: #231f20;
	font: italic 15px/25px Times;
	text-align: left;
	padding-top: 10px;
	padding-right: 120px;
	padding-bottom:17px;
}
.product_details_left{
	width: 478px;
	display: inline-block;
	float: left;
	position: relative;
}
.product_details_left p{
	position: absolute;
	z-index: 999;
	margin-left: 110px;
	margin-top: 10px;
	font: italic 13px/16px Times;
}
.you_may_also_like{
	font: normal 28px/28px Century;
	display: inline-block;
	border-top: 1px solid #000;
	padding: 22px 0;
	margin-top: 15px;
	width: 100%;
	text-transform: uppercase;
}
.showcase-content-click{
	position: absolute;
	z-index: 9999;
	font: italic 13px/16px Times;
	text-decoration: none;
	bottom: 10px;
	left: 215px;
	color: #000;
	font: italic 13px/16px Times;
	text-decoration: none;
}

.showcase-content-click:hover{
	color: #D8CB9E;
}

.details{
	margin-top: 0px;
}
.product_scroller{
	width: 75px;
	padding: 12px 15px;
	height: 421px;
	background: #000;

}
/*zoomer*/

.showcase{
	
}

.showcase-content {
    height: 380px!important;
    width: 360px!important;

}
.showcase-content-container{
	float: right!important;
	height: 380px!important;
	width: 360px!important;
	padding-top: 45px;
}
.showcase-thumbnail-container{
	height: 440px!important;
	margin-top: 12px;
	padding: 0 15px;
}

.showcase-thumbnail {
	border: 1px solid #efefef;
	width:75px;
	height:95px;
	margin-top: 5px;
	position:relative;
	
}

.showcase-thumbnail.active{
	background: url('../img/thumb_product_bg.png') bottom no-repeat;
}

.showcase-thumbnail.active .showcase-thumbnail-cover{
    background-image: url("../img/hover_thumb_products.png");
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.showcase-thumbnail:hover .showcase-thumbnail-cover{
    background-image: url("../img/hover_thumb_products.png");
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.showcase-thumbnail-restriction{
	height: 413px!important;
	width: 77px!important;
	
}

.showcase-thumbnail-button-backward{
	width:40px;
	height:12px;
	display:block;
	background: url("../img/arrow_up.png") bottom center no-repeat;
	text-indent: -999em;
	cursor:pointer;
	margin: auto;
}
.showcase-thumbnail-button-backward:hover{
	
	background: url("../img/arrow_up.png") top center no-repeat;
}

.showcase-thumbnail-button-forward{
	width:40px;
	height:12px;
	display:block;
	background: url("../img/arrow_down.png") top center no-repeat;
	text-indent: -999em;
	cursor:pointer;
	margin: auto;
}
.showcase-thumbnail-button-forward:hover{
	
	background: url("../img/arrow_down.png") bottom center no-repeat;
	
}

.showcase-thumbnail-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
}


/* Overall */
.zoom {
	
}
.az-wrap, .az-small, .az-large {
  position: relative;
  
}
.az-wrap-inner {
  display: block;
   
  
}
/* This wraps the large image and hides it */
.az-zoom {
  background: #fff;
  border: #fff 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px; /* Default zoom window size */
  height: 200px;
  overflow: hidden;
  z-index: 100;
  display: none;
}
/* Class applied to az-mover when large image is windowed */
.az-windowed {
  overflow: hidden;
  position: absolute;
  border: 1px solid #fff;
}
/* Class applied to az-mover when large image is fully shown */
.az-expanded {
  height: auto;
  width: auto;
  position: static;
  overflow: visible;
}


/*end of zoomer*/
.welcome_product_details{
	margin-top: 20px;
	width: 960px;
	display: inline-block;
	background: url('../img/bg_box.png') repeat-y top;
	padding: 10px 0;
}

.select_holder_product_details {
	display: inline-block;
	margin-top: 8px;
	width:100%;
}

.select_holder_product_details span{
	font: normal 17px/25px Century;/*font missing*/
	display: inline-block;
	float: left;
	width: 90px;
	text-transform: uppercase;
}
.select_holder_product_details .required{
	padding:0;
}
.all_select_product_details{
	width: 100%;
	padding-top: 17px;
}
.add_to_cart_holder{
	display: inline-block;
	margin-top: 25px;
}
.add_to_cart_holder a{
	 
	 float: left;
	 font: italic 13px/65px Times;
	 margin-left: 20px;
	 color: #000;
	 text-decoration: none;
}
.left_welcome_product_details{
	display: inline-block;
	float: left;
	width: 160px;
}
.right_welcome_product_details{
	width: 798px;
	float: left;
	border-left: 1px solid #D8CB9E;
}
.right_welcome_product_details span.tab-title{
	font:normal 25px/35px Century;/*font missing*/
	color: #fff;
	padding: 20px;
	display: inline-block;
}
.for_jscroll_pane{
	width: 785px;
	height: 240px;

}
.for_jscroll_pane p{
	font: italic 13px/16px Times;
	color: #fff;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 15px;
}
.tabs{
	float: left;
	padding-left: 12px;
	padding-top: 55px;
	text-align: center;
}
.tabs li a{
	font: normal 14px/35px Century;/*font missing*/
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	width: 147px;
}
.tabs li a:hover{
	color: #D8CB9E;
}

.current{
	color: #D8CB9E!important;
	background:url('../img/current_bg.png') scroll 137px 5px no-repeat;
}
.left_welcome_product_details .separator{
	float: right;
	display: inline-block;
	width: 1px;
	height: 310px;
	background: url('../img/blue_line.png');
	margin: 10px 0;
}
.text_holder_product_details{
	font: italic 13px/16px Times;
	color: #fff;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 15px;	
}
.top_nav_service_pages{
	width: 100%;
	height: 130px;
	background: url('../img/bg_box.png') repeat-y top;
	
}
.last_chance,.thank_you,.not_found{
	padding: 20px 0;
	height: 90px!important;
}
.top_nav_service_pages h1{
	font: normal 35px/35px Century;/*font missing*/
	color: #fff;
	text-align: center;
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 12px;
	width: 100%;
}
.last_chance_welcome{
	font: normal 35px/35px 'BodoniFLF-Bold';
	color: #231f20;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding-top:50px;
	margin-top: 20px;
	border-top: 1px solid #000;
}
.last_chance_products_holder{
	width: 100%;
	height: 330px;
	position: relative;
	margin-top: 40px;
	border-left: 1px solid #efefef;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.last_chance_products_holder_border{
	border-right: 1px solid #efefef;
}
.grey_box_last_chance{
	background: url('../img/last_chance_grey_box.png') no-repeat;
	width: 48px;
	height: 46px;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	margin: 14px;
	font: italic 14px/14px Times;
	color: #fff;
	text-align: center;
}
.grey_box_last_chance span{
	padding-top: 10px;
	display: inline-block;
	width: 100%;
	text-align: center;
}
.last_chance_stripe{
	padding-top: 17px;
}
.proced_to_checkout_last_chance{
	width: 230px;
	background: url('../img/last_chance_big_grey_box.png') no-repeat;
	padding: 25px 5px;
	font: italic 14px/17px Times;
	color: #fff;
	text-align: center;
	margin: auto;
	margin-top:30px;

}
.proced_to_checkout_last_chance a{
	text-decoration: none;
	color: #fff;
}

.proced_to_checkout_last_chance a:hover{
	color: #D8CB9E;
}

.top_nav_service_pages_blue_stripe{
	border-top: 1px solid #D8CB9E;
	height: 1px;
	width: 910px;
	margin: 0 25px;
}
.top_nav_service_pages ul{
	
	
	display: inline-block;	
}

.top_nav_service_pages ul li{
	display: inline-block;
	float: left;
	list-style: none;
	margin:-1px 0 0 0;
	padding:0 9px;
	
}
.top_nav_service_pages ul li:hover,.top_nav_service_pages ul li.active{
	background: url('../img/customer_service_nav_arrow.png') no-repeat top;
}

.top_nav_service_pages ul li:hover a,.top_nav_service_pages ul li.active a{
	color: #55e5eb;
}
.top_nav_service_pages ul li a{
	color: #fff;
	font:normal 15px/35px Century;/*font missing*/
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 11px;
	display: inline-block;
}
.top_nav_service_pages ul li a:hover{
	color: #55e5eb;
	
}
.service_holder{
	border-top: 1px solid #000;
	margin-top: 20px;
	width: 100%;
	height: 50px;
	padding-top: 30px;
}
.service_holder.email-service-holder{
	margin-top: 0px;
}
.service_nav_bar {
	padding-left: 10px;
	
	display: inline-block;
	float: left;
}
.service_nav_bar h2{
	color: #1d292e;
	font: normal 25px/25px Century;/*font missing*/
	text-transform: uppercase;
}

.service_text_holder{
	width: 910px;
	padding: 20px 25px;
	border: 1px solid #efefef;
	font:italic 15px/22px Times;
	display: inline-block;
}
.service_text_holder h3{
	font: normal 19px/19px 'BodoniFLF-Bold';
	color: #000;
}
.service_text_holder p{
	font: italic 15px/22px Times;
	margin-bottom: 35px;
	margin-top: 5px;
}
.accordion_holder{
	
}
.accordion_text_holder_inner{
	
}
.accordion_holder h3{
	padding: 14px 0;
	font:normal 13px/13px 'LuzSans-Heavy';
	cursor: pointer;
}
.accordion_text_holder{
	background: #f4f4f4;
	padding: 8px;
}

.accordion_text{
	border: 1px solid #fff;
	padding:0 15px;
}
.accordion_text p{
	padding: 15px 0;
	margin: 0;
}
.welcome_without_blue_box{
	width: 960px;
	height: 130px;
	background: url('../img/bg_box.png') repeat-y top;
	display: inline-block;
}
.left_without_blue_box{
	width: 450px;
    height: 130px;
    display: inline-block;
    float: left;
}
.left_without_blue_box h1{
	font: normal 35px/35px Century;/*font missing*/
	color: #fff;
	padding-top: 40px;
}
.left_without_blue_box ul{
	display: inline-block;
}
.left_without_blue_box ul li{
	display: inline-block;
	float: left;
	color: #D8CB9E
}
.left_without_blue_box ul li span{
	padding: 0 3px;
	color: #D8CB9E;
	font-style: italic;
}
.left_without_blue_box ul li a{
	color: #D8CB9E;
	text-decoration:none;
	font-style: italic;
}

.right_without_blue_box{
	width: 393px;
    height: 130px;
    display: inline-block;
    float: right;
    padding-right: 40px;
    
}
.social_bar_blog{
	float: right;
	display: inline-block;
	padding-top: 60px;
}
.social_bar_blog span{
	float: left;
	display: inline-block;
	color: #D8CB9E;
	font: italic 18px/18px Times;
}
.social_bar_blog ul{
	float: left;
	
}
.social_bar_blog ul li{
	float: left;
	display: inline-block;
	color: #fff;
	padding-left: 5px;
}
.welcome_without_blue_box .blue_stripe{
	height: 110px;
	width: 10px;
	display: inline-block;
	float: left;
	margin: 10px 15px;
	display: inline-block;
}
.blog_wrapper{
	width: 100%;
	height: 100%;
	border-top: 1px solid #000;
	margin-top: 20px;
	padding-top: 25px;
	display: inline-block;
}


.pagination{
	display: inline-block;
	float: right;
}
.pagination li{
	float: left;
	display: inline-block;
	list-style: none;
	padding: 3px 8px;
}
.pagination li:hover{
	background: #D8CB9E;
}
.pagination li a{
	color: #000;
	text-decoration: none;
	font: normal 17px/17px Times;
}
.left_blog_container{
	width: 660px;
	height: 100%;
	border: 1px solid #efefef;
	float: left;
	display: inline-block;
	padding: 20px;
}
.blog_post{
	padding-bottom: 20px;
}
.blog_post_tittle{
	display: inline-block;
}
.blog_post_blue_box{
	background: url('../img/blog_post_box.png') no-repeat;
	width: 67px;
	height: 67px;
	float: left;
	display: inline-block;

}
.blog_post_blue_box span{
	font: normal 25px/25px 'BodoniFLF-Bold'; 
	width: 51px;
	text-align: center;
	color: #231f20;
	display: inline-block;
	padding: 0 8px;
	margin-top: 15px;
}
.blog_post_blue_box p{
	font: italic 12px/12px Times;
	color: #000;
	width: 57;
	text-align: center;
}
.blog_post_tittle h2{
	width: 576px;
	float: left;
	padding-left: 14px;
	text-transform: uppercase;
	font: normal 30px/34px 'BodoniFLF-Bold';
	color: #000;
	padding-top: 20px;
}

.blog_post_tittle h2 a{
	color: #000;
	text-decoration: none;
}

.blog_post_social{
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	width: 100%;
	height: 48px;
	margin: 20px 0;
}
.social_icons{
	float: left;
	display: inline-block;
	padding: 15px 0;

}
.social_icons li{
	float: left;
	display: inline-block;
	height: 20px;
	padding-left: 3px;
}
.social_icons li.first_child{
	color: #3d3d3d;
	font: italic 15px/22px Times;
	text-transform: uppercase;
}
.comments{
	float: right;
	display: inline-block;
	padding: 15px 0;
}
.comments li{
	float: left;
	display: inline-block;
	color: #3d3d3d;
	font: italic 15px/22px Times;
	padding-left: 3px;
}
.comments li span{
	padding: 0 3px;
}
.blog_post_content{
	font: italic 15px/22px Times;
	color: #3d3d3d;
	border-bottom: 1px solid #000;
}
.blog_post_content img{
	margin: 15px 0;
}
.blog_post_content p{
	padding-bottom: 30px;
}
.blog_post_content h3{
	font: normal 22px/36px 'BodoniFLF-Bold';
}
.right_blog_container{
	width: 238px;
	height: 100%;
	padding-left:20px;
	float: right;
	display: inline-block; 
}
.right_blog_container .categories{
	margin: 0 0 20px 0;
	height: 100%;
}
.first_box{
	background: url('../img/bg_box.png') repeat-y top;
	padding: 20px 28px;
}
.first_box .first_child{
	color:#fff;
	font: italic 30px/30px Times;
	padding-top: 0px;
}
.first_box ul{
	display: inline-block;
	width: 100%;

}
.first_box ul li{
	list-style: none;
	padding-top: 15px;
}
.first_box ul li a{
	color: #D8CB9E;
	text-decoration: none;
	font: normal 16px/16px 'BodoniFLF-Bold';
	text-transform: uppercase;
}
.second_box_holder{
	background: #D8CB9E;
	position: relative;
	padding: 8px;
	margin: 0 0 20px 0;
}
.second_box{
	border: 1px solid #fff;
	padding: 20px 15px;
}
.second_box ul{
	
}
.second_box ul li{
	list-style: none;
	padding-top: 10px;
	font: italic 14px/14px Times;
	color: #21292c;
	
}
.second_box .first_child{
	list-style: none;
	padding-top:0px;
	padding-bottom: 10px;
	font: normal 25px/26px 'BodoniFLF-Bold';
	color: #202c31;
}
.second_box ul li a{
	text-decoration: none;
	color: #21292c;
}

.third_box{
	border: 1px solid #D8CB9E;
	padding: 23px 20px;
	margin-top: 20px;
}
.third_box .first_child{
	font: normal 25px/26px 'BodoniFLF-Bold';
	color: #202c31;
}
.third_box ul{

}
.third_box ul li{
	font: italic 14px/22px Times;
	padding-bottom: 15px;
}
.third_box ul li a{
	color: #21292c;
}
.third_box ul li span{
	color: #cccccc;
	display: block;
	font: normal 14px/22px Times;
}
.newsletter_blog{
	width: 188px;
	margin: 20px 0;
	background: url('../img/bg_box.png') top repeat-y;
	padding: 25px 25px;
	display: inline-block;

}
.newsletter_blog h3{
	
	font-family: 'BodoniFLF-Bold';
	font-size: 22px;
	font-style: normal !important;
	line-height: 23px;
	text-transform: uppercase;
	color: #D8CB9E;
}
.newsletter_blog p{
	
	line-height: 22px;	
	font-size: 14px;
	font-style: italic;
	color: #fff;
	padding: 10px 0;
}
.newsletter_send{
	height: 31px;
	width: 191px;
	display: inline-block;
	border: 0px;
	float: left;
	cursor: pointer;
	

}
.newsletter_send input[type="text"] {
	border: none;
	height: 31px;
	float:left;
	background: #fff;
	padding: 0 0 0 10px;
    width: 161px;
	margin:0;
	line-height: 27px;
	font-style: italic;
	color: #dbdbdb;		
}

.newsletter_send input[type="submit"]{
	background: url("../img/newsletter.png") no-repeat scroll 0 6px #fff;
    border: medium none;
    float: left;
    height: 31px;
    margin: 0;
    width: 18px;
}
.blog_post_article{
	padding-bottom: 20px;
}
.blog_post_article .blog_post_content{
	border: 0;
}
.blackqoute{
	margin-left: 30px;
	margin-bottom: 25px;
	border-left: 1px solid #D8CB9E;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 30px;
}
.comments_blog{
	background: url('../img/bg_box.png') 0 0 repeat-y transparent;
	padding: 30px 25px;

}
.comments_blog h2{
	font:normal 30px/35px Century;
	color: #fff;
	padding-bottom: 20px;
}
.comments_blog h2 span{
	color: #D8CB9E;
}
.one_comment{
	padding: 15px 0;
	border-top: 1px solid #414b50;
}
.one_comment h3{
	font: italic 13px/20px Times;
	color: #D8CB9E;
}
.one_comment h3 span{
	padding:0 2px;
}
.one_comment{
	font: italic 13px/20px Times;
	color: #fff;
}
.blog_comments_form{
	border-top: 1px solid #414b50;
	padding-top: 20px;
	padding-left: 5px;
	padding-right: 5px;
}
.blog_comments_form h2{
	font:normal 30px/35px Century;/*font missing*/
	color: #fff;
	padding-bottom: 20px;
}
.blog_comments_form textarea{
	width: 570px;
	resize:none;
	height: 86px;
	outline: none;
	border: 0;
	margin-top: 10px;
	padding: 12px;
	font: italic 13px/13px Times;
	color: #000;
	display: inline-block;
}
.blog_comments_form input[type="text"]{
	float: left;
	display: inline-block;
	width: 282px;
	height: 35px;
	outline: none;
	border:0;
	margin-right: 5px;
	padding: 0 0 0 12px;
	font: italic 13px/35px Times;
	color: #000;
}
.blog_comments_form input[type="submit"], .blog_comments_form button{
	background: url('../img/submit_register.png') no-repeat;
	display: inline-block;
	width: 191px;
	height: 54px;
	outline: none;
	margin-top: 25px;
	border:0;
	font: normal 15px/35px Century;/*font missing*/
	color: #000;
	text-transform: uppercase;
}

 .blog_comments_form button:hover{
	color: #fff;
}

.blog_comments_form span{
	color: #D8CB9E;
	font: italic 14px/16px Times;
	padding-left: 15px;
}
.about_us_left{
	display: inline-block;
	float: left;
	width: 720px;
}
.about_us_left span{
	font: normal 14px/22px Century;/*font missing*/
	text-transform: uppercase;
	display: inline-block;
	padding: 20px 0;
}
.about_us_left p{
	font: italic 15px/22px Times;
	margin-bottom: 20px;
	margin-top: 0;
}
.about_us_right{
	display: inline-block;
	float: left;
	width: 170px;
}
.contact_support{
	background: url('../img/service_pages_blue_box.png') no-repeat center;
	width: 127px;
	height: 157px;
	float: right;
	display: inline-block;
	text-align: center;
	padding: 0 15px;

}
.contact_support span{
	display: inline-block;
	padding-top: 65px;
	font: normal 16px/16px Century;/*font missing*/
	text-transform: uppercase;
}
.contact_support a{
	
	font: italic 13px/13px Times;
	color: #000;
	text-decoration: none;
	display: inline-block;
}
span.bibasque{
	font: italic 15px/22px Times;
	padding: 0;
}
.logo_content{
	display: inline-block;
	width: 100%
}
.logo_content img{
	float: left;
	display: inline-block;
}
.logo_content span{
	display: inline-block;
	float: left;
	font: normal 18px/22px Century;/*font missing*/
	text-transform: none;
	padding-left: 25px;
	padding-top: 24px;
}
.single_news{
	display: inline-block;
	border-bottom: 1px solid #efefef;
	padding: 24px 0;
	width: 100%;
	float: left;
}
.single_news_last{
	border-bottom: 0px;
}
.single_news img{
	display: inline-block;
	float: left;
	width: 150px;
	height: 150px;
	border: 0;
}
.text_single_news{
	width: 750px;
	display: inline-block;
	float: left;
	padding-left: 10px;
}
.text_single_news span{
	color: #727272;
	font: normal 18px/22px 'BodoniFLF-Bold';
	text-transform: uppercase;
}
.text_single_news h3{
	color: #231f20;
	font: normal 18px/22px 'BodoniFLF-Bold';
	text-transform: uppercase;
}

.text_single_news h3 a{
	color: #231f20;
	font: normal 18px/22px 'BodoniFLF-Bold';
	text-transform: uppercase;
	text-decoration: none;
}

.text_single_news h3 a:hover{
	color: #D8CB9E;
}

.text_single_news p{
	margin-bottom: 0;
}
/*.separator_news{
	background: #efefef;
	width: 910px;
	height:1px;
	margin: 25px 25px;
}*/
.news{
	padding: 0 25px;
}
.single_testimonial_holder{
	display: inline-block;
	background:url('../img/testimonials_up.png') no-repeat 30px 30px #f4f4f4;
	padding: 8px 0;
	width: 100%;
	float: left;
	margin: 13px 0;

}
.single_testimonial{
	margin: 0 8px;
	border: 1px solid #fff;
	height: 100%;
	background: url('../img/testimonials_down.png') no-repeat bottom  right ;
	display: inline-block;
	padding: 30px;
}
.single_testimonial h3{
	font: normal 18px/34px 'BodoniFLF-Bold';
	text-transform: uppercase;
}
.single_testimonial{
	margin-bottom: 0px;
	font: italic 13px/18px Times;
	color: #000;
}
.testimonial{
	padding: 12px 25px;
}
.wholesale{ 
	padding: 30px 35px;
	width: 888px;
}
.contact-form{
	margin:45px 0 0 0;
}
.wholesale_left{
	display: inline-block;
	float: left;
	width: 400px;
	padding-right: 30px;
	border-right: 1px solid #efefef;

}
.wholesale_left p{
	margin-bottom: 0px;
	font: italic 15px/22px Times;
	text-align: center;
	margin-top: 40px;
}
.wholesale_left .logo_holder{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 40px 0;
}
.wholesale_left span{
	font: normal 15px/22px Times;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	padding: 0 10px;
}
.thank_you_wholesales{
	margin-top: 25px;
	margin-bottom: 35px;
}
.thank_you_wholesales p{
	margin-top: 0px;
	margin-bottom: 0px;
}
.wholesale_right{
	display: inline-block;
	float: left;
	width: 347px;
	padding-left: 70px;
	padding-right:40px; 
	padding-top: 5px;
}
.wholesale_right input[type="text"]{
	width: 319px;
	display: inline-block;
	height: 26px;
	margin-top: 10px;
	font: italic 15px/22px Times;
	color: #000;
	padding-left: 10px;
	border: 1px solid #5f5f5f;
}
.wholesale_right textarea{
	width: 319px;
	display: inline-block;
	height: 110px;
	margin-top: 17px;
	resize:none;
	font: italic 15px/22px Times;
	color: #000;
	padding-left: 10px;
	border: 1px solid #5f5f5f;
}
.wholesale_right form{
	width: 331px;
}
.wholesale_right span{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}
.wholesale_right input[type="submit"]{
	text-align: center;
	display: block;
	margin-top: 10px;
	font: normal 25px/35px Century;/*font missing*/
	text-transform: uppercase;
	color: #000;
	outline: none;
	border: none;
	width: 191px;
	height: 54px;
	background: url('../img/submit_register.png') no-repeat;
	margin-top: 10px;
	margin-left: 70px;
	cursor: pointer;
}

.wholesale_right input[type="submit"]:hover{
	color: #fff;
}

.warranty{
	
	padding-top: 30px;
	padding-bottom: 30px;
}
.warranty h3{
	text-transform: uppercase;
	font: normal 16px/22px Century;/*font missing*/
	padding-top: 25px;
}
.warranty ul{
	padding-left: 15px;
}
.warranty ul li{
	list-style: disc;
}
.register_returns{
	/*height: 335px;*/
	background: url('../img/bg_box.png') repeat-y;
	margin-top: 20px;
	display: inline-block;
	
}
.register_returns_left{
 	width: 440px;
 	float: left;
 	display: inline-block;
 	
 	margin: 10px 0;
 	/*height: 315px;*/
 	padding: 0 20px;
}
.register_returns_right{
	width: 359px;
	float: left;
	display: inline-block;
	margin: 10px 0;
 	/*height: 315px;*/
 	padding: 0 60px;
 	border-left: 1px solid #465155;
 	padding-bottom: 67px;
}
.register_returns h4{
	font: normal 35px/35px Century;/*font missing*/
	color: #fff;
	text-align: center;
	width: 100%;
	padding-top: 30px;
}
.register_returns_left span{
	color: #D8CB9E;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 37px;
	padding-bottom: 40px;
	font: italic 25px/25px Times;

}
.register_returns_right span{
	color: #fff;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding-top: 37px;
	font: italic 16px/22px Times;

}
.register_returns a{
	background: url('../img/warranty_submit.png') no-repeat;
	width: 296px;
	height: 54px;
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 10px;
	font: normal 17px/54px Century;/*font missing*/
	text-transform: uppercase;
	text-decoration: none;;
	color: #000;
}
.warranty_form{
 
 padding-top: 30px;
 padding-bottom: 0px;
}
.warranty_form h3{
 font: normal 20px/29px Century;/*font missing*/
 text-transform: uppercase;
 padding: 0 80px;
 text-align: center;
}
.warranty_form .form{
 border-top: 1px solid #efefef;
 margin-top: 30px;
 display: inline-block;
 width:100%;
}
.warranty_form h4{
 font:normal 25px/35px Century;/*font missing*/
 text-align: left;
 padding-top: 17px;
 padding-bottom: 20px;
}
.warranty_form_left{
 border-right: 1px solid #efefef;
 padding:0 0 0 50px;
 float: left;
 display: inline-block;
 width: 404px;
 margin: 10px 0 0 0;

}
.warranty_form_left .form-list li{
	margin:0;
}
.form-list label{
 font: normal 13px/14px 'LuzSans-Heavy';
 text-transform: uppercase;
 color: #231f20;
 margin: 0 0 5px 0;
 padding: 0px;
}
.warranty_form_right{
 width: 380px;
 float: left;
 display: inline-block;
 margin: 10px 0;
 padding-left: 73px;
}
.form-list input[type="text"],
.form-list input[type="password"]{
	 width: 322px;
	 display: inline-block;
	 height: 26px;
	 margin-bottom: 10px;
	 font: italic 15px/22px Times;
	 color: #000;
	 padding-left: 10px;
	 border: 1px solid #5f5f5f;
	 background: #fff;
}
.form-list textarea{
	width: 322px;
	border: 1px solid #5f5f5f;
	padding-left: 10px;
}
/*checkbox*/

.ez-checkbox,
.ez-radio{
 width: 30px;
 height: 30px;
 margin:0px 0px 0px 0px;
 padding:0px;
 background: url('../img/check.png') center center no-repeat;
 float:left;
}

.ez-checkbox.ez-checked,
.ez-radio.ez-selected{
 background: url('../img/checked.png') center center no-repeat;
}

input.ez-hide{
 margin:0px 0px 0px 0px;
    width: 30px;
 height:30px;
 opacity: 0;
 filter: alpha(opacity = 0);
}
.checkbox_text{
 font:italic 14px/30px Times!important;
 text-transform: none!important;
 padding-left: 10px;
}
.warranty_form input[type="submit"]{
 text-align: center;
 display: block;
 margin-top: 10px;
 font: normal 25px/35px Century;
 text-transform: uppercase;
 color: #000;
 outline: none;
 border: none;
 width: 191px;
 height: 54px;
 background: url('../img/submit_register.png') no-repeat;
 margin-top: 40px;
 margin-left: 70px;
  cursor:pointer;
}

.warranty_form input[type="submit"]:hover{
	color: #fff;
}

.warranty_form input[type="reset"]{
 text-align: center;
 display: block;
 font: italic 14px/20px Times;
 color: #fff;
 outline: none;
 border: none;
 width: 133px;
 height: 34px;
 background: url('../img/reset_btn.png') no-repeat;
 margin-top: 10px;
 margin-left: 99px;
 cursor:pointer;
}

.warranty_form input[type="reset"]:hover{
	color: #D8CB9E;
}
.feature_holder{
	width:100%;
	display: inline-block; 
	margin-top: 5px;
}
.feature{
	display: inline-block;
	border-bottom: 1px solid #efefef;
	padding: 25px 0;
}
.icon{
	width: 124px;
	height: 124px;
	line-height: 124px;
	float: left;
	display: inline-block;
	text-align: center;
	background: url("../img/welcome_blue_box.png") no-repeat;
}
.icon img {
	vertical-align: middle;
}
.feature_text{
	float: left;
	display: inline-block;
	padding:0 20px;
}
.feature_text h3{
	font:normal 25px/34px 'BodoniFLF-Bold';
}
.feature_text p{
	float: left;
	display: inline-block;
	width: 790px;
	font: italic 13px/18px Times;
	
}
.last_feature{
	border-bottom: 0px;
	padding-bottom: 0px;
}
.thank_you_holder{
	background: url('../img/thankyou_bg.png') center  40px no-repeat;
	border-top: 1px solid #000;
	width: 960px;
	margin-top: 20px;
	display: block;
}
.thank_you_note h2{
	padding-top: 230px;
	font: normal 35px/35px 'BodoniFLF-Bold';
	text-transform: uppercase;
	color: #231f20;
	text-align: center;
}
.thank_you_note p{
	font: italic 15px/26px Times;
	padding: 20px 90px;
	text-align: center;
}
.thank_you_note a{
	background: url('../img/submit_register.png') no-repeat;
	width: 191px;
	height: 54px;
	display: block;
	margin: 0 auto 30px auto;
	text-align: center;
	font: normal 17px/54px Century;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;

}

.thank_you_note a:hover{
	color: #fff;
}

.voucher_holder{
	background: url('../img/bg_box.png') repeat-y top;
	width: 960px;

}
.voucher_holder h2{
	font:normal 35px/35px Century;/*font missing*/
	color: #fff;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
}
.voucher_img{
	width: 290px;
	height: 102px;
	margin: auto;
}
.voucher_holder p{
	padding: 30px 190px;
	font:italic 17px/26px Times;
	color: #fff;
	text-align: center;

}
.blue_stripe_voucher{
	width: 718px;
	display: inline-block;
	height: 15px;
	padding: 0 121px
}
.blue_stripe_voucher img{
	width: 718px;
}
.voucher_code{
	text-align: center;
}
.voucher_code input[type="text"]{
	width: 260px;
	height: 40px;
	border:0px;
	outline: none;
	background: #fff;
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
	font: italic 16px/40px Times;
	color: #000;
}
.voucher_code input[type="submit"]{
	background: url('../img/submit_register.png') no-repeat;
	width: 191px;
	height: 54px;
	display: block;
	margin: auto;
	text-align: center;	
	font: normal 17px/54px Century;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;	
	border:none;
	cursor:pointer;
}
.voucher_holder span{
	text-align: center;
	display: inline-block;
	padding-top:15px;
	padding-bottom: 20px;
	width: 100%;
	font: italic 14px/26px Times;
	color: #fff;

}
.voucher_holder span a{
	font: italic 14px/26px Times;
	color: #fff;
	padding-left: 3px;
	text-decoration: none;
}
/**/

.voucher_thank_you_holder{
	background: url('../img/bg_box.png') repeat-y top;
	width: 960px;

}
.voucher_thank_you_holder h2{
	font:normal 35px/35px Century;/*font missing*/
	color: #fff;
	padding-top: 35px;
	padding-bottom: 30px;
	text-align: center;
	padding-left:85px;
	padding-right: 85px;
}
.voucher_thank_you_img{
	width: 290px;
	height: 100px;
	margin: auto;
	text-align: center;
	padding-bottom: 15px;
}
.voucher_thank_you_holder p{
	padding: 12px 130px;
	font:italic 15px/26px Times;
	color: #fff;
	text-align: center;

}
.blue_stripe_voucher{
	width: 718px;
	display: inline-block;
	height: 15px;
	padding: 0 121px;
	margin-top:15px;
}
.blue_stripe_voucher img{
	width: 718px;
}
.voucher_thank_you_button{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 30px;
}

.voucher_thank_you_button a{
	background: url('../img/voucher_button.png') no-repeat;
	width: 237px;
	height: 54px;
	display: block;
	margin: auto;
	text-align: center;	
	font: normal 17px/54px Century;
	text-transform: uppercase;
	text-decoration: none;
	color: #000;

}
p.voucher_blue_text{
	color: #D8CB9E;
	font:italic 17px/26px Times;
}
.sitemap_holder{
	display: inline-block;
	width: 100%;
	background: url('../img/thankyou_bg.png') no-repeat center right;
}
.sitemap_holder h3{
	font: normal 25px/35px 'BodoniFLF-Bold';
	padding: 20px 0;
}
.sitemap_collumn{
	width: 170px;
	float: left;
	display: inline-block;
}
.sitemap_collumn ul{
	padding-bottom: 20px;
}
.sitemap_collumn ul li{
	list-style: none;
}
.sitemap_collumn ul li a{
	color: #000;
	font: italic 13px/17px Times;
}
.not_found{}
.not_found_holder{
	display: inline-block;
	margin-top: 20px;
	border-top: 1px solid #000;
	background: url('../img/not_found_bg.png') no-repeat center 90px;
}
.not_found_holder h3{
	font: normal 35px/35px 'BodoniFLF-Bold';
	text-align: center;
	text-transform: uppercase;
	padding-top: 170px;
}
.not_found_holder p{
	font:italic 15px/26px Times;
	padding: 30px 150px;
	text-align: center;
}
.button_holder{
	width: 100%;
	text-align: center;
}
.not_found_holder a{
	background: url('../img/submit_register.png') no-repeat;
	width: 191px;
	height: 54px;
	display: inline-block;
	text-align: center;
	color: #000;
	font: normal 18px/54px Century;/*font missing*/
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 100px;
	
}
.groupon_code_cart{
	background: url('../img/bg_box.png') top repeat-y;
	width: 100%;
	display: inline-block;
	margin-top: 20px;
}
.groupon_cart_left{
	padding: 25px 8px;
	display: inline-block;	
	float: left;
	width: 180px;
}
.blue_stripe_groupon{
	background: url('../img/groupon.png') no-repeat;
	height: 54px;
	width: 10px;
	float: left;
	margin-top: 35px;
	margin-bottom: 35px;
	margin-left: 15px;
	margin-right: 0px;
}
.groupon_input{
	display: inline-block;
	float: left;
	width: 170px;
}
.groupon_input input[type="text"] {
	
	border: none;
	height: 28px;
	float: left;
	width: 132px;
	background: #fff;
	color: #231f20;
	padding: 0;
	margin: 0;
	line-height: 22px;
	font-style: italic;
	font-family: Times;
	font-size: 14px;
	margin-top: 3px;
	padding-left: 10px;
	
}


.groupon_input input[type="submit"]{
	background: url("../img/groupon_submit.png") no-repeat #fff;
	float: left;
	border: none;
	padding: 0;
	width: 28px;
	height: 28px;
	margin: 0;
	cursor: pointer;
	margin-top: 3px;
}
.groupon_input span{
	display: inline-block;
	font: normal 18px/22px Century; /*font missing*/
	color: #fff;
	width: 100%;

}
.icons{
	float: left;
	display: inline-block;
	margin-top: 15px;
}
.icons ul{
	display: inline-block;
	float: left;
}
.icons ul li{
	list-style: none;
	display: inline-block;
	float: left;
	padding-right: 10px;
}
.groupon_cart_right{
	width: 710px;
	float: left;
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 20px;
	padding-right: 20px;
}
.groupon_button{
	float: right;
	display: inline-block;
	width: 210px;

}

.groupon_button button{
	background: url('../img/groupon_button.png') no-repeat;
	width: 209px;
	height: 64px;
	display: inline-block;
	text-align: center;
	color: #000;
	font: normal 18px/64px Century;/*font missing*/
	text-transform: uppercase;
	text-decoration: none;
	float: right;
	border: none;
	outline: none;
	cursor: pointer;
}

.groupon_button button:hover{
	color: #fff;
}
.groupon_link span{
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #fff;
	font: italic 13px/22px Times;
}
.groupon_link a{
	background: none;
	font: italic 13px/22px Times;
	color: #fff;	
	text-decoration: none;
	padding-left: 3px;
}

.groupon_link a:hover{
	color: #D8CB9E;
}

.groupon_link_holder{
	width: 210px;
	display: inline-block;
	float: right;
}
.groupon_price{
	float: right;
	display: inline-block;
	padding-right: 35px;
	width: 450px;
}
.groupon_price table{
	float: right;
}

.groupon_price table td{
	padding: 0px 5px;
}

.groupon_price p{
	font: italic 13px/22px Times;
	color: #D8CB9E;
	text-align: right;

}
.login_holder{
	background: url('../img/bg_box.png') repeat-y top;
	display: inline-block;
	width: 100%;
}
.login_left{
	display: inline-block;
	float: left;
	width: 419px;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid #D8CB9E;
	margin: 10px 0;

}
.login_left h2{
	font: normal 35px/35px Century;/*font missing*/
	color: #fff;
	padding-top:30px;
	padding-bottom: 10px;
}
.login_left p{
	font: italic 15px/15px Times;
	color: #D8CB9E;
	padding: 10px 0;
	display: inline-block;
}
.login_left input[type="text"],
.login_left input[type="password"]{
	width: 400px;
	display: inline-block;
	height: 37px;
	margin: 10px 0 0 0;
	font: italic 15px/37px Times;
	color: #000;
	padding-left: 10px;
	border: none;
}

.login_left input[type="text"]:focus,
.login_left input[type="password"]:focus{
	background: #fff;
	border: none;
}

.login_left input[type="submit"],
.login_left button{
	text-align: center;
	font: normal 25px/35px Century;/*font missing*/
	text-transform: uppercase;
	color: #000;
	outline: none;
	border: none;
	width: 155px;
	height: 54px;
	background: url('../img/login_btn.png') no-repeat;
	float: left;
	display: inline-block;	
	cursor:pointer;
}

.login_left input[type="submit"]:hover,
.login_left button:hover{
	color: #fff;
}

.login_right{
	display: inline-block;
	float: left;
	width: 480px;
	padding-top: 5px;
}
.checkbox_holder{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
}
.checkbox_text_login{
 font:italic 14px/30px Times!important;
 text-transform: none!important;
 padding:0;
 padding-left: 10px;
 padding-right:3px;
 color: #D8CB9E;
}
.checkbox_holder a{
	color: #D8CB9E;
	font:italic 14px/30px Times;
	text-decoration: none;
	padding-left: 3px;
}

.checkbox_holder a:hover{
	color: #fff;
}

.checkbox_holder a span{
	padding-right: 5px;
}

.login_right a,
.login_right button{
	text-align: center;
	display: inline-block;
	font: normal 25px/54px Century;/*font missing*/
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	width: 191px;
	border: none;
	outline: none;
	height: 54px;
	background: url('../img/submit_register.png') no-repeat;	
}

.login_right a:hover,
.login_right button:hover{
	color: #fff;
	cursor: pointer;
}

.buttons_holder{
	display: inline-block;
	width: 100%;
	margin-top:20px;
	padding-bottom: 35px;
}
.buttons_holder a{
	text-align: center;
	display: inline-block;
	font: italic 15px/41px Times;/
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	width: 171px;
	height: 41px;
	background: url('../img/login_with_face.png') no-repeat;
	margin-left: 20px;
	float: left;
	margin-top: 7px;
}

.buttons_holder a:hover{
	color: #000;
}

.login_right h2{
	font: normal 35px/35px Century;/*font missing*/
	color: #fff;
	padding-top:30px;
	text-align: center;
}
.login_right p{
	color: #fff;
	text-align: center;
	width: 420px;
	padding: 0 30px;
	font: italic 16px/22px Times;
}
.login_right .logo_holder{
	text-align: center;
	width: 100%;
	padding: 25px 0;
}
.link_holder_right{
	width: 100%;
	text-align: center;
	padding: 50px 0 20px 0;
}
.register_login{
	display: inline-block;
	background: url('../img/bg_box.png') top repeat-y;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
}
.register_login_left{
	width: 520px;
	display: inline-block;
	float: left;
}
.register_login_left h2{
	width: 100%;
	text-align: center;
	color: #fff;
	font: normal 35px/35px Century;/*font missing*/
	padding-top: 70px;
}
.register_login_left .logo_holder{
	text-align: center;
	width: 100%;
	padding: 25px 0;
}
.register_login_left p{
	color: #fff;
	padding: 0 50px;
	text-align: center;
	font: italic 16px/22px Times;
}
.register_login_left ul{
	width: 100%;
	text-align: center;
	margin-top: 25px;
	

}
.register_login_left ul li a{
	font: italic 16px/22px Times;
	color: #D8CB9E;
	text-decoration: none;
}
.register_login_right{
	width: 440px;
	display: inline-block;
	float: left;
}
.register_login_right label{
	color: #D8CB9E;
	margin: 0 0 5px 0;
}
.register_login_right input[type="text"],
.register_login_right input[type="password"]{
	width: 400px;
	padding-left: 10px;
	height: 37px;
	font: italic 13px/37px Times;
}

.register_login_right input[type="text"]:focus,
.register_login_right input[type="password"]:focus{
	background-color: #fff;
}

.required_field_input,
input.required-entry{
	background: url('../img/input_register_bg.png') no-repeat right 10px top #fff;
}

.register_login_right span{
	font: italic 14px/28px Times;
	color: #fff;
	text-decoration: none;	
}
.register_login_right input[type="submit"],
.register_login_right button{
	text-align: center;
	display: inline-block;
	font: normal 25px/35px Century;/*font missing*/
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
	outline: none;
	border:none;
	width: 191px;
	height: 54px;
	background: url('../img/submit_register.png') no-repeat;
	float: left;
	margin: 20px 0;
	cursor: pointer;
}

.register_login_right input[type="submit"]:hover,
.register_login_right button:hover{
	color: #fff;
}

span.required_field{
	display: inline-block;
	float: left;
	padding-left: 20px;
	padding-top: 35px;
}

.login_left{
	color: #D8CB9E;
    font: italic 14px/30px Times;
}

li.control{
	margin: 0 0 10px 0;
}

li.control .input-box{
	float: left;
}

li.control label{
	float: left;
	color: #231f20;
    font: italic 14px/30px Times;
    text-decoration: none;
    padding-left: 10px;
	margin: 0px;
    text-transform: none !important;
}

.register_login_right li.control label{
	color: #fff;
}

.box-account{
	background: none;
	border: none;
}

.service_text_holder .box h3{
	font: 25px/35px Century;
    padding: 10px 0;
    text-align: left;
	color: #231f20;
}

.box-title{
	display: inline-block;
	width: 420px;
	background: #f4f4f4;
	padding: 10px;
}

.box-title h3{
	float: left;
}

.box-title a{
	float: right;
	padding: 20px 0 0 0;
}

.box-content{
	padding: 10px;
}

.box a{
	color: #D8CB9E;
}
.friend-form-list{
	width: 49%;
	float:left;
}
.form-list .field{
	width: 100%;
}

.blue-btn{
	background: url("../img/login_btn.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    float: left;
    font: 25px/35px Century;
    height: 54px;
    outline: medium none;
    text-align: center;
    text-transform: uppercase;
    width: 155px;
}

.blue-btn:hover{
	color: #fff;
}

.buttons-set {
    text-align: left;
	border: none;
    clear: both;
    margin: 15px 0 0 0;
    padding:0;
}

.required{
	display: inline-block;
	line-height: 50px;
	padding: 0 0 0 15px;
	
}

.form-list select{
	background:#FFFFFF;
    border: 1px solid #5F5F5F;
    color: #000000;
	font-size: 15px;
    height: 32px;
    padding: 5px;
    width: 335px;
	margin-bottom: 10px;
	text-transform: none;
}

.service_nav_bar.in-line{
	display: inline-block;
	width: 940px;
}

.service_nav_bar.in-line h2{
	float: left;
}

.service_nav_bar.in-line button{
	float: right;
	font-size: 14px;
	text-transform: none;
	font-style: italic;
	margin: -17px 0 0 0;
}

.my-account .addnew .col2-set .col-1 {
    float: none;
    width: 100%;
}

.my-account .addnew .col2-set .col-2 {
    float: none;
    width: 100%;
}

.addnew .col2-set.addresses-list ol {
    display: inline-block;
    width: 100%;
}


.addnew .col2-set.addresses-list li.item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    float: left;
    padding: 10px;
    width: 435px;
}

.addnew .col2-set.addresses-list h2{
	background: none repeat scroll 0 0 #F4F4F4;
    padding: 10px;
	margin: 0 0 20px 0;
	color: #231F20;
    font: 25px/35px Century;
	text-transform: none;
    text-align: left;
}


.addnew .col2-set.addresses-list li.item h3 {
	color: #231F20;
    font: 20px/35px Century;
    padding: 10px 0;
    text-align: left;
	text-transform: none;
}

.addnew .addresses-list a {
    font-weight: normal;
	color: #D8CB9E;
}

.title-with-bottom{
	padding: 20px;
	border-bottom: 1px solid #000;
	font-size: 25px;
	text-transform: uppercase;
	font-family: 'BodoniFLF-Bold';
	line-height:26px;
	margin: 0 0 10px 0;
}

.data-table {
    border: none;
    width: 100%;
}

.data-table .odd {
    background: none;
}

.data-table .even {
    background: none;
}

.data-table td.last, .data-table th.last {
    border-right: 0 none;
}

.data-table tr.last th, .data-table tr.last td {
    border-bottom: 1px solid #efefef !important;
}

.data-table th {
    font-weight: normal;
    padding: 10px;
	border-bottom: 1px solid #efefef;
}

.data-table td {
    padding: 10px 10px;
	border-bottom: 1px solid #efefef;
}

.data-table thead th {
    border-right: none;
    color: #231f20;
    font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
    padding: 10px;
    vertical-align: middle;
    white-space: nowrap;
	font-family: Century;
}

.data-table thead th.wrap {
    white-space: normal;
}

.data-table thead th a, .data-table thead th a:hover {
    color: #FFFFFF;
}
.data-table thead th {
    background:none;
	font-style: normal;
}

.data-table thead th .tax-flag {
    font-size: 11px;
    white-space: nowrap;
}

.data-table tfoot {
    border-bottom: none;
}

.data-table tfoot tr.first td {
    background: none;
}

.data-table tfoot tr {
    background-color: none;
}

.data-table tfoot td {
    border: none;
}

.data-table tfoot strong {
    font-size: 16px;
}

.data-table tbody th, .data-table tbody td {
    border:none;
}

.data-table tbody.odd tr {
    background: none;
}

.data-table tbody.even tr {
    background: none;
}

.data-table tbody.odd tr td, .data-table tbody.even tr td {
    border: none;
}

.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td {
    border:none;
}

.data-table tbody td .option-label {
    font-style: normal;
    font-weight: none;
}

.data-table tbody td .option-value {
    padding-left: 10px;
}

.data-table tfoot tr {
    background: none;
}

.data-table tfoot tr {
    background: none;
}

.data-table tfoot tr {
    background-color: #fff !important;
}

.cart-table .product-name {
    color: #000;
    font-weight: none;
	line-height: 20px;
    margin: 0 0 5px;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'LuzSans-Heavy';
}

.cart-table .product-name a{
    color: #000;
    font-weight: none;
    margin: 0 0 5px;
	font-size: 13px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'LuzSans-Heavy';
}

.product-name, 
#opc-review .product-name,
.product-name a, .order-items .product-name{
    font-size: 13px;
    font-weight: normal;
    margin: 0;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'LuzSans-Heavy';
	line-height: 20px;
	color: #231F20;
}

.groupon_input .inputcupon {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    color: #231F20;
    float: left;
    font-family: Times;
    font-size: 14px;
    font-style: italic;
    height: 28px;
    line-height: 22px;
    margin: 3px 0 0;
    padding: 0 0 0 10px;
    width: 132px;
}

.groupon_input button {
    background: url("../img/groupon_submit.png") no-repeat scroll 0 0 #FFFFFF;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 28px;
    margin: 3px 0 0;
    padding: 0;
    width: 28px;
}

#shopping-cart-totals-table tfoot{
	color: #FFFFFF;
    font: 25px/22px Century;
}

#shopping-cart-totals-table tbody{
	color: #D8CB9E;
    font: italic 13px/22px Times;
}

input.qty {
    width:50px !important;
	height: 20px;
	border: 1px solid #e1e1e1;
	text-align:center;
	background: #fff;
}

input.qty:focus{
	background: #fff;
}

.remove{
	font-size: 13px;
	font-family: 'LuzSans-Heavy';
	color: #dbdbdb;
	text-decoration: none;
}

#shopping-cart-table .price{
	color: #231f20;
	font-family: Century;
	font-weight: bold;
	font-size: 20px;
}

#wishlist-table td, #shopping-cart-table td {
    vertical-align: middle;
}

#checkoutSteps{
	margin: 20px 0px 0px 0px;
	padding: 10px 0 0 0;
	border-top: 1px solid #000;
}

.opc .active .step-title {
    background: #fff !important;
    border: none;
    color: #231f20 !important;
    cursor: default;
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	font-family: Century;
}

.opc .active .step-title h2 {
    font-size: 15px;
	font-weight: bold;
	font-family: Century;
	color: #231f20 !important;
	text-transform: uppercase;
}


.opc .active .step-title .number {
    background: none;
    border: none;
    color: #231f20 !important;
	font-size: 15px;
	font-weight: bold;
	font-family: Century;
}

.opc .step {
    border: 1px solid #ECECEC;
    background:#fff;
    padding: 15px 30px;
    position: relative;
}

.opc .step-title, .opc .allow .step-title {
    background: url("../img/patern.png") repeat-x;
    border:none;
	padding: 10px;
    text-align: right;
}


.opc .step-title .number, .opc .allow .step-title .number{
    background: none;
    border: none;
    color: #fff;
	font-size: 15px;
	font-weight: bold;
	font-family: Century;
}

.opc .step-title h2, .opc .allow .step-title h2{
	font-size: 15px;
	font-weight: bold;
	font-family: Century;
	color: #fff;
	text-transform: uppercase;
}

#checkoutSteps .section{
	margin: 0 0 5px 0;
}

#checkoutSteps .control{
	width: 100%;
}

#checkoutSteps .blue-btn{
	font-size: 21px;
}


#opc-login h3 {
    border-bottom: 1px solid #E4E4E4;
    font-size: 23px;
    padding: 15px 0;
	color: #231f20;
	line-height:25px;
	margin: 0 0 20px 0;
	font-family: 'BodoniFLF-Bold';
    text-transform: uppercase;
	font-style: normal;
}

#checkout-step-login{
	font-size: 14px;
	font-family: Times;
	font-style: italic;
}

#checkout-step-login p{
	margin: 0 0 15px 0;
}

#opc-login h4 {
    color: #231f20;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 10px 0;
	font-style: normal;
	font-family: 'BodoniFLF-Bold';
}

#checkout-step-login .col-1 .ul {
	padding: 0px;
}

#checkout-step-login .col-1 .ul li{
	margin: 5px 0;
	padding: 0 0 0 15px;
	background: url("../img/skv.png") left center no-repeat;
}

.f-pass{
	color: #231f20;
	text-decoration: none;
}

.f-pass:hover{
	color: #D8CB9E;
}

#checkout-step-login .checkbox_text_login{
	color: #231f20;
	text-decoration: none;
}

.required-entry{
	background: url("../img/input_register_bg.png") no-repeat scroll right 10px top #FFFFFF !important;
}

#billing-address-select, #shipping-address-select{
	width: 580px;
	margin: 0 0 15px 0;
}


.sp-methods dt {
    font-weight: normal;
    margin: 13px 0 5px;
	font-family: Century;
	font-size: 20px;
	color: #231F20 ;
}

.sp-methods label {
    color: #231F20;
    font-weight: normal;
	font-size: 14px;
}

#payment_form_ccsave{
	padding: 20px 0 0 20px;
}

.form-list .input-box {
    clear: both;
    display: block;
    width: 100%;
}

.cvv-what-is-this{
	color: #D8CB9E;
}

.opc .step .tool-tip {
    left: 310px;
}

#review-buttons-container{
	border: none !important;
}

#checkout-review-table tfoot td{
	padding-top:5px;
	padding-bottom: 5px;
}

#review-buttons-container a{
	color: #D8CB9E;
}

#my-orders-table.data-table tr th, #my-orders-table .data-table tr td{
	border: none !important;
}

#my-orders-table.data-table tr.odd{
	background: #f2f2f2;
}

#my-orders-table.data-table tr.even{
	background: #fff;
}

.order-number{
	color: #000;
	font-family: 'LuzSans-Heavy';
	font-size: 12px;
	font-style: normal;
}

.black-btn{
	background: url("../img/add.png") no-repeat scroll 0 0 transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 14px/34px Times;
	font-style: italic;
    height: 34px;
    outline: medium none;
    text-align: center;
    text-decoration: none;
    width: 133px;
}

.black-btn:hover{
	color: #000;
	background: url("../img/add-hover.png") no-repeat scroll 0 0 transparent;
}

.remove-from-wishlist{
	color: #1d292e;
	text-decoration: none;
	margin: 10px 0 0  0;
	display: inline-block;
}

.remove-from-wishlist:hover{
	color: #55E5EB;
}

#wishlist-view-form p{
	margin: 5px 0;
	padding: 0px;
}

#wishlist-view-form .price{
	color: #231f20;
	font-weight: bold;
	font-size: 20px;
	font-family: Century;
}

#wishlist-view-form .old-price .price{
	text-decoration: line-throught;
	color: #dadada;
}

#wishlist-view-form .description{
	width: 460px;
}

#wishlist-view-form .price-box{
	width: 130px;
}

.blue-btn.small{
	font-size: 14px;
	text-transform: none;
	font-style: italic;
}

#my-orders-table tfoot td{
	padding: 5px 10px;
}

.right_social_service{
	display: inline-block;
	float: right;
}

.social-absolute {
    position: absolute;
    right: 0;
    top: 180px;
}

.container{
	position: relative;
}

.right_social_service li{
	display: inline-block;
	float: left;
	padding-left: 3px;
}

.right_social_service li span{
	font: italic 15px/17px Times;
}

.contact_support:hover a{
	color: #fff;
}

.register_returns a:hover{
	color: #fff;
}

.product_details_right .price{
	font: 30px/43px Century;
	color: #231F20;
}

.product_details_right .old-price .price{
	color: #DADADA;
    text-decoration: line-through;
}

.product_details_right p{
	display: inline;
	padding: 0px 5px 0px 0px;
}

.old-price .price{
	color: #DADADA;
    text-decoration: line-through;
}


.add-to-box {
    margin: 0;
	display:inline-block;
	width: 100%;
}

.add-to-box  .add_to_cart_holder{
	float: left;
}

.add-to-box  .link-wishlist{
	float: left;
	color: #000!important;
    font: italic 13px/65px Times;
    margin: 20px 0 0 20px;
    text-decoration: none;
}

.add-to-box  .link-wishlist:hover{
	color: #D8CB9E!important;;
}

.hover_product a:hover{
	color: #fff;
}

.products_items .product_name a{
    font-family: 'LuzSans-Heavy';
    font-size: 11px;
    line-height: 15px;
    text-align: center;
	color: #000;
	text-decoration: none;
    text-transform: uppercase;
}

.product_price .regular-price .price,
.product_price .special-price .price{
	font-family: Century;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    margin-top: 5px;
    text-align: center;
	color: #000;
}

.product_price .price, .product_price p{
	font-size: 25px!important;
	line-height: 26px !important
}

.top-pager .pages{
	display: none;
}

.bottom-pager  .all_select_holder, .bottom-pager .number_of_products, .bottom-pager .sortby{
	display: none;
}
.bottom-pager{
	margin: 20px 0 0 0;
}


.bottom-pager .category_chooser {
    border: none;
    display: inline-block;
    height: 25px;
    padding: 10px 0;
    width: 960px;
}
.pages{
	text-align: center;
}

.pages ol{
	display: inline-block;
}
.pages li {
    color: #000000;
    font: 17px/17px Times;
    padding: 4px 8px;
	float: left;
    text-decoration: none;
	margin: 0px 1px;
}
.pages li a{ 
	color: #000000;
    font: 17px/17px Century;
    text-decoration: none;
	display: block;
}

.pages li:hover{
	background: #D8CB9E;
	color: #fff;
}

.pages li:hover a{
	color: #fff;
}

.pages li.current{
	background: #D8CB9E;
	color: #fff !important;
}

.pages li.current a{
	color: #fff !important;
}

.categories_blue_box a:hover{
	color: #fff;
}

.products_holder_categories .categories_all .categories_items:hover .text-elements{
	display: none;
}

.products_holder_categories .categories_all .categories_items:hover img{
	width: 140px;
	height: 416px;
	
}

.newsletter input[type="text"].required-entry{
	background: #fff !important;
}

.messages {
    overflow: hidden;
    width: 100%;
}
.messages li {
    margin: 0 0 10px !important;
}
.messages li li {
    margin: 0 0 3px !important;
}
.error-msg, .success-msg, .note-msg, .notice-msg {
    background-position: 10px 9px !important;
    background-repeat: no-repeat !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 13px !important;
	line-height: 20px;
    font-weight: normal !important;
    min-height: 24px !important;
    padding: 8px 8px 8px 32px !important;
}
.error-msg {
    background-color: #fff;
    border-color: #000;
    color: #000;
	font-weight: normal !important;
}
.success-msg {
    background-color: #FFFFFF;
    border-color: #000000;
    color: #000000;
    font-weight: normal !important;
}
.note-msg, .notice-msg {
    background-color: #fff;
    border-color: #000;
    color: #000;
}

.right_social_service li.ttl{
	width: 100px;
	line-height: 22px;
}

.right_social_service li{
	width: 85px;
}

.right_social_service li.pinit{
	width: 42px;
}

.right_social_service li.gplus{
	width: 70px;
}

.service_text_holder.news .pagination{
	float: none;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
}

.service_text_holder.news .pagination ul{
	display: inline-block;
}

.service_text_holder.news .pagination li:hover a, .service_text_holder.news .pagination li:hover span{
	color: #fff;
}

.service_text_holder.single-news-holder .date{
	color: #727272;
    font: 18px/22px 'BodoniFLF-Bold';
    text-transform: uppercase;
}

.service_text_holder.single-news-holder .service_nav_bar{
	padding: 0px;
}
.std ul {
    list-style: disc outside none;
    padding-left:0;
}

.categories-title{
	color: #FFFFFF;
    font: italic 30px/30px Times;
    padding-top: 0;
}

.archive-title{
	color: #202C31;
    font: 25px/26px 'BodoniFLF-Bold';
    list-style: none outside none;
    padding-bottom: 10px;
    padding-top: 0;
	text-transform: uppercase;
}

.block-blog-text{
	margin: 0 0 20px 0;
}

.right_blog_container .block-title{
	color: #202C31;
    font: 25px/26px 'BodoniFLF-Bold';
    list-style: none outside none;
    padding-bottom: 10px;
    padding-top: 0;
    text-transform: uppercase;
}

.recent-posts-title{
	color: #202C31;
    font: 25px/26px 'BodoniFLF-Bold';
	text-transform: uppercase;
	padding-bottom: 25px;
}

.category-link{
	color: #3D3D3D;
    font: italic 15px/22px Times;
	text-decoration: none;
}

.social_icons li{
	width: 85px;
}

.social_icons li.gplus {
    width: 70px;
}

.social_icons li.pinit {
    width: 42px;
}

.social_icons .first_child{
	width: 60px;
}

.blog-pager .amount{
	display: none;
}

.blog-pager  .limiter{
	display: none;
}

.pages.right{
	text-align: right;
}

.page-title h1{
	color: #1D292E;
    font: 25px/25px Century;
    text-transform: uppercase;
}

.page-title {
    border-bottom: 1px solid #efefef;
    margin: 0 0 25px;
	padding: 0 0 20px 0;
    overflow: hidden;
    width: 100%;
}

.social_bar li{
	width: 85px;
}

.social_bar li.gplus {
    width: 70px;
}

.social_bar  li.pinit {
    width: 42px;
}

.social_bar{
	display: inline-block;
}

.form-add.review h2{
	color: #fff;
	padding: 0 0 15px 0;
}

.form-add.review label{
	color: #fff;
}

.form-add.review textarea{
	width: 330px;
	resize: none;
	overflow: hidden;
}

.review-item{
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px solid #5A5A5A;
}

.review-item h3{
	color: #D8CB9E;
}

.review-item h4{
	color: #fff;
}

.review-item p{
	padding: 0px;
	margin: 10px 0;
}

.form-add.review h3{
	color: #fff;
}

#product-review-table thead span{
	color: #fff;
}

#product-review-table{
	margin: 0 0 15px 0;
}

.rating-box.review-rating{
	margin: 0 0 10px 0;
}
.cat-menu-img{
	width:215px;
	height:135px;
	background-color:#fff;
}
.cat-menu-img-padd{
	width:215px;
	padding:15px 0;
	height:105px;
	background-color:#fff;
}

.quick_social li.label{
	width: 135px;
}

.quick_social li{
	width: 90px;
}

.quick_social li.gplus{
	width: 70px;
}

.quick_social li.pinit{
	width: 60px;
}

.wholesale_right .required-entry{
	background-image: none!important;
}

.validation-advice {
    margin: 0 0 20px 0;
}

.social_bar_blog .right_social_service li.ttl{
	width: 65px;
}

.form-list li.control label {
    float: left;
}

input.input-text:focus, select:focus, textarea:focus {
    background: none;
}

.select-holder select{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #5F5F5F;
    color: #000000;
    font-size: 15px;
    height: 32px;
	font: italic 15px/22px Times;
    margin-top: 10px;
    padding: 5px;
    text-transform: none;
    width: 333px;
}

#topnav li.level0{
	position: relative;
}

#topnav li.level0:hover  ul.level0{
	display: block;
}

#topnav li.level0 ul.level0{
	position: absolute;
	top: 35px;
	display: none;
	left:0px;
	width: 200px;
	padding: 5px 0px 0 0;
	background: url('../img/arrow_nav_top.png') center top no-repeat;
	
}

#topnav li.level0 ul.level0 li.level1{
	padding: 7px 30px 7px 30px;
	margin: 0px;
	background:#272F30;
	width: 140px;
}

#topnav li.level0 ul.level0 li.level1.last{
	padding-bottom: 20px;
}

#topnav li.level0 ul.level0 li.level1.first{
	padding-top: 20px;
}


#topnav li.level0 ul.level0 li.level1 a{
	padding: 0px;
	color: #fff;
	font-size: 14px;
	font-family: 'LuzSans-Heavy';
}

#topnav li.level0 ul.level0 li.level1 a:hover, nav ul li .menu_iner a:hover{
	color: #D8CB9E;
}

.voucher_code input[type="submit"]:hover{
	color: #fff;
}

.voucher_holder span a:hover{
	color: #D8CB9E;
}

.center-align .newsletter_holder{
	padding: 0 0 70px 340px;
}

.newsletter-waranty{
	padding: 0 0 0 50px;
	display: inline-block;
}

.warranty_form .newsletter input[type="submit"] {
    background: url("../img/newsletter.png") no-repeat scroll 0 5px transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 28px;
    margin: 0;
    padding: 0;
    width: 15px;
}

.newsletter-waranty .newsletter_holder{
	width: 337px;
}

.newsletter-waranty .newsletter_holder p{
	margin: 0 0 10px 0 !important;
}


.newsletter-waranty .newsletter_holder .newsletter{
	width: 335px;
}

.newsletter-waranty .newsletter_holder .newsletter input[type="text"]{
	width: 297px;
}

.option-holder{
	display: inline-block;
	width: 100%;
}

.option-holder span{
    display: inline-block;
    float: left;
	padding: 0px;
    font: 17px/25px Century;
    text-transform: uppercase;
    width: 90px;
}

.option-holder select{
    color: #000000;
    height: 30px;
    width: 153px;
	background: transparent;
    color: #000000;
    font: italic 13px/24px Times;
	padding: 5px;
	background: transparent;
    line-height: 1;
	border: 0;
	border-radius: 0;
   -webkit-appearance: none;
}

.styled-select{
    background: url("../img/select_box_bg.png") no-repeat right center transparent;
    border: 1px solid #E1E1E1;
    color: #000000;
    font: italic 13px/24px Times;
    height: 25px;
	float: left;
    overflow: hidden;
    width: 130px;
}

.option-holder select.required-entry{
	background: transparent!important;
}

.text_holder_product_details ul{
	list-style: disc;
	padding: 0 0 0 15px;
	margin: 0 0 0  15px;
}

.text_holder_product_details ul li{
	list-style: disc;
}

.text_holder_product_details ul.form-list{
	list-style: none;
	padding: 0;
	margin: 0px;
}

.text_holder_product_details ul.form-list li{
	list-style: none;
}

.subscribe_holder h2 {
    color: #231F20;
    font: 35px/35px 'BodoniFLF-Bold';
    padding: 75px 0 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.subscribe_holder {
    font: italic 15px/26px Times;
    padding: 20px 90px;
    text-align: center;
}

.subscribe_holder a.bth{
	background: url("../img/submit_register.png") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: block;
    font: 17px/54px Century;
    height: 54px;
    margin: 0 auto 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 191px;
}

.subscribe_holder a.bth:hover{
	color: #fff;
}

.icons_holder{
	width: 100%;
	display: inline-block;
}

.icon-wrapp{
	width: 150px;
	float: left;
	margin: 10px 0;
	text-align: center;
}

.icon-wrapp span{
	display: block;
}

.icon-wrapp img{
	padding: 0 0 15px 0;
}
#giftvoucher_add{
	background-color:#D8CB9E;
	color:#000;
	font:normal 12px/28px Century;
	width:110px;
	height:30px;
}