<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<?php $comments = $this->getComments() ?>
<div id="comments" class="comments_blog">
	<?php if ($comments->count() > 0): ?>
		
		<h2><?php echo $this->__('Comments (<span>%s</span>)', $this->getCommentCount()) ?></h2>
		
		
			<?php foreach($comments as $comment): ?>
				<div class="one_comment" id="comment-<?php echo $comment->getId() ?>">
					<div class="comment-meta comment-date by">
						<h3><?php if ($comment->getCommentAuthorUrl() !== '#'): ?>
								<a href="<?php echo $this->escapeHtml($comment->getCommentAuthorUrl()) ?>" rel="nofollow" class="comment-url"><?php echo $this->escapeHtml($comment->getCommentAuthor()) ?></a> 
							<?php else: ?>
								<?php echo $this->escapeHtml($comment->getCommentAuthor()) ?>			
							<?php endif; ?>
						</h3>
					</div>
					<p class="comment-entry entry"><?php echo nl2br($this->escapeHtml($comment->getCommentContent())) ?></p>
				</div>
			<?php endforeach; ?>
		
		<?php echo $this->getPagerHtml() ?>
	<?php endif; ?>
	<?php if ($this->canComment()): ?>
		<?php echo $this->getCommentFormHtml() ?>
	<?php endif; ?>
</div>
