<?php 
	$_collection = $this->getSlideshow();
?>
<div id="home-slider" class="slider">
	<div class="slider__top-edge"></div>
	<?php foreach($_collection as $_item) : ?>
		<a href="<?php echo $_item->getTitle(); ?>"><img src="<?php echo "media/" .$_item->getSlideImage(); ?>" alt=""></a>
	<?php endforeach; ?>
	<div class="slider__pages cycle-pager"></div>
</div>