<?php echo $this->getChildHtml('html_calendar'); ?>
        <style>
	.form-list .prod_field {
	float: left;
	width: 148px;
	}
	.form-list .prod-input-box {
    clear: both;
    display: block;
    width: 148px;
}

.form-list .prod_field input.input-text {
    width: 130px;
}
.form-list .prod_field select {
    width: 130px;
}	
.removelink { float: left;
    line-height: 21px;
    margin: 0;
    padding-top: 17px;
    width: 32px;
	}
.form-list .prod_field input.datetype { width:64px;}
.form-list .fields input.input-title {
    width: 50px;
}
.form-list .titleselect{ width:54px;}
	</style>
	<div class="top_nav_service_pages">
	<?php $_pageParent = Mage::getModel('cms/page')->load(12); ?>
	<h1><?php echo $_pageParent->getTitle(); ?></h1>
	<div class="top_nav_service_pages_blue_stripe"></div>
		<ul>
			
			<?php foreach($_pageParent->getChildren() as $_pageParentChild) { ?>
	
				<li<?php if($_pageParentChild->getId() == 13) { echo " class='active'"; } ?>><a href="<?php echo  $this->getUrl($_pageParentChild->getIdentifier())?>"><?php echo $_pageParentChild->getTitle(); ?></a></li>
			
			<?php } ?>
		</ul>
	</div>
	<div class="social-absolute">
		<ul class="right_social_service">
			<li class="ttl"><span>Share This On:</span></li>
			<li><div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true"></div></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
			<li class="gplus">
				<!-- Place this tag where you want the +1 button to render. -->
				<div class="g-plusone" data-size="medium"></div>
				<!-- Place this tag after the last +1 button tag. -->
				<script type="text/javascript">
				  (function() {
					var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					po.src = 'https://apis.google.com/js/plusone.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</li>
			<li class="pinit">
				<? $page_url = $_SERVER['SERVER_NAME'].$_SERVER['REQUEST_URI']; ?>
				<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2F<? echo $page_url; ?>&media=http%3A%2F%2Fwww.bibasque.com.vhost.zerolag.com%2Fskin%2Ffrontend%2Fdefault%2Fbibasque%2Fimg%2Flogo.png&description=BIBASQUE%20is%20putting%20the%20B%20back%20in%20Beauty" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
			</li>
		
		</ul>
	</div>
	<div class="service_holder">
		<div class="service_nav_bar">
			<h2>Warranty registration</h2>
		</div>
	</div>
<div class="service_text_holder warranty_form">
	<h3>
		Please Fill out EVERY Field below to ensure proper
		warranty documentation
	</h3>
<form id="form-validate" method="post" action="<?php echo $this->getUrl('productwarranty/register/post'); ?>">
		<div class="form">
	   <div class="warranty_form_left">
		
            <h4>Personal Info</h4>
			<ul class="form-list">
			<li>
				<label class="required" for="title">Title</label>
				<div class="input-box">
					<select name="title" id="title" class="validate-select">
					<option value=""></option>
					<option value="Dr">Dr</option>
					<option value="Mr">Mr</option>
					<option value="Mrs">Mrs</option>
					<option value="Miss">Miss</option>
					<option value="Mdm">Mdm</option>			
					</select>
				</div>
			</li>
			<li>
				<label class="required" for="firstname">First Name</label>
				<div class="input-box">
					<input type="text" class="input-text required-entry" maxlength="255" title="First Name" value="" name="firstname" id="firstname">
				</div>
			</li>
			<li>
				<label class="required" for="lastname">Last Name</label>
				<div class="input-box">
					<input type="text" class="input-text required-entry" maxlength="255" title="Last Name" value="" name="lastname" id="lastname">
				</div>
			</li>
                
                
                
            <li>
				<label class="required" for="firstname">Address 1</label>
				<div class="input-box">
					<input type="text" class="input-text required-entry" maxlength="255" title="Address 1" value="" name="address1" id="address1">
				</div>
			</li>
			<li>
				<label class="required" for="lastname">Address 2</label>
				<div class="input-box">
					<input type="text" class="input-text" maxlength="255" title="Address 2" value="" name="address2" id="address2">
				</div>	
			</li>  
                
             
             
            <li>
				<label class="required" for="firstname">City</label>
				<div class="input-box">
					<input type="text" class="input-text required-entry" maxlength="255"  value="" name="city" id="city">
				</div>
			</li>
			<li>
				<label class="required" for="region_id">State</label>
				<div class="input-box">
						<select id="region_id" name="state_id" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
						 <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
						</select>
						<script type="text/javascript">
						//<![CDATA[
							$('region_id').setAttribute('defaultValue',  "");
						//]]>
						</script>
						<input type="text" id="region" name="state" class="input-text required-entry" style="display:none;" />
				</div>
			</li>
            <li>
             
				<label for="zip" class="required"><?php echo $this->__('Zip/Postal Code') ?></label>
				<div class="input-box">
					<input type="text" name="postcode"  title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip" class="input-text validate-zip-international" />
				</div>
            </li>   
            <li>   
				<label for="country" class="required"><?php echo $this->__('Country') ?></label>
				<div class="input-box">
			   <?php $_countries = Mage::getResourceModel('directory/country_collection')
								->loadData()
								->toOptionArray(false) ?>
					<?php if (count($_countries) > 0): ?>
						<select name="country" id="country">
							<option value="">-- Please Select --</option>
							<?php foreach($_countries as $_country): 
							$selected="";
							if($_country['value']=='US') { $selected="selected";}
							?>
								<option value="<?php echo $_country['value'] ?>" <?php echo $selected;  ?>>
									<?php echo $_country['label'] ?>
								</option>
							<?php endforeach; ?>
						</select>
					<?php endif; ?>
				</div>
            </li>     
                
                
            <li>
                <label class="required" for="telephone">Telephone</label>
				<div class="input-box">
					<input type="text" class="input-text required-entry" maxlength="255" title="Telephone" value="" name="telephone" id="telephone">
				</div>
			</li>
			<li>
				<label class="required" for="mobile">Mobile</label>
				<div class="input-box">
					<input type="text" class="input-text" maxlength="255" title="Mobile" value="" name="mobile" id="mobile">
				</div>
			</li>  
            <li>
				<label class="required" for="email_address">Email Address</label>
				<div class="input-box">
					<input type="text" class="input-text validate-email required-entry" title="Email Address" id="email_address" name="email">
				</div>
			</li>
			<li>
				<label class="required" for="mobile">Fax</label>
				<div class="input-box">
					<input type="text" class="input-text" maxlength="255" title="Fax" value="" name="fax" id="fax">
				</div>
			</li>
            </ul>
        </div>

        <?php $products = Mage::getModel('catalog/product')->getCollection();
			$products->addAttributeToSelect('name');
			$products->addAttributeToSelect('entity_id');
		
		 ?>
           	<div class="warranty_form_right">
			<h4>Product Info</h4>
            <ul class="form-list">			
			<?php for($i=1;$i<=10;$i++)
			{
			?>			
                <li class="fields" id="prod_div_<?php echo $i ?>" <?php if($i>1) { echo "style='display:none;'";} ?>>
					<input type="hidden" id="prod_hide_<?php echo $i ?>" name="hide[]" value="<?php if($i>1) { echo "0";} else { echo "1";} ?>" />
                   
					<label class="required" for="product">Product Name</label>
				   <div class="input-box">
					<select name="product_id[]" class="required-entry"> 
					<option value=""></option>  
					<?php foreach($products as $product) 
						{
							echo "<option value='".$product['entity_id']."'>".$product['name']."</option>";
						} ?>
					</select>
					</div>
                   
                  
                        <label class="required" for="confirmation">Serial Number</label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" title="Serial Number" name="serial_number[]">
                        </div>
                  
                    
                        <label class="required" for="confirmation">Date of Purchase</label>
                        <div class="input-box">
                            <input type="text" class="input-text datetype required-entry" name="purchase_date[]" id="purchase_date<?php echo $i ?>" /> 
<img title="Select date" id="cal_date_trig<?php echo $i ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN) . 'adminhtml/default/default/images/grid-cal.gif'; ?>"  class="v-middle"/>

                        </div>
                  
                    
                        <label class="required" for="purchased_from">Purchased From</label>
                        <div class="input-box">
                            <input type="text" class="input-text required-entry" title="Purchased From" name="purchased_from[]">
                        </div>

					<?php if($i>1) { ?><div class="removelink"><a href="javascript:void(0)" onclick="hideMe(<?php echo $i ?>)">remove</a></div> <?php } ?>
				<script type="text/javascript">
					//<![CDATA[	 
					Calendar.setup({
					inputField : 'purchase_date<?php echo $i ?>',
					ifFormat : '%m/%e/%y',
					button : 'cal_date_trig<?php echo $i ?>',
					align : 'Bl',
					singleClick : true
					});  //]]>
				</script>
                </li>
       
				 <?php } ?>
				 
				 
<? /* <div class="add_more" id="addmore"><a href="javascript:void(0)" onclick="addMore()">add</a></div> */ ?>
                            </ul>
            

		   <div class="buttons-set">
        <?php  /*    <p class="required">* Required Fields</p>             */ ?>
			<input type="submit" title="<?php echo 'Submit';?>" value="<?php echo 'Submit';?>" class="button" />
			<input type="reset" value="Reset" />
			
        </div>
        </div>
     
        </div>
        </form>
			 <script type="text/javascript">
			 var i=1;	
			 function hideMe(val)
			 {
				if(document.getElementById('prod_div_'+val))
				{document.getElementById('prod_div_'+val).style.display="none";}
				if(document.getElementById('prod_hide_'+val)) {
				document.getElementById('prod_hide_'+val).value=0; }
				i=1;
			 }
			 
			 
			 		
			 function addMore()
			 {  i=i+1;
				 if(document.getElementById('prod_div_'+i)) {
				 document.getElementById('prod_div_'+i).style.display="block"; }
				 if(document.getElementById('prod_hide_'+i)) {
				 document.getElementById('prod_hide_'+i).value=1; }
				 if(i>10)
				 {
					document.getElementById('addmore').innerHTML ="Only 10 products allowed one time!";
				 }
			 }
		//<![CDATA[	 			
        var dataForm = new VarienForm('form-validate', true);
      
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
       
    //]]>
    </script>
</div>
