<?php
/**
 * Voucher Activated template
 *
 */
?>
<?php
	$coupon_code = trim(Mage::getSingleton("checkout/session")->getData("coupon_code"));
	$storeId = Mage::app()->getStore()->getStoreId();
	$websiteId = Mage::getModel('core/store')->load($storeId)->getWebsiteId();
	$customerGroupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
	$_rules= Mage::getResourceModel('salesrule/rule_collection')
		->setValidationFilter($websiteId, $customerGroupId, $coupon_code)
		->load();
	foreach($_rules as $_rule){
		$rule_description = $_rule->getDescription();
	}
	
 ?>

<div class="voucher_thank_you_holder">
	<h2>
		Congratulations, hot stuff - your voucher code has been activated!
	</h2>
	<? /* <div class="voucher_thank_you_img">
		<img src="<? echo $this->getSkinUrl('img/thank_you_voucher.png'); ?>"/>
	</div> */ ?>
	<p class="voucher_blue_text">
		<?php echo $rule_description; ?> 
	</p>
	<p>
		"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ."
	</p>
	<div class="blue_stripe_voucher">
		<img src="<? echo $this->getSkinUrl('img/last_chance_stripe.png'); ?>" />
	</div>
	<div class="voucher_thank_you_button">
		<a href="/">start shopping</a>
	</div>
</div>	