<?php
/**
 * Voucher template
 *
 */
?>
<div class="voucher_holder">
	<h2>Voucher Redemption</h2>
	<div class="voucher_img">
		<img src="<? echo $this->getSkinUrl('img/voucher_logo.png'); ?>"/>
	</div>
	<p>
		Thank you for purchasing your special deal! Let us help you finalize your order. To get started, please enter your voucher code below:
	</p>
	<div class="blue_stripe_voucher">
		<img src="<? echo $this->getSkinUrl('img/last_chance_stripe.png'); ?>"/>
	</div>
	<div class="voucher_code">
		<form action="/voucher/index/activate" method="post" >
			<input type="text" name="coupon_code" placeholder="Voucher Code..."></input>
			<input type="submit" value="reedem" />
		</form>
	</div>
	<span>Having trouble?<a href="#">Click here></a></span>
</div>	